-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('_help')

#section_header
  %h2
    = t('_help')
  //= render('help_nav')
.span-5
  = render('faq_nav')

.span-19.last#faq
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.what_is_an_aspect_q')
    .answer= t('.what_is_an_aspect_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.who_sees_post_q')
    .answer= t('.who_sees_post_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.restrict_posts_i_see_q')
    .answer= t('.restrict_posts_i_see_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.contacts_know_aspect_q')
    .answer= t('.contacts_know_aspect_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.contacts_visible_q')
    .answer= t('.contacts_visible_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.remove_notification_q')
    .answer= t('.remove_notification_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.rename_aspect_q')
    .answer= t('.rename_aspect_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.change_aspect_of_post_q')
    .answer= t('.change_aspect_of_post_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.post_multiple_aspects_q')
    .answer= t('.post_multiple_aspects_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.person_multiple_aspects_q')
    .answer= t('.person_multiple_aspects_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.delete_aspect_q')
    .answer= t('.delete_aspect_a')
