-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('_help')

#section_header
  %h2
    = t('_help')
  //= render('help_nav')
.span-5
  = render('faq_nav')

.span-19.last#faq
  %h1 diaspora* FAQ
  %br
  .question.opened
    %h4= t('.getting_started_q')
    .answer!= t('.getting_started_a', :tutorial_series => link_to(t('help.getting_started_tutorial'), 'http://diasporafoundation.org/getting_started/sign_up', :target => '_blank'))
  .question.opened
    %h4= t('.get_support_q')
    .answer
      %ul
        %li!= t('.get_support_a_website', :link => link_to(t('help.foundation_website'), 'https://diasporafoundation.org', :target => '_blank'))
        %li!= t('.get_support_a_tutorials', :tutorials => link_to(t('help.tutorials'), 'https://diasporafoundation.org/tutorials', :target => '_blank'))
        %li!= t('.get_support_a_wiki', :link => link_to(t('help.wiki'), 'https://wiki.diasporafoundation.org/Special:Search', :target => '_blank'))
        %li!= t('.get_support_a_irc', :irc => link_to(t('help.irc'), 'https://wiki.diasporafoundation.org/How_We_Communicate#IRC', :target => '_blank'))
        %li!= t('.get_support_a_hashtag', :question => link_to("#"+t('aspects.index.help.tag_question'), tag_path(:name => t('aspects.index.help.tag_question'))))
