-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('_help')

#section_header
  %h2
    = t('_help')
  //= render('help_nav')
.span-5
  = render('faq_nav')

.span-19.last#faq
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.what_is_a_mention_q')
    .answer= t('.what_is_a_mention_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.how_to_mention_q')
    .answer= t('.how_to_mention_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.mention_in_comment_q')
    .answer= t('.mention_in_comment_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.see_mentions_q')
    .answer= t('.see_mentions_a')
