-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('_help')

#section_header
  %h2
    = t('_help')
  //= render('help_nav')
.span-5
  = render('faq_nav')

.span-19.last#faq
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.back_to_top_q')
    .answer= t('.back_to_top_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.photo_albums_q')
    .answer= t('.photo_albums_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.subscribe_feed_q')
    .answer= t('.subscribe_feed_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.diaspora_app_q')
    .answer= t('.diaspora_app_a')
