-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('_help')

#section_header
  %h2
    = t('_help')
  //= render('help_nav')
.span-5
  = render('faq_nav')

.span-19.last#faq
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.hide_posts_q')
    .answer= t('.hide_posts_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.format_text_q')
    .answer!= t('.format_text_a', :markdown => link_to(t('help.markdown'), 'http://diasporafoundation.org/formatting', :target => '_blank'), :here => link_to(t('help.here'), 'http://daringfireball.net/projects/markdown/syntax', :target => '_blank'))
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.insert_images_q')
    .answer= t('.insert_images_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.insert_images_comments_q')
    .answer 
      =t('.insert_images_comments_a1')
      %pre
        = '![' + t('.image_text') + '](' + t('.image_url') + ')'
      =t('.insert_images_comments_a2')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.size_of_images_q')
    .answer= t('.size_of_images_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.embed_multimedia_q')
    .answer= t('.embed_multimedia_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.character_limit_q')
    .answer= t('.character_limit_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.char_limit_services_q')
    .answer= t('.char_limit_services_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.stream_full_of_posts_q')
    .answer
      = t('.stream_full_of_posts_a1')
      %ol
        %li= t('.stream_full_of_posts_li1')
        %li= t('.stream_full_of_posts_li2')
        %li= t('.stream_full_of_posts_li3')
