-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('_help')

#section_header
  %h2
    = t('_help')
  //= render('help_nav')
.span-5
  = render('faq_nav')

.span-19.last#faq
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.who_sees_post_q')
    .answer= t('.who_sees_post_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.can_comment_q')
    .answer= t('.can_comment_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.can_reshare_q')
    .answer= t('.can_reshare_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.see_comment_q')
    .answer= t('.see_comment_a')
