- content_for :page_title do
  = AppConfig.settings.pod_name + " - " + t("devise.shared.links.sign_up_closed")

.container
  .row
    .col-md-10.offset1
      .col-md-7.hidden-phone
        %h1.ball
      .col-md-5.v-center
        .content
          %h2
            = t("devise.shared.links.sign_up_closed")

          != t("help.closed_pod",
          wiki: link_to("another pod", "https://diasporafoundation.org/getting_started/sign_up"))

          != t("help.find_pods",
          poduptime: link_to("Poduptime", "https://podupti.me/"))

          != t("help.other_questions",
          wiki: link_to("Wiki", "https://wiki.diasporafoundation.org/Choosing_a_pod"))
  
  


