-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('_help')

#section_header
  %h2
    = t('_help')
  //= render('help_nav')
.span-5
  = render('faq_nav')

.span-19.last#faq
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.add_to_aspect_q')
    .answer
      = t('.add_to_aspect_a1')
      %ul
        %li=t('.add_to_aspect_li1')
        %li=t('.add_to_aspect_li2')
        %li=t('.add_to_aspect_li3')
        %li=t('.add_to_aspect_li4')
        %li=t('.add_to_aspect_li5')
        %li=t('.add_to_aspect_li6')
        %li=t('.add_to_aspect_li7')
      =t('.add_to_aspect_a2')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.only_sharing_q')
    .answer= t('.only_sharing_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.list_not_sharing_q')
    .answer= t('.list_not_sharing_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.see_old_posts_q')
    .answer= t('.see_old_posts_a')
