-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('_help')

#section_header
  %h2
    = t('_help')
  //= render('help_nav')
.span-5
  = render('faq_nav')

.span-19.last#faq
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.what_are_tags_for_q')
    .answer= t('.what_are_tags_for_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.tags_in_comments_q')
    .answer= t('.tags_in_comments_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.followed_tags_q')
    .answer= t('.followed_tags_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.people_tag_page_q')
    .answer= t('.people_tag_page_a')
  .question.opened.collapsible
    %a.toggle{ :href => '#' }
      %h4= t('.filter_tags_q')
    .answer!= t('.filter_tags_a', :third_party_tools => link_to(t('help.third_party_tools'), 'https://wiki.diasporafoundation.org/Tools_to_use_with_Diaspora', :target => '_blank'))
