{{#if canRemove}}
<div class="controls">
    <a href="#" class="delete comment_delete" title="{{t "delete"}}">
      <div alt="Deletelabel" class="icons-deletelabel" />
    <a/>
</div>
{{/if}}

<div class="img">
    {{#linkToPerson author}}
        <div class="profile-image-container smaller" style="background-image : url('{{avatar.large}}')"></div>
    {{/linkToPerson}}
</div>

<div class="bd">
    <a href="/people/{{author.guid}}" class="author author-name">
        {{author.name}}
    </a>

    <div class="collapsible comment-content">
        {{{text}}}
    </div>

    <div class="info">
        <time class="timeago" data-original-title="{{{localTime created_at}}}" datetime="{{created_at}}"/>
    </div>
</div>
