%li.remote_friend{:id => "uid_" + friend.uid, :uid => friend.uid}
  - if friend.on_diaspora?
    = person_image_link(friend.person, :size => :thumb_small)
  - else
    = image_tag(friend.photo_url, :class => 'avatar')

  %h4.name
    - if friend.on_diaspora?
      = link_to friend.name, person_path(friend.person)
    - else
      = friend.name

  - if friend.already_invited?
    = link_to t('.resend'), service_inviter_path(:uid => friend.uid, :provider => 'facebook', :invitation_id => friend.invitation_id)
  - elsif friend.on_diaspora?
    = render 'aspect_memberships/aspect_dropdown', :contact => contact_proxy(friend), :person => friend.person, :hang => 'left'
  - else
    = facebook_invite_form(friend)


