.stream_element{:id => friend.id}
  .float-right
    - if friend.on_diaspora?
      = aspect_membership_dropdown(contact_proxy(friend), friend.person, 'left')
    - else
      = render 'shared/aspect_dropdown', :selected_aspects => contact_proxy(friend).aspects, :person => friend.person, :hang => 'left', :dropdown_class => 'inviter', :service_uid => friend.uid

  .media
    - if friend.on_diaspora?
      .img
        = person_image_link(friend.person, :size => :thumb_small)
    - else
      .img
        = image_tag(friend.photo_url, :class => 'avatar')
    .content
      %span.from.name
        - if friend.on_diaspora?
          = link_to friend.name, local_or_remote_person_path(friend.person)
        - else
          = friend.name


    .info
      - if friend.person
        = friend.person.diaspora_handle
      - else
        =t('.not_on_diaspora')
