-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = include_javascripts :aspects

= include_javascripts :finder

#aspect_edit_pane.larger.friend_finder
  #facebox_header
    %h4
      = t('.invite_your_friends_from', :service => params[:provider].titleize)
      .description
        - if @friends.keys.length > 0
          = t('.friends', :count => @friends.keys.length)
        - else
          %i= t('.not_connected')


  .contact_list
    - if @friends.keys.length > 0
      = render :partial => 'services/finder', :locals => {:friends => @friends}
    - else
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %h4{:style => 'text-align:center;'}
        = link_to t('services.index.connect_to_facebook'), "/auth/facebook" if SERVICES['facebook']['app_id'] !=""
