-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('.edit_services')

.bootstrap_header_padding

.container
  .row-fluid
    .span12
      #section_header
        %h2
          = t('settings')
        = render 'shared/settings_nav'

  .row-fluid
    .span7
      = render 'shared/add_remove_services'

    .span5
      %p
        = t('.services_explanation')
