-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.



%h1
  = "Welcome, #{current_user.real_name}!"
  .description
    Do the stuff below to further complete some things.

%h2
  Edit your profile ➔
  %u
    Define your aspects
  ➔
  Find your friends

%h3
  Your aspects
  .description
    These will be blah blah blah blah and some stuff.

%h4
  Aspect name
  = text_field_tag :aspect_name, nil, :placeholder => "New aspect"

%ul.aspects
  - for aspect in @aspects
    %li
      = aspect
      .friend_pictures.horizontal
        - for friend in @friends
          = person_image_link(friend)

