-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.



.span-8.append-1.last
  %h1{:style => "text-align:right;"}
    = "Welcome to Diaspora!"
    .description
      Do the stuff below to further complete some things.

  %h3{:style => "text-align:right;"}
    = link_to "Edit your profile", getting_started_path(1)
    %br
    = link_to "Define your aspects", getting_started_path(2)
    %br
    = link_to "Connect your services", getting_started_path(3)
    %br

.span-15.last
  .floating
    %h3
      Your services
      .description
        Connect your existing social networks to your Diaspora account.  You will be able to post publically through your Everyone tab when you select "public."
    %ul#stream
      - for service in @services
        %h3
          %b= service.provider
          logged in as
          %b
            = service.nickname
          = link_to "disconnect", service, :confirm => "disconnect #{service.provider}?", :method => :delete

    %h4= link_to "Connect to twitter", "/auth/twitter" if SERVICES['twitter']['consumer_key']!= ""
    %h4= link_to "Connect to facebook", "/auth/facebook" if SERVICES['facebook']['app_id'] !=""

    .submit_block
      = link_to "Back", getting_started_path(2), :class => "button"
      = link_to "Save and continue →", getting_started_path(4), :class => "button"
