-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


%h3
  = t('.your_services')
  .description
    = t('.description')

= render 'shared/add_remove_services'

.submit_block
  = link_to "#{t('users.getting_started.save_and_continue')} →", getting_started_path(:step => 2), :class => "button"

