-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


%h3
  Your services
  .description
    Connect your existing social networks to your Diaspora account.  You will be able to post publically through your Everyone tab when you select "public."
%ul#stream
  - for service in @services
    %h3
      %b= service.provider
      logged in as
      %b= service.nickname
      = link_to "disconnect", service, :confirm => "disconnect #{service.provider}?", :method => :delete

%h4= link_to "Connect to twitter", "/auth/twitter" if SERVICES['twitter']['consumer_key']!= ""
%h4= link_to "Connect to facebook", "/auth/facebook" if SERVICES['facebook']['app_id'] !=""

.submit_block
  = link_to "Save and continue →", getting_started_path(:step => 4), :class => "button"

