-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.
%h3
  = t('.your_aspects')
  .description
    = t('.description')

%h4
  = t('.aspect_name')
  = form_for Aspect.new do |aspect|
    = aspect.text_field :name, :style => "display:inline;"
    = aspect.submit t('.add')

%ul.aspects
  - for aspect in @aspects
    %li{:style=>"position:relative;"}
      = aspect
      .contact_pictures.horizontal
        - for contact in aspect.contacts
          = person_image_link(contact.person)

        = link_to (image_tag('add_contact_button.png', :title => t('shared.aspect_contacts.add_to', :aspect => aspect))), '#manage_aspect_contacts_pane', :class => 'manage_aspect_contacts_button'

        .fancybox_content
          #manage_aspect_contacts_pane
            = render "requests/manage_aspect_contacts", :aspect => aspect, :getting_started => 2

      = link_to "x", aspect_path(aspect), :method => :delete, :remote => true, :class => "delete right"

%br
%br

.submit_block
  = link_to "#{t('users.getting_started.save_and_continue')} →", getting_started_path(:step => 3), :class => "button"

