-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


%h1
  = t('.all_set_up', :name => current_user.person.profile.first_name)
  .description
    = t('.ready_to_start_sharing')
    %ul.inline_aspect_listing
      - for aspect in @aspects
        %li= aspect

%br
%br

%h3
  = link_to t('.continue_to') , root_path

%br
%br
%br

%p
  = t('.you_can_change_profile')
  %b 
    = t('layouts.application.edit_profile')
  = t('.in_your_user_menu')
%p
  = t('.connect_disconnect_info')
  %b 
    = t('layouts.application.account_settings')
  = t('.in_your_user_menu')
%p
  = t('.manage_your_aspects_info')
  %b 
    = t('shared.aspect_nav.manage')
  = t('.contacts_can_also_info')
