-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


%h3
  = t('.your_aspects')
  .description
    = t('.description')

%h4
  = t('.aspect_name')
  = form_for Aspect.new, :remote => true, :format => :json do |aspect|
    = aspect.text_field :name, :style => "display:inline;"
    = aspect.submit t('.add')

%ul.aspects
  - for aspect in @aspects
    %li{:style=>"position:relative;"}
      = aspect
      .friend_pictures.horizontal
        - for friend in aspect.person_objects
          = person_image_link(friend)

        = link_to (image_tag('add_friend_button.png', :title => t('shared.aspect_friends.add_to', :aspect => aspect))), "#add_request_pane", :class => 'add_request_button'

        .fancybox_content
          #add_request_pane
            = render "requests/new_request", :aspect => aspect, :getting_started => 2

      = link_to "x", aspect_path(aspect), :method => :delete, :remote => true, :class => "delete right"

%br
%br

.submit_block
  = link_to "#{t('users.getting_started.save_and_continue')} →", getting_started_path(:step => 3), :class => "button"

