-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.
- content_for :head do
  = include_javascripts :aspects

%h3
  = t('.people_already_on_diaspora')

  %br
  %br

#people_stream.stream
  - for pending_req in @requests
    - person = pending_req.sender

    = render :partial => 'people/person', :locals => {:request => pending_req, :person => person, :contact => nil}
  - for friend in @friends
    = render :partial => 'people/person', :locals => {:request => friend.request, :person => friend.person, :contact => friend.contact}

%br
%br

.submit_block
  = link_to "#{t('.finish')} →", getting_started_completed_path, :class => 'button'
