-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.
- content_for :head do
  = include_javascripts :aspects

%h3
  = t('.your_aspects')
  .description
    = t('.description')
    -if @requests.length > 0
      %br 
      = t('.your_inviter')
      %br

      #people_stream.stream
        - for pending_req in @requests
          - person = pending_req.sender
          
          = render :partial => 'people/person', :locals => {:request => pending_req, :person => person, :contact => nil}
    -unless @friends.blank?
      %br
      .contact_list
        = render :partial => 'services/finder', :locals => {:friends => @friends, :getting_started => true}


.submit_block
  = link_to "#{t('users.getting_started.save_and_continue')} →", getting_started_path(:step => 4), :class => "button"

