-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


%h1
  = t('.set_up', :name => current_user.person.profile.first_name || current_user.username)
  .description
    = t('.ready_to_share')
    %ul.inline_aspect_listing
      - for aspect in @aspects
        %li= aspect

%br
%br

%h3
  = link_to t('.continue'), root_path

%br
%br
%br

%p
  = t('.change_profile')
  %b #{t('layouts.header.edit_profile')}
  = t('.user_menu')
%p
  = t('.connect_disconnect')
  %b #{t('layouts.header.account_settings')}
  = t('.user_menu')
%p
  = t('.manage_aspects')
  %b #{t('shared.aspect_nav.manage')}
  = t('.tab_also_added')

.submit_block
  = link_to "#{t('.finish')} →", root_url, :class => "button"

