-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


%h3
  = t('.your_services')
  .description
    = t('.description')
%ul#stream
  - for service in @services
    %h3
      %b= service.provider
      = t('.logged_in_as')
      %b= service.nickname
      = link_to t('.disconnect'), service, :confirm => t('.disconnect_from', :service => service.provider), :method => :delete

%h4= link_to t('.connect_to_twitter'), "/auth/twitter" if SERVICES['twitter']['consumer_key']!= ""
%h4= link_to t('.connect_to_facebook'), "/auth/facebook" if SERVICES['facebook']['app_id'] !=""

.submit_block
  = link_to "#{t('.save_and_continue')} →", getting_started_path(:step => 4), :class => "button"

