-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


= form_for @person, :html => { :multipart => true } do |person|
  %h3
    = t('people.edit.your_profile')
    .description
      = t('people.edit.info_available_to')

  = person.error_messages

  = person.fields_for :profile do |profile|
    %h4
      = t('people.edit.your_name')
      = profile.text_field :first_name, :value => @profile.first_name, :placeholder => "First name"
      = profile.text_field :last_name, :value => @profile.last_name, :placeholder => "Last name"

    %h4
      =t('people.edit.your_gender')
      %br
      = select_tag 'person[profile][gender]', options_for_select(["","Female","Male"], @person.profile.gender)

    %h4
      =t('people.edit.your_birthday')
      %br
      = select_date @person.profile.birthday, :order => [:month, :day, :year], :start_year => 1930, :end_year => 2000

    %h4
      =t('people.edit.your_bio')
      = profile.text_area :bio, :value => @profile.bio, :rows => 5, :placeholder => t('people.edit.fill_me_out')

    %h4
      =t('people.edit.your_photo')
      = render 'people/profile_photo_upload', :form => profile

    = hidden_field_tag :getting_started, @step

  .submit_block
    = person.submit t('users.getting_started.save_continue')

