-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


%h3
  Your aspects
  .description
    Tell Diaspora what different aspects of you are seen by different friends.  You can manage these later by clicking the manage tab on the top right.  Your aspects are unique to you, and not visible by others.

%h4
  Aspect name
  = form_for Aspect.new, :remote => true, :format => :json do |aspect|
    = aspect.text_field :name, :style => "display:inline;"
    = aspect.submit "Add"

%ul.aspects
  - for aspect in @aspects
    %li{:style=>"position:relative;"}
      = aspect
      .friend_pictures.horizontal
        - for friend in aspect.person_objects
          = person_image_link(friend)

        = link_to (image_tag('add_friend_button.png', :title => "add to #{aspect}")), '#manage_aspect_contacts_pane', :class => 'manage_aspect_contacts_button'

        .fancybox_content
          #manage_aspect_contacts_pane
            = render "requests/manage_aspect_contacts", :aspect => aspect, :getting_started => 2

      = link_to "x", aspect_path(aspect), :method => :delete, :remote => true, :class => "delete right"

%br
%br

.submit_block
  = link_to "Save and continue →", getting_started_path(:step => 3), :class => "button"

