%li.message{:id => post.id, :class => ("mine" if mine?(post))}
  %span.from
    = link_to_person post.person
    %b shared a link
  - if mine?(post)
    .destroy_link
      = link_to 'Destroy', status_message_path(post), :confirm => 'Are you sure?', :method => :delete
    %br
  = post.title

  %a{:href => "#{post.link}"}
    = post.link
  %div.time= link_to "#{time_ago_in_words(post.updated_at)} ago", bookmark_path(post)

