%li.message{:id => post.id, :class => ("mine" if mine?(post))}
  %span.from
    = link_to_person post.person
    %b shared a link
    %br
  = post.title

  %a{:href => "#{post.link}"}
    = post.link
  %div.time
    = link_to(how_long_ago(post), bookmark_path(post))
    \--
    = link_to "show comments (#{post.comments.count})", '#', :class => "show_post_comments"
  = render "comments/comments", :post => post 

  - if mine?(post)
    .destroy_link
      = link_to 'Delete', status_message_path(post), :confirm => 'Are you sure?', :method => :delete
