%li.message{:class => ("mine" if mine?(post))}
  %span.from
    = link_to_person post.person
    %b shared a link
    %br
  = post.title

  %a{:href => "#{post.link}"}
    = post.link
  %div.time= link_to "#{time_ago_in_words(post.updated_at)} ago", bookmark_path(post)
  - if mine?(post)
    = link_to 'Destroy', bookmark_path(post), :confirm => 'Are you sure?', :method => :delete

