- title "Bookmarks"

%table
  %tr
    %th Title
    %th Link
    %th Owner
  - for bookmark in @bookmarks
    %tr
      %td= bookmark.title
      %td= link_to bookmark.link, bookmark.link
      %td= bookmark.owner
      %td= link_to 'Show', bookmark
      %td= link_to 'Edit', edit_bookmark_path(bookmark)
      %td= link_to 'Destroy', bookmark, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Bookmark", new_bookmark_path
