-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('.edit_profile')

= form_tag profile_path(profile), :method => :put, :multipart => true, :id => 'update_profile_form' do
  = render 'profiles/edit_public', :profile => profile, :aspect => aspect, :person => person

  %hr
  %br
  %h3
    = t('profiles.edit.your_private_profile')

  %h4
    = t('profiles.edit.your_bio')
    = text_area_tag 'profile[bio]', profile.bio, :rows => 5, :placeholder => t('fill_me_out')

  %h4
    = t('profiles.edit.your_gender')
    %br
    = text_field_tag 'profile[gender]', profile.gender, :placeholder => t("fill_me_out")

  %h4
    = t('profiles.edit.your_birthday')
    %br
    = select_date profile.birthday, :prompt => true,
      :default => true, :order => t('date.order'), :start_year => 2000, :end_year => 1930, :prefix => 'profile[date]'

  %h4
    = t('search')
    %p{:class=>"checkbox_select"}
      = label_tag 'profile[searchable]', t('profiles.edit.allow_search')
      = check_box_tag 'profile[searchable]', true, profile.searchable

  %br

  .submit_block
    =yield(:submit_block)

