-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = include_javascripts :profile

:javascript
  $(document).ready(function () {
    var data = $.parseJSON( '#{@tags_array.to_json.gsub("'", "\\\\'")}' ),
        autocompleteInput = $("#profile_tag_string");


    
    autocompleteInput.autoSuggest("#{tags_path}", {
      selectedItemProp: "name",
      searchObjProps: "name",
      asHtmlID: "tags",
      neverSubmit: true,
      retriveLimit: 10,
      selectionLimit: 5,
      minChars: 2,
      keyDelay: 0,
      startText: "#{t('profiles.edit.your_tags_placeholder')}",
      emptyText: "#{t('no_results')}",
      preFill: data
      });

    autocompleteInput.bind('keydown', function(evt){
      if(evt.keyCode == 13 || evt.keyCode == 9 || evt.keyCode == 32){
        if( $('li.as-result-item.active').length == 0 ){
          $('li.as-result-item').first().click();
        }
      }
    });
  });


%h3
  = t('profiles.edit.your_public_profile')

= error_messages_for profile

%h4
  = t('profiles.edit.your_name')
  = text_field_tag 'profile[first_name]', profile.first_name, :placeholder => t('profiles.edit.first_name')
  = text_field_tag 'profile[last_name]', profile.last_name, :placeholder => t('profiles.edit.last_name')

%h4
  = t('profiles.edit.your_tags')
  = text_field_tag 'profile[tag_string]', ""
%h4
  = t('profiles.edit.your_photo')
  = render 'photos/new_profile_photo', :aspect => aspect, :person => person
  %br
