%h3.inline
  = t("profiles.edit.basic")
  %span{ :title => t("profiles.edit.basic_hint") }
    %i.entypo.circled-help.visibility-hint-icon
.small-horizontal-spacer

= error_messages_for profile

%h4= t('profiles.edit.your_name')

.row
  .col-md-6
    = label_tag 'profile[first_name]', t('profiles.edit.first_name')
    = text_field_tag 'profile[first_name]', profile.first_name, class: 'form-control'
  .col-md-6
    = label_tag 'profile[last_name]', t('profiles.edit.last_name')
    = text_field_tag 'profile[last_name]', profile.last_name, class: 'form-control'

.small-horizontal-spacer

%h4= t('profiles.edit.your_tags')

= text_field_tag 'profile[tag_string]', "", placeholder: t('profiles.edit.your_tags_placeholder'),class: "form-control"

.small-horizontal-spacer

%h4= t('profiles.edit.your_photo')

= render 'photos/new_profile_photo', aspect: aspect, person: person
