-# Copyright (c) 2010-2011, Diaspora Inc. This file is
-# licensed under the Affero General Public License version 3 or later. See
-# the COPYRIGHT file.

- content_for :head do
  = javascript_include_tag :jquery

  :javascript
    $(document).ready(function () {
      var data = $.parseJSON( '#{@tags_array.to_json.gsub("'", "\\\\'")}' ),
          autocompleteInput = $("#profile_tag_string");

      autocompleteInput.autoSuggest("#{tags_path}", {
        selectedItemProp: "name",
        selectedValuesProp: "name",
        searchObjProps: "name",
        asHtmlID: "tags",
        neverSubmit: true,
        retrieveLimit: 10,
        minChars: 2,
        keyDelay: 200,
        startText: "",
        emptyText: "#{t('no_results')}",
        preFill: data
        });

      autocompleteInput.bind('keydown', function(evt){
        if(evt.keyCode == 13 || evt.keyCode == 9 || evt.keyCode == 32){
          evt.preventDefault();
          if( $('li.as-result-item.active').length == 0 ){
            $('li.as-result-item').first().click();
          }
        }
      });
    });

.stream
  - flash.each do |name, msg|
    %div{:id => "flash_#{name}", :class => "expose"}
      .message= msg
    .stream
      %p{:class => "conversation_#{name}"}= msg

%h4
  = t('profiles.edit.your_public_profile')

= error_messages_for profile

%h4
  = t('profiles.edit.your_name')
= label_tag 'profile[first_name]', t('profiles.edit.first_name')
= text_field_tag 'profile[first_name]', profile.first_name

= label_tag 'profile[first_name]', t('profiles.edit.last_name')
= text_field_tag 'profile[last_name]', profile.last_name

%br

%h4
  = t('profiles.edit.your_tags')

= text_field_tag 'profile[tag_string]', "", :placeholder => t('profiles.edit.your_tags_placeholder')

%br

%h4
  = t('profiles.edit.your_photo')

= render 'photos/new_profile_photo', :aspect => aspect, :person => person

%br
