-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


#section_header
  %h2
    = t('settings')
  %ul#settings_nav
    %li=link_to t('profile'), edit_profile_path
    %li=link_to t('account'), edit_user_path(current_user)
    %li=link_to t('_services'), services_path

.span-12.prepend-5.last
  - content_for :submit_block do
    = link_to t('cancel'), person_path(current_user.person)
    = t('or')
    = submit_tag t('.update_profile')
  = render :partial => 'edit', :locals => {:person => @person, 
    :profile => @profile, :aspect => @aspect, :step => @step}

