-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.bootstrap_header_padding

.container
  .row-fluid
    .span12
      #section_header
        %h2
          = t('settings')
        = render 'shared/settings_nav'

.container
  .row-fluid
    .span3
    .span6
      - content_for :submit_block do
        = link_to t('cancel'), local_or_remote_person_path(current_user.person), :class => "btn"
        = submit_tag t('.update_profile'), :class => "creation", :id => "update_profile", :class => "btn"
      = render :partial => 'edit', :locals => {:person => @person, 
        :profile => @profile, :aspect => @aspect, :step => @step}
    .span3

