<% content_for :page_title do %>
    <%= "#{AppConfig.settings.pod_name} / #{t('devise.sessions.new.sign_in')}" %>
<% end %>

<div id="login">
  <h1 id="huge-text">
    <%= AppConfig.settings.pod_name %>
  </h1>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal block-form"}, :autocomplete => 'off') do |f| %>
        <fieldset>
          <div class="control-group">
              <label class="control-label" for="user_username" style="width: 40%; text-align: center; padding: 10px 0; overflow: hidden">            
                <%= t('registrations.new.username') %>
              </label>

              <div class="controls">
                <%= f.text_field :username, :required => true, :pattern => "[A-Za-z0-9_.@\-]+", :autocapitalize => "off", :autocorrect => "off", :autofocus => true, :style => "width: 60%;" %>
              </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="user_password" style="width: 40%; text-align: center; padding: 10px 0; overflow: hidden">
                <%= t('registrations.new.password') %>
            </label>

            <div class="controls">
                <%= f.password_field :password, :placeholder => "••••••••", :required => true, :style => "width: 60%;" %>
            </div>
          </div>
        </fieldset>

        <%= f.hidden_field :remember_me, :value => 1 %>
        <%= f.submit t('devise.sessions.new.sign_in'), :class => "new-btn" %>
  <% end %>

  <% if display_password_reset_link? %>
      <br/>
      <%= link_to t('devise.shared.links.forgot_your_password'), new_password_path(resource_name), :id => "forgot_password_link" %>
  <% end %>

  <% if display_registration_link? %>
      <br/>
      <br/>
      <br/>
      <%= link_to t('devise.shared.links.sign_up'), new_registration_path(resource_name) %>
  <% end %>
</div>
