-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= content_for :head do
  :css
    header{ display:none; }
    footer{ position: absolute; bottom: 6px; }

  :javascript
    jQuery.fn.center = function () {
      this.css("position","absolute");
      this.css("top", ( $(window).height() - this.height() ) / 2+$(window).scrollTop() + "px");
      this.css("left", ( $(window).width() - this.width() ) / 2+$(window).scrollLeft() + "px");
      return this;
    }

    $(document).ready( function(){

      var username = $("#user_username"),
          password = $("#user_password"),
          forgotPass = $("#forgot_password_link"),
          controls = $("#controls");

      $("#login").center();
      $(window).resize(function(){
        $("#login").center();
      });

      username.focus();
      $("form").submit(function(){
        $('#asterisk').addClass('rideSpinners');
        forgotPass.addClass('hidden');
        controls.addClass('hidden');
      });

      $(document).keydown(function(){
        if($('#user_username').val() != "" && $('#user_password').val() != ""){
          controls.removeClass('hidden');
        }else{
          controls.addClass('hidden');
        }
      });

      password
        .focus(function(){
          forgotPass.removeClass('hidden');
        })
        .blur(function(){
          forgotPass.addClass('hidden');
        });
    });

.container{:style => 'text-align:center;'}
  #login
    %p
      = image_tag('asterisk.png', :id => 'asterisk', :class => 'logo', :height => 154, :width => 154)
    %p
      = image_tag('logo_caps.png', :id => 'logo', :width => 98, :height => 14)

    - flash.each do |name, msg|
      = content_tag :p, msg, :class => "login_error"

    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

      %p
        = f.label :username , t('username')
        = f.text_field :username, :tabindex => 1
      %br

      %p
        = f.label :password , t('password')
        = f.password_field :password, :tabindex => 2

        - if devise_mapping.recoverable? && controller_name != 'passwords'
          = link_to t('devise.shared.links.forgot_your_password'), new_password_path(resource_name), :id => "forgot_password_link", :class => 'hidden', :tabindex => 5

      %br
      %p#controls.hidden
        %span#remember_me
          - if devise_mapping.rememberable?
            = f.check_box :remember_me, :tabindex => 3
            = f.label :remember_me, t('devise.sessions.new.remember_me')
        = f.submit 'Log in', :tabindex => 4


      - if !AppConfig[:registrations_closed] && devise_mapping.registerable? && controller_name != 'registrations'
        %br
        %br
        %br
        %br
        = link_to t('devise.shared.links.sign_up'), new_registration_path(resource_name)
      

