-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#main_stream.stream
  #login_form
    .login-container
      = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
        %fieldset
          %legend
            Log in
          
          .control-group
            = f.label :username, t('username'), :class => "control-label"
            .controls
              = f.text_field :username

          .control-group
            = f.label :password , t('password'), :class => "control-label"
            .controls
              = f.password_field :password

            = hidden_field(:user, :remember_me, :value => 1)

          .controls
            = f.submit t('devise.sessions.new.sign_in'), :class => 'btn primary'

%footer
  - if display_password_reset_link?
    = link_to "Forgot Password?", new_password_path(resource_name)

  - if display_registration_link?    
    = link_to t('.sign_up'), new_registration_path(resource_name)
