-#   Copyright (c) 2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#login_form
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %div{:data => {:role => 'fieldcontain'}}
      = f.label :username , t('username')
      = f.text_field :username
      %p.user_network
        ="@#{AppConfig[:pod_uri].host}"
    
      = f.label :password , t('password')
      = f.password_field :password
    = f.submit t('devise.sessions.new.sign_in')
    - if devise_mapping.rememberable?
      = f.check_box :remember_me
      = f.label :remember_me, t('devise.sessions.new.remember_me')

  %p
    = render :partial => "devise/shared/links"
