- content_for :page_title do
  = AppConfig.settings.pod_name + " - " + t("two_factor_auth.title")

.container#twofa
  .text-center
    .logos-asterisk
    %h1
      = t("two_factor_auth.title")


  = form_for resource, as: resource_name,
                         url: session_path(resource_name),
                         html: {class: "block-form"},
                         method: :post do |f|
    %fieldset
      %label.sr-only#otp-label{for: "otp_attempt"}
        = t("two_factor_auth.input_token.label")
      %i.entypo-lock
      = f.text_field :otp_attempt,
      type: :text,
      placeholder: t("two_factor_auth.input_token.placeholder"),
      required: true,
      autofocus: true,
      class: "input-block-level form-control"
      %p= t "two_factor_auth.recovery.reminder"


    .actions
      = f.button t("devise.sessions.new.sign_in"),
      type: :submit,
      class: "btn btn-large btn-block btn-primary"
