%h2 Resend confirmation instructions
= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name)) do |f|
  = render partial: "devise/shared/error_messages"
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p
  = f.submit t('.resend_confirmation')
= render partial: "devise/shared/links"
