-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- unless AppConfig[:invites_off]
  .section
    .title
      = image_tag('/images/icons/plus.png')
      %h5
        = t('shared.invitations.invite_your_friends')
    .content
      = render "shared/invitations"

- unless has_connected_cubbies?
  .section
    .title
      = image_tag('/images/icons/cubbies.png')
      %h5
        = t('aspects.index.cubbies.heading')
    .content
      = t('aspects.index.cubbies.explanation')
      = link_to t('aspects.index.cubbies.learn_more'), token_path

- unless AppConfig.configured_services.blank? || all_services_connected?
  .section
    .title
      = image_tag('/images/icons/monotone_wrench_settings.png')
      %h5
        = t('aspects.index.services.heading')
    .content
      %div
        = t('aspects.index.services.content')

      #right_service_icons
        - AppConfig.configured_services.each do |service|
          - unless current_user.services.any?{|x| x.provider == service}
            = link_to(image_tag("social_media_logos/#{service.to_s.downcase}-24x24.png", :title => service.to_s.titleize), "/auth/#{service}")

.section
  .title
    = image_tag('/images/icons/bookmark.png')
    %h5
      = t('bookmarklet.heading')
  .content
    != t('bookmarklet.explanation', :link => link_to(t('bookmarklet.explanation_link_text'), bookmarklet))

- unless AppConfig[:paypal_hosted_button_id].blank?
  .section
    .title
      = image_tag('/images/icons/coffee.png')
      %h5
        = t('aspects.index.donate')
    .content
      = t('aspects.index.keep_us_running', :pod => URI.parse(AppConfig[:pod_url]).host)
      %br
      = render 'shared/donate'
