%li.message{:id => post.id, :class => ("mine" if current_user.owns?(post))}

  = person_image_tag(post.person)

  %span.from
    = link_to_person post.person
    %b wrote a new blog post
    %br
  %b= post.title
  %br
  = raw post.body
  %div.time
    = link_to(how_long_ago(post), object_path(post))
    \--
    = link_to "show comments (#{post.comments.count})", '#', :class => "show_post_comments"
  = render "comments/comments", :post => post 

  - if current_user.owns?(post)
    .destroy_link
      = link_to 'Delete', blog_path(post), :confirm => 'Are you sure?', :method => :delete, :remote=> true
