- title "Blogs"

%table
  %tr
    %th Title
    %th Body
    %th Owner
  - for blog in @blogs
    %tr
      %td= blog.title
      %td= blog.body
      %td= blog.owner
      %td= link_to 'Show', blog
      %td= link_to 'Edit', edit_blog_path(blog)
      %td= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Blog", new_blog_path
