- title "Blog"

%p
  %strong Title:
  = @blog.title
%p
  %strong Body:
  = raw @blog.body
%p
  %strong Owner:
  = @blog.person.real_name

%p
  = link_to "Edit", edit_blog_path(@blog)
  |
  = link_to "Destroy", @blog, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", blogs_path
