<div class="img">
  <a href="/people/{{author.guid}}" class="author-name">
    <img src="{{author.avatar.small}}" class="avatar smaller"/>
  </a>
</div>

<div class="bd">
  <a href="/people/{{author.guid}}" class="author-name">
    {{author.name}}
  </a>

  {{#if root}}
    <i class="icon-retweet"></i>
    {{#with root}}
      <a href="/people/{{author.guid}}" class="author-name">
        {{author.name}}
      </a>
    {{/with}}
  {{/if}}

  <div class="post-time">
    <i class="icon-time"></i>
    <time datetime="{{created_at}}" />
  </div>
</div>
