<div class="img">
  <a href="/people/{{author.guid}}" class="author-name">
    <img src="{{author.avatar.small}}" class="avatar smaller"/>
  </a>
</div>

<div class="bd">
  <a href="/people/{{author.guid}}" class="author-name">
    {{author.name}}
  </a>

  <div class="comment-content">
    {{{text}}}
  </div>
</div>
