{{# if likes}}
  <div id="post-likes">
    <div class="well media">
      <div class="img">
        <i class="icon-heart icon-red"></i>
      </div>
      <div class="bd">
        {{#each likes}}
          {{#with author}}
            <a href="/people/{{guid}}">
              <img src="{{avatar.small}}" class="avatar micro" title="{{name}}"/ >
            </a>
          {{/with}}
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}

{{# if participations}}
  <div id="post-follows">
    <div class="well media">
      <div class="img">
        <i class="icon-plus icon-green"></i>
      </div>
      <div class="bd">
        {{#each participations}}
          {{#with author}}
            <a href="/people/{{guid}}">
              <img src="{{avatar.small}}" class="avatar micro" title="{{name}}"/ >
            </a>
          {{/with}}
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}

{{# if reshares}}
  <div id="post-reshares">
    <div class="well media">
      <div class="img">
        <i class="icon-retweet icon-blue"></i>
      </div>
      <div class="bd">
        {{#each reshares}}
          {{#with author}}
            <a href="/people/{{guid}}">
              <img src="{{avatar.small}}" class="avatar micro" title="{{name}}"/ >
            </a>
          {{/with}}
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}

<div id="post-comments"> </div>

