%li.user.media
  .media-left
    .media-object
      = person_image_tag(person, size: :thumb_small)
  .media-body
    .row
      .col-sm-7
        %h4.media-heading
          = person.diaspora_handle
        = t(".remote") if person.remote?
        = t(".local") if person.local?
        %br
        - if person.closed_account?
          .label.label-danger
            = t(".closed_account")
        - elsif person.locked_access?
          .label.label-warning
            = t(".locked_account")
        - if !person.closed_account? && !person.locked_access?
          .label.label-success
            = t(".active_account")
      .col-sm-5
        .pull-right
          %span.label.label-default
            = t(".id")
            = person.id
          %span.label.label-info
            = t(".guid")
            = person.guid
    .row
      .col-sm-8
        %dl.dl-horizontal
          %dt= t("username")
          %dd= person.username
          - if person.owner.present?
            %dt= t(".email")
            %dd= person.owner.email
            %dt= t(".first_seen")
            %dd= person.owner.created_at || t(".unknown")
            %dt= t(".last_seen")
            %dd= person.owner.last_seen || t(".unknown")
            %dt= t(".current_sign_in_ip")
            %dd= person.owner.current_sign_in_ip || t(".unknown")
            - if person.owner.invited_by.present?
              %dt= t(".invite_token")
              %dd= invite_code_url(person.owner.invited_by.invitation_code)
          %dt= t(".nsfw")
          %dd
            - if person.profile.nsfw
              %span.label.label-warning= t(".yes")
            - else
              %span.label.label-success= t(".no")
          - if person.owner.present?
            %dt= t(".admin")
            %dd
              - if person.owner.admin?
                %span.label.label-success= t(".yes")
              - else
                %span.label.label-warning= t(".no")
            %dt= t(".moderator")
            %dd
              - if person.owner.moderator?
                %span.label.label-success= t(".yes")
              - else
                %span.label.label-warning= t(".no")
            %dt= t(".spotlight")
            %dd
              - if person.owner.spotlight?
                %span.label.label-success= t(".yes")
              - else
                %span.label.label-warning= t(".no")
        %h4= t("layouts.header.profile")
        %dl.dl-horizontal
          %dt= t("people.profile_sidebar.born")
          %dd= person.profile.birthday
          %dt= t("people.profile_sidebar.gender")
          %dd= person.profile.gender
          %dt= t("people.profile_sidebar.location")
          %dd= person.profile.location
          %dt= t("people.profile_sidebar.bio")
          %dd= person.profile.bio

      .col-sm-4
        = render partial: "admins/user_entry/view_profile", locals: {person: person}
        = render partial: "admins/user_entry/add_invites", locals: {person: person}
        = render partial: "admins/user_entry/lock_action", locals: {person: person}
        = render partial: "admins/user_entry/close_action", locals: {person: person}
        = render partial: "admins/user_entry/admin_action", locals: {person: person}
        = render partial: "admins/user_entry/moderator_action", locals: {person: person}
        = render partial: "admins/user_entry/spotlight_action", locals: {person: person}
