
%div
  = render :partial => 'admins/admin_bar'

%div.row
  %div.span12
    %h1
      = t('.correlations_count')
    %ul
      - @correlations_hash.keys.each do |k|
        %li
          = "#{k.to_s}, #{@correlations_hash[k]}"
