.container
  .row
    .col-md-3
      = render partial: "admins/admin_bar"
    .col-md-9
      %h1
        = t('.correlations_count')
      %ul
        - @correlations_hash.keys.each do |k|
          %li
            = "#{k.to_s}, #{@correlations_hash[k]}"
