
.span-24
  = render :partial => 'admins/admin_bar'
%br
%br

.span-24.last
  %h1
    Usage Statistics
    %div{:style => "float:right;"}
      = form_tag('/admins/stats', :method => 'get') do
        %select{:name => 'range'}
          %option{:value => 'daily', :selected => ('selected' if params[:range] == 'daily')}
            Daily
          %option{:value => 'week', :selected => ('selected' if params[:range] == 'week')}
            Week
          %option{:value => '2weeks', :selected => ('selected' if params[:range] == '2weeks')}
            2 Weeks
          %option{:value => 'month', :selected => ('selected' if params[:range] == 'month')}
            Month

        = submit_tag 'go'
  %br
  %h3
    Displaying results from the
    %b
      = @segment
    segment
  
  %br
  %br
  %br

%hr
.clearfix

.span-24.last
  - [:posts, :comments, :aspect_memberships, :users].each do |name|
    - model = eval("@#{name.to_s}")
    - if name == :aspect_memberships
      - name = :shares

    .span-6{:class => ('last' if name == :users)}
      %h2{:style => 'font-weight:bold;'}
        = model[:yesterday]
        = name.to_s
      %h4
        = model[:day_before]
        %span.percent_change{:class => (model[:change] > 0 ? "green" : "red")}
          = "(#{model[:change]}%)"

  %br
  %br
  %br
  %hr


  %p{:style => "text-align:center;"}
    The current segment is averaging
    %b
      #{@posts[:yesterday]/@user_count.to_f}
    posts per user, from
    %b
      #{@posts[:day_before]/@user_count.to_f}

.span-24.last
  %h3
    50 Most Popular Tags
  - @popular_tags.each do |name,count|
    Tag Name:
    %b= name
    Count:
    %b= count
    %br
