.container
  .row
    .col-md-3
      = render partial: "admins/admin_bar"
    .col-md-9
      .row
        .user_search.col-md-8
          %h3= t('admins.admin_bar.user_search')
          = form_for @search, url: {action: 'user_search'}, html: {method: :get, class: 'form-horizontal'} do |f|
            .form-group
              = f.label :username, t('username'), class: 'col-sm-2 control-label'
              .col-sm-10
                = f.text_field :username, class: "form-control"

            .form-group
              = f.label :email, t('email'), class: 'col-sm-2 control-label'
              .col-sm-10
                = f.text_field :email, class: "form-control"

            .form-group
              = f.label :guid, t('admins.user_entry.guid'), class: 'col-sm-2 control-label'
              .col-sm-10
                = f.text_field :guid, class: "form-control"

            .form-group
              .col-sm-offset-2.col-sm-10
                = f.label :under13 do
                  = f.check_box :under13
                  = t(".under_13")
            .form-group
              .clearfix.col-sm-12
                = submit_tag t("admins.stats.go"), class: "btn btn-primary pull-right"

        .more_invites.col-md-4
          %h3= t("shared.invitations.invites")
          #add-invites-section.clearfix
            != t(".you_currently", count: current_user.invitation_code.count,
                link: link_to(t(".add_invites"), add_invites_path(current_user.invitation_code),
                class: "btn btn-link pull-right"))

          = form_tag "admin_inviter", method: :get, class: "form-horizontal" do
            .form-group
              %label.col-sm-4.control-label
                = t(".email_to")
              .col-sm-8
                = text_field_tag "identifier", nil, class: "form-control"
            .form-group
              .clearfix.col-md-12
                = submit_tag t(".invite"), class: "btn btn-default pull-right"

      .row
        .col-md-12
          .alert.alert-info.text-center{role: "alert"}
            = t(".users", count: @users.count)

      .row
        .users.col-md-12
          %ul.media-list
            - @users.each do |user|
              = render partial: 'user_entry', locals: { user: user }
