
.span-24
  = render :partial => 'admins/admin_bar'
.span-24.prepend-4

  %h3
    != t('.you_currently', :user_invitation => current_user.invitation_code.count, :link => link_to(t(".add_invites"), add_invites_path(current_user.invitation_code)))
    
    = form_tag 'admin_inviter', :method => :get do
      = t('.email_to')
      = text_field_tag 'identifier'
      = submit_tag t('services.remote_friend.invite')



  %h3
    = t('admins.admin_bar.user_search')
  = form_tag 'user_search', :method => :get do
    = t('username')
    = text_field_tag 'user[username]', params[:user][:username]

    = t('email')
    = text_field_tag 'user[email]', params[:user][:email]

    = t('.under_13')
    = check_box_tag 'under13', params[:under13]

    = submit_tag t('admins.stats.go')


  = t('.users', :count => @users.count)
  %br
  %br
  - @users.each do |user|
    = user.inspect
    %br
    - if user.person
      = user.person.inspect
      %br
      - if user.person.profile
        = user.person.profile.inspect
      %br
    = "invite token: #{invite_code_url(user.invited_by.invite_code)}" if user.invited_by.present?
    = link_to t(".add_invites"), add_invites_path(user.invitation_code)
    %br
    %br
    %br
