
.span-24
  = render :partial => 'admins/admin_bar.haml'
.span-24.prepend-4

  %h3
    you currently have
    = current_user.invitation_code.count
    invites left
    = link_to "add_invites", add_invites_path(current_user.invitation_code)

    = form_tag 'admin_inviter', :method => :get do
      email to invite:
      = text_field_tag 'identifier'
      = submit_tag 'invite'



  %h3
    user search
  = form_tag 'user_search', :method => :get do
    username:
    = text_field_tag 'user[username]', params[:user][:username]

    email:
    = text_field_tag 'user[email]', params[:user][:email]

    = submit_tag 'go'


  = "#{@users.count} users found"
  %br
  %br
  - @users.each do |user|
    = user.inspect
    %br
    - if user.person
      = user.person.inspect
      %br
      - if user.person.profile
        = user.person.profile.inspect
      %br
    = "invite token: #{invite_code_url(user.invited_by.invite_code)}" if user.invited_by.present?
    = link_to "add_invites", add_invites_path(user.invitation_code)
    %br
    %br
    %br