
%h3
  = form_tag 'admin_inviter', :method => :get do
    email to invite:
    = text_field_tag 'identifier'
    = submit_tag 'invite'



%h3
  user search
= form_tag 'user_search', :method => :get do
  username:
  = text_field_tag 'user[username]', params[:user][:username]
  
  email:
  = text_field_tag 'user[email]', params[:user][:email]

  invitation identifier 
  = text_field_tag 'user[invitation_identifier]', params[:user][:invitation_identifier]

  invitation token:
  = text_field_tag 'user[invitation_token]', params[:user][:invitation_token]
  = submit_tag 'go'


= "#{@users.count} users found"
%br
%br
= for user in @users
  = user.inspect
  %br
  - if user.person
    = user.person.inspect
    %br
    - if user.person.profile
      = user.person.profile.inspect
    %br
  = "invite token: #{accept_invitation_url(user, :invitation_token => user.invitation_token)}" if user.invitation_token 
  %br
  %br
= javascript_include_tag 'apiconsole'
#query
  %h3 api console
  = text_field_tag :api
  = submit_tag 'ping this api', :id => 'api_submit'

  response:
  %br
  %br
  #resp


%br
%a{:href => "javascript:(function(){f='#{AppConfig[:pod_url]}bookmarklet?url='+encodeURIComponent(window.location.href)+'&title='+encodeURIComponent(document.title)+'&notes='+encodeURIComponent(''+(window.getSelection?window.getSelection():document.getSelection?document.getSelection():document.selection.createRange().text))+'&v=1&';a=function(){if(!window.open(f+'noui=1&jump=doclose','diasporav1','location=yes,links=no,scrollbars=no,toolbar=no,width=620,height=250'))location.href=f+'jump=yes'};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})()"}
  post to Diaspora v1



