
%div
  = render :partial => 'admins/admin_bar'

%div.row
  %div.user_search.span9
    %h3= t('admins.admin_bar.user_search')
    = form_for @search, url: {action: 'user_search'}, html: {method: :get, class: 'form-horizontal'} do |f|
      %div.control-group
        = f.label :username, t('username'), class: 'control-label'
        %div.controls
          = f.text_field :username

      %div.control-group
        = f.label :email, t('email'), class: 'control-label'
        %div.controls
          = f.text_field :email

      %div.control-group
        = f.label :guid, t('admins.user_entry.guid'), class: 'control-label'
        %div.controls
          = f.text_field :guid

      %div.control-group
        %div.controls
          = f.label :under13 do
            = f.check_box :under13
            = t('.under_13')
          = submit_tag t('admins.stats.go')

  %div.more_invites.span3
    %h3= t('shared.invitations.invites')

    != t('.you_currently', :count => current_user.invitation_code.count, :link => link_to(t(".add_invites"), add_invites_path(current_user.invitation_code)))

    = form_tag 'admin_inviter', method: :get do
      = t('.email_to')
      = text_field_tag 'identifier'
      = submit_tag t('services.remote_friend.invite')

%div.row
  %div.span12
    %div.alert.alert-info.text-center= t('.users', :count => @users.count)

%div.row
  %div.users.span12
    %ul.media-list
      - @users.each do |user|
        = render partial: 'user_entry', locals: { user: user }
