
.span-24
  = render :partial => 'admins/admin_bar.haml'
%br
%br

.span-24.last
  %h2
    = "Users per week (Current server date is: #{Time.now.to_date}) "
  %ul
    - @created_users_by_week.keys.sort.reverse.each do |k|
      %li
        = "Week starting on #{k} , #{@created_users_by_week[k]}"
