
.span-24
  = render :partial => 'admins/admin_bar.haml'
%br
%br

.span-24.last
  %h2
    = "Users per week (Current server date is: #{Time.now.to_date}) "
  %ul
    - @created_users_by_week.keys.each do |k|
      %li #{k} : #{@created_users_by_week[k]}


  = select_tag(:weeks, options_for_select(@created_users_by_week.keys))
