.span-24
  = render partial: 'admins/admin_bar'
%br
%br

.span-24.last
  %h2
    = t('.current_server', date: Time.now.to_date)

= form_tag('/admins/weekly_user_stats', method: 'get') do
  = select_tag(:week, options_for_select(@created_users_by_week.keys), selected: @selected_week)
  = submit_tag t('admins.stats.go')

= t('.amount_of', count: @counter)
%br
- @created_users_by_week[@selected_week].each do |m|
  = link_to m, "/u/#{m}"
  %br
