
.span-24
  = render :partial => 'admins/admin_bar.haml'
%br
%br

.span-24.last
  %h2
    = "Users per week (Current server date is: #{Time.now.to_date}) "
  %ul
    - @created_users_by_week.keys.each do |k|
      %li #{k} : #{@created_users_by_week[k]}

= form_tag('/admins/weekly_user_stats', :method => 'get') do
  = select_tag(:week, options_for_select(@created_users_by_week.keys, @created_users_by_week[Date.today.beginning_of_week.strftime("%Y-%m-%d")]))
  = submit_tag 'go'

= @segment
