-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- unless defined?(always_expanded) && always_expanded
  %ul.show_comments{:class => ("hidden" if comment_hashes.size == 0)}
    %li
      = image_tag 'icons/spechbubble_2.png', :class => 'more_comments_icon'
      %b= comment_toggle(comment_hashes.size)

%ul.comments{:id => post_id, :class => ("hidden" if comment_hashes.size == 0)}
  -if comment_hashes.size > 3
    .older_comments{:class => ("hidden inactive" if defined?(condensed) && condensed)}
      = render :partial => 'comments/comment', :collection => comment_hashes[0..-4], :as => :hash
    = render :partial => 'comments/comment', :collection => comment_hashes[-3, 3], :as => :hash
  -else
    = render :partial => 'comments/comment', :collection => comment_hashes, :as => :hash

  - unless @commenting_disabled
    %li.comment.show
      = new_comment_form(post_id)

