-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%li.comment.posted{:data=>{:guid => comment.id}, :class => ("hidden" if(defined? hidden))}
  - if current_user && (current_user.owns?(comment) || current_user.owns?(post))
    .right.controls
      = link_to image_tag('deletelabel.png'), comment_path(comment), :confirm => t('are_you_sure'), :method => :delete, :remote => true, :class => "delete comment_delete", :title => t('delete')
  = person_image_link(comment.author)
  .content
    .from
      = person_link(comment.author)
      %time.timeago{:datetime => comment.created_at}
        = comment.created_at ? timeago(comment.created_at) : timeago(Time.now)

    %p{ :class => direction_for(comment.text) }
      = markdownify(comment.text, :youtube_maps => comment.youtube_titles)
