-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%li.comment{:data=>{:guid=>comment.id}}
  = person_image_link(person)
  .content
    .from
      = link_to person.real_name, person
    = markdownify(comment.text)
    %div.time
      = "#{time_ago_in_words(comment.updated_at)} #{t('ago')}"
