%li.comment{:id => post.id} 
  = person_image_tag(post.person)
  %span.from
    = link_to post.person.real_name, post.person
    = auto_link post.text
  %div.time
    = "#{time_ago_in_words(post.updated_at)} ago"
