-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%li.comment{:data=>{:guid=>comment.id}, :class => ("hidden" if(defined? hidden))}
  .content
    .remove_comment
      .right
        - if comment.author == current_user.person
          = link_to(image_tag('deletelabel.png'), comment_path(comment), :method => :delete, :data => { :confirm => "#{t('are_you_sure')}" }, :class => "remove")
    .from
      = person_image_link(comment.author)
      = person_link(comment.author)
      .info
        %span.time.timeago{:datetime => comment.created_at}
          = comment.created_at ? time_ago_in_words(comment.created_at) : time_ago_in_words(Time.now)

    %div{:class => direction_for(comment.text)}
      = markdownify(comment)
