-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.


= form_for Comment.new, :remote => true do |f|
  %p
    %label{:for => "comment_text_on_#{post.id}"} Comment
    = f.text_area :text, :rows => 1, :id => "comment_text_on_#{post.id}", :class => "comment_box"
  = f.hidden_field :post_id, :value => post.id
  %p{:style => "text-align:right;"}
    = f.submit t('.comment'), :class => "comment_submit button"
