-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.add_comment_bottom_link_container
  - if user_signed_in?
    = form_tag(post_comments_path(post_id), id: "new-comment-on-#{post_id}",
        class: "new-comment", autocomplete: "off") do
      %fieldset
        = hidden_field_tag :post_id, post_id, id: "post-id-on-#{post_id}"
        .form-group.clearfix
          = text_area_tag :text, nil, class: "col-md-12 comment-box form-control",
              id: "comment-text-on-#{post_id}", placeholder: t(".comment")
        = submit_tag t(".comment"), :id => "comment-submit-#{post_id}", "data-disable-with" => t(".commenting"),
            "data-reset-with" => t(".comment"), :class => "btn btn-primary btn-block comment-button"
