/    Copyright 2010 Diaspora Inc.
/
/    This file is part of Diaspora.
/
/    Diaspora is free software: you can redistribute it and/or modify
/    it under the terms of the GNU Affero General Public License as published by
/    the Free Software Foundation, either version 3 of the License, or
/    (at your option) any later version.
/
/    Diaspora is distributed in the hope that it will be useful,
/    but WITHOUT ANY WARRANTY; without even the implied warranty of
/    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/    GNU Affero General Public License for more details.
/
/    You should have received a copy of the GNU Affero General Public License
/    along with Diaspora.  If not, see <http://www.gnu.org/licenses/>.
/


= form_for Comment.new, :remote => true do |f|
  %p
    %label{:for => "comment_text_on_#{post.id}"} Comment
    = f.text_area :text, :rows => 1, :id => "comment_text_on_#{post.id}", :class => "comment_box"
  = f.hidden_field :post_id, :value => post.id
  %p{:style => "text-align:right;"}
    = f.submit "Comment", :class => "comment_submit button"
