= form_tag("/comments", :remote => true, :class =>"new_comment", :id => "new_comment-#{post.id}") do
  = text_area_tag "comment_text", 'leave a comment',  :size => 30, :name => 'comment[text]'
  = hidden_field_tag  "comment_post_id", "#{post.id}", :name => "comment[post_id]"
  = submit_tag 'comment', :id => "comment_submit_#{post.id}", :name => "commit"
