.comment_container
  .post_stats
    %span.comment_count
      = @post.comments.size
    %span.like_count
      = @post.likes.size

  %ul.comments
    = render :partial => 'comments/comment', :collection => @comments, :locals => {:post => @post}

    %li.comment.add_comment_bottom_link_container
      = link_to "#", :class => "show_comments bottom_collapse active" do
        = image_tag 'icons/arrow_up_small.png'
      = link_to t('comments.new_comment.comment'), new_post_comment_path(@post), :class => 'add_comment_bottom_link btn comment_action inactive'
