#people-stream
  - people.each do |person|
    .media.stream-element{id: person.id}
      .media-object.pull-left
        = person_image_link(person, :size => :thumb_small)
      .media-body
        = person_link(person, :class => 'name')
        .info.diaspora_handle
          = person.diaspora_handle
        .info.tags
          = Diaspora::Taggable.format_tags(person.profile.tag_string)

  = will_paginate people, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer
