-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%li.message{:id => person.id}

  = person_image_link(person)

  .content
    %span.from
      = link_to person.real_name, person_path(person)

    .info
      = person.diaspora_handle

    .right{ :style => "display:inline;top:0;" }
      - if person.id == current_user.person.id
        thats you!
      - elsif current_user.friends.include?(person)
        Already friends
      - elsif current_user.pending_requests.find_by_person_id(person.id)
        = link_to =t('.pending_request'), aspects_manage_path
      - elsif @aspects_dropdown_array.empty?
        = link_to(t('.add_aspect_friend'),"#add_aspect_pane_#{person.id}" , :id => "add_aspect_button", :class => "add_aspect_button add_aspect button", :title => t('.add_aspect_friend'))
        .yo{:style => 'display:none'}
          %div{:id => "add_aspect_pane_#{person.id}"}
            %h1
              =t('.add_a_new_aspect')
             
            = form_for Aspect.new do |f|
              = f.error_messages
              %p
                = f.label :name
                = f.text_field :name
                = f.hidden_field :person_ids, :value => person.id
                = f.submit t('.create'), :class => 'button'
      - else
        = form_for Request.new do |f|
          = f.select(:aspect_id, @aspects_dropdown_array)
          = f.hidden_field :destination_url, :value => person.diaspora_handle
          = f.submit t('.add_friend')
