-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#profile
  .profile_photo
    = person_image_link(person, :size => :thumb_large, :to => :photos)

  - if user_signed_in?
    - if person != current_user.person
      - if @contact && @contact.receiving?
        %br
        = link_to t('people.show.mention'), new_status_message_path(:person_id => @person.id), :class => 'button', :rel => 'facebox'
        - if @contact.mutual?
          = link_to t('people.show.message'), new_conversation_path(:contact_id => @contact.id, :name => @contact.person.name), :class => 'button', :rel => 'facebox'
      %br
      %br
    -if contact.sharing? || person == current_user.person
      %ul#profile_information
        - unless person.bio.blank?
          %li
            %h4
              =t('.bio')
            %div{ :class => direction_for(person.bio) }
              = markdownify(person.profile.bio, :oembed => true, :newlines => true)
        - unless person.profile.location.blank?
          %li
            %h4
              =t('.location')
            %div{ :class => direction_for(person.location) }
              = markdownify(person.location, :oembed => true, :newlines => true)

        %li
          - unless person.gender.blank?
            %h4
              =t('.gender')
            = person.gender

        %li
          - unless person.birthday.blank?
            %h4
              =t('.born')
            = birthday_format(person.birthday)

          %br
          %br
