-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  :javascript
    $(document).ready(function(){
      $('.delete').bind('ajax:success', function() {
        $(this).closest('li').fadeOut(200);
      });
      $('.delete').bind('ajax:failure', function() {
        alert("#{t('.cannot_remove', :name => person.name)}");
      });
    });


#profile
  .profile_photo
    = person_image_link(person, :size => :thumb_large, :to => :photos)

  - if person == current_user.person
    %p
      = link_to t('people.profile_sidebar.edit_my_profile'), edit_person_path(person)

    %hr{:style=>"width:300px;"}

  %ul
    - unless person == current_user.person
      %li
        = render :partial => 'people/aspect_list',
          :locals => {:person => person,
                      :contact => contact,
                      :aspects_with_person => @aspects_with_person,
                      :aspects_without_person => @aspects.reject{ |aspect| @aspects_with_person.include?(aspect)}}
      %br
      %hr{:style=>"width:300px;"}

  -if (contact && !contact.pending?) || person == current_user.person || @incoming_request
    %ul#profile_information
      %li
        - unless person.profile.bio.blank?
          %h3
            =t('.bio')
          = markdownify(person.profile.bio, :newlines => true)

      %li.span-8.last
        .span-4
          - unless person.profile.gender.blank?
            %h3
              =t('.gender')
            = person.profile.gender

        .span-4.last
          - unless person.profile.birthday.blank?
            %h3 
              =t('.born')
            = birthday_format(person.profile.birthday)
