#author_info
  .right
    - if user_signed_in? && current_user.person != person
      - if @block.present?
        = link_to t('users.privacy_settings.stop_ignoring'), block_path(@block),
          :method => :delete,
          :class => "button"

      - else
        = aspect_membership_dropdown(contact, person, 'right')
    - elsif user_signed_in? && current_user.person == person
      = link_to t('people.profile_sidebar.edit_my_profile'), edit_profile_path, :class => 'button creation'

  %h2
    = person.name
  %span.diaspora_handle
    = person.diaspora_handle
    = last_post_link person

  .description
    - if !person.tag_string.blank? && user_signed_in?
      = Diaspora::Taggable.format_tags(person.profile.tag_string)
      - if user_signed_in? && person == current_user.person
        %span.hover_edit
          = link_to t('.edit'), edit_profile_path
    - else
      - if user_signed_in? && person == current_user.person
        %i
          = t('.you_have_no_tags')
          %span.add_tags
            = link_to t('.add_some'), edit_profile_path

%hr
