- content_for :page_title do
  = @person.name

.container-fluid#profile_container
  .row
    .col-md-3
      .sidebar.profile-sidebar#profile
        -# here be JS

    .col-md-9
      .profile_header
        -# more JS

      .stream-container
        #people-stream.stream
          - @hashes.each do |hash|
            = render partial: 'people/person', locals: hash
        = will_paginate @contacts_of_contact, renderer: WillPaginate::ActionView::BootstrapLinkRenderer

      %a.entypo-chevron-up.back-to-top#back-to-top{title: "#{t('layouts.application.back_to_top')}", href: "#"}

-if user_signed_in? && @person
  #new_status_message_pane
    = render 'shared/modal',
      path: new_status_message_path(:person_id => @person.id),
      title: t('status_messages.new.mentioning', person: @person.name),
      id: 'mentionModal'

  -if @contact
    .conversations-form-container#new_conversation_pane
      = render 'shared/modal',
        path: new_conversation_path(:contact_id => @contact.id, name: @contact.person.name, modal: true),
        title: t('conversations.index.new_conversation'),
        id: 'conversationModal'
