-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('search')

- content_for :head do
  = include_javascripts :people
  = javascript_include_tag 'contact-list'

.span-24.last
  - if params[:q].blank?
    %h2
      =t('.no_results')
  - else
    %h2#search_title
      =t('.results_for')
      %span.term
        = params[:q]

.span-15.append-1
  - if @hashes.empty?
    %p
      =t('.no_one_found')

  - else
    #people_stream.stream
      - for hash in @hashes
        = render :partial => 'people/person', :locals => hash

    = will_paginate @people

.span-8.last
  %h4
    = t('.couldnt_find_them_send_invite')
  = render "shared/invitations", :invites => @invites

