- title "People"

%table
  %tr
    %th real name
    %th email
    %th url
  - for person in @people
    %tr
      %td= person.real_name
      %td= person.email
      %td= person.url
      %td= link_to 'Show', person
      %td= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Person", new_person_path

#pagination
  = will_paginate @people
