-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('search')

- content_for :head do
  = javascript_include_tag 'contact-list'

.container#people_search
  .row
    .page-header
      = search_header
  .row
    .col-md-8
      #people-stream.stream
        - if @hashes.empty?
          %p
            - if @background_query.present?
              = t(".searching")
              .loader
                .spinner
            - else
              = t('.no_one_found')
        - else
          - for hash in @hashes
            = render partial: 'people/person', locals: hash

          = will_paginate @people, renderer: WillPaginate::ActionView::BootstrapLinkRenderer

        %a.entypo-chevron-up.back-to-top#back-to-top{title: "#{t('layouts.application.back_to_top')}", href: "#"}

    .col-md-4
      - if AppConfig.settings.invitations.open?
        %h4
          = t('.couldnt_find_them')
        %p
          = t('.search_handle')
        %h4
          = t('.send_invite')
        = render "shared/invitations"
