-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('search')

.search-mobile
  = form_tag(search_path, :method => 'get') do
    %div{:data => {:role => 'fieldcontain', :inline => 'true'}}
      = search_field_tag :q, nil, :placeholder => t('find_people'), :class => 'search'
    = submit_tag t('search'), 'data-inline' => 'true', :class => 'btn'

- if params[:q].blank?
  %h4
    = t('.no_results')
- else
  %h4#search_title
    = t('.results_for', search_term: params[:q])

  - if @hashes.empty?
    %p
      =t('.no_one_found')

  - else
    #people-stream.stream
      - for hash in @hashes
        = render :partial => 'people/person', :locals => hash

    = will_paginate @people, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer

