-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.


- content_for :publish do
  %h1
    Search

  =form_tag '/people', :method => "get" do
    = text_field_tag :q, params[:q]
    = submit_tag "search"

- content_for :left_pane do
  &nbsp;

%h1
  search results for
  %u= params[:q]

%ul#stream
  - for person in @people
    = render 'people/person', :person => person
    
= will_paginate @people
