-#   Copyright (c) 2010, Disapora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.


%h1.big_text
  .back
    = link_to "⇧ home", root_path

  Search

%p
  =form_tag '/people', :method => "get" do
    = text_field_tag :q
    = submit_tag "search"

= (@people.count).to_s + search_or_index
%table
  %tr
    %th real name
    %th email
    %th url
    - for person in @people
      %tr
        - if current_user.friends.include? person
          %td= link_to person.real_name, person
        - else
          %td= person.real_name

        %td= person.email
        %td= person.url
        
        -if current_user.friends.include? person

        - elsif person.id == current_user.person.id
          %td
          %td that's you!
        -elsif current_user.pending_requests.find_by_person_id(person.id)
          %td 
          %td ^-you have a friend request from this person       
        -elsif current_user.pending_requests.find_by_url(person.receive_url)
          %td 
          %td friend request pending
        -else
          %td
          %td
            = form_for Request.new do |f|
              = f.select(:aspect_id, @aspects_dropdown_array)
              = f.hidden_field :destination_url, :value => person.email
              = f.submit "add friend"
