-#    Copyright 2010 Diaspora Inc.
-#
-#    This file is part of Diaspora.
-#
-#    Diaspora is free software: you can redistribute it and/or modify
-#    it under the terms of the GNU Affero General Public License as published by
-#    the Free Software Foundation, either version 3 of the License, or
-#    (at your option) any later version.
-#
-#    Diaspora is distributed in the hope that it will be useful,
-#    but WITHOUT ANY WARRANTY; without even the implied warranty of
-#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#    GNU Affero General Public License for more details.
-#
-#    You should have received a copy of the GNU Affero General Public License
-#    along with Diaspora.  If not, see <http://www.gnu.org/licenses/>.
-#


- content_for :publish do
  %h1
    Search

  =form_tag '/people', :method => "get" do
    = text_field_tag :q
    = submit_tag "search"

- content_for :left_pane do
  \.

= (@people.count).to_s + search_or_index
%table
  %tr
    %th real name
    %th email
    %th url
    - for person in @people
      %tr
        - if current_user.friends.include? person
          %td= link_to person.real_name, person
        - else
          %td= person.real_name

        %td= person.email
        %td= person.url
        
        -if current_user.friends.include? person

        - elsif person.id == current_user.person.id
          %td
          %td that's you!
        -elsif current_user.pending_requests.find_by_person_id(person.id)
          %td 
          %td ^-you have a friend request from this person       
        -elsif current_user.pending_requests.find_by_url(person.receive_url)
          %td 
          %td friend request pending
        -else
          %td
          %td
            = form_for Request.new do |f|
              = f.select(:aspect_id, @aspects_dropdown_array)
              = f.hidden_field :destination_url, :value => person.email
              = f.submit "add friend"
