%h1.big_text
  .back
    = link_to '⇧ home', root_path
  Friends
  .button.right
    = link_to 'Add Friend', requests_path

%table
  %tr
    %th real name
    %th email
    %th url
  - for person in @people
    %tr
      %td= person.real_name
      %td= person.email
      %td= person.url
      %td= link_to 'Show', person
      %td= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete

%p= link_to "Add a friend", requests_path

#pagination
  = will_paginate @people
