-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = @presenter.name

- content_for :meta_data do
  = metas_tags @presenter.metas_attributes

.container-fluid#profile_container
  .row
    .col-md-3
      .sidebar.profile-sidebar#profile
        -# here be JS

    .col-md-9
      .profile_header
        -# more JS

      .stream-container

        - if user_signed_in? && current_user.person.id == @person.id && !current_page?(person_photos_path(@person))
          = render 'publisher/publisher', publisher_aspects_for(nil)

        .stream.clearfix#main-stream
          -# JS

        #paginate
          .loader.hidden
            .spinner

      %a.entypo-chevron-up.back-to-top#back-to-top{title: "#{t('layouts.application.back_to_top')}", href: "#"}

-if user_signed_in? && @person
  #new_status_message_pane
    = render 'shared/modal',
      path: new_status_message_path(:person_id => @person.id),
      title: t('status_messages.new.mentioning', person: @person.name),
      id: 'mentionModal'

  -if @contact
    .conversations-form-container#new_conversation_pane
      = render 'shared/modal',
        path: new_conversation_path(:contact_id => @contact.id, name: @contact.person.name, modal: true),
        title: t('conversations.index.new_conversation'),
        id: 'conversationModal'
