-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

-# TODO this should happen in the js app
- content_for :head do
  - if user_signed_in? && @person != current_user.person
    :javascript
      Mentions.options.prefillMention = Mentions._contactToMention(#{j @person.to_json});

- content_for :page_title do
  = @person.name

.container-fluid#profile_container
  .row-fluid
    .span3
      #profile
        -# here be JS

    .span9
      .profile_header
        -# more JS

      .stream_container

        -if user_signed_in? && current_page?(person_path(current_user.person))
          = render 'publisher/publisher', publisher_aspects_for(nil)

        #main_stream.stream
          -# JS

        #paginate
          %span.loader.hidden

      %a{:id=>"back-to-top", :title=>"#{t('layouts.application.back_to_top')}", :href=>"#"}
        &#8679;

-if user_signed_in? && @person
  #new_status_message_pane
    = render 'shared/modal',
      :path => new_status_message_path(:person_id => @person.id),
      :title => t('status_messages.new.mentioning', :person => @person.name),
      :id => 'mentionModal'

  -if @contact
    #new_conversation_pane
      = render 'shared/modal',
        :path => new_conversation_path(:contact_id => @contact.id, :name => @contact.person.name, :modal => true),
        :title => t('conversations.index.new_conversation'),
        :id => 'conversationModal'
