-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  profile

- content_for :left_pane do
  #profile
    .profile_photo
      = person_image_link(@person)
    %ul
      -unless @posts.first.nil?
        %li
          %i= t(".last_seen",:how_long_ago => how_long_ago(@posts.first))
      - if @person != current_user.person && current_user.friends.include?(@person)
        %li
          %i= t(".friends_since",:how_long_ago => how_long_ago(@person))
        %li
          = form_tag move_friend_path
          = select :to, :to,  @aspects_dropdown_array, :selected => @aspects_with_person.first.id
          = hidden_field_tag :from, :from, :value => @aspects_with_person.first.id
          = hidden_field_tag :friend_id, :friend_id, :value => @person.id
          = submit_tag t('.save')

    - if @person != current_user.person && current_user.friends.include?(@person)
      = link_to t('.remove_friend'), @person, :confirm => t('.are_you_sure'), :method => :delete, :class => "button"

.span-20.last
  .span-19.last
    - if @posts
      %ul#stream
        - for post in @posts
          = render type_partial(post), :post => post unless post.class == Album
        = will_paginate @posts
    - else
      %h3=t('no posts to display!')
