-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.span12
  #author_info
    = person_image_tag @person, :thumb_medium
    .content
      %h2
        = @person.name
      %span.description
        = @person.diaspora_handle
      .clear
    .bottom_bar
      - if !@person.tag_string.blank? && user_signed_in?
        = Diaspora::Taggable.format_tags(@person.tag_string)

.span12.profile_stream
  - if @stream.stream_posts.length > 0
    - if @post_type == :photos
      = render 'photos/index', :photos => @stream.stream_posts
    - else
      #main_stream.stream
        = render 'shared/stream', :posts => @stream.stream_posts
        #pagination
          %a.more-link.paginate{:href => next_page_path}
            %h1
              = t("more")
  - else
    #main_stream
      .dull
      - if @block.present?
        = t('.ignoring', :name => @person.first_name)
      - elsif user_signed_in? && (current_user.person != @person)
        = t('.has_not_shared_with_you_yet', :name => @person.first_name)

