.span-20.last
  #profile.span-19.last
    .profile_photo
      = person_image_link(@person)

    %h1
      = @person.real_name
      - unless @person.id == current_user.id
        .button.right
          = link_to 'remove friend', @person, :confirm => 'Are you sure?', :method => :delete
    
    %ul
      -unless @person_posts.first.nil?
        %li
          %i= "last seen: #{how_long_ago(@person_posts.first)}"
      %li
        %i= "friends since: #{how_long_ago(@person)}"
      %li
        url:
        = @person.url
    
    - unless @latest_status_message.nil?
      %h1.pinched
        %span
          = "\"#{@latest_status_message.message}\""
        %span="posted: #{how_long_ago(@latest_status_message)}"
  
  .span-20.last
    - if @person.posts
      %h3= "stream - #{@post_count} item(s)" 
      %ul#stream
        - for post in @person_posts
          = render type_partial(post), :post => post
        = will_paginate @person_posts
    - else
      %h3 no posts to display!
