-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :head do
  = include_javascripts :people

- content_for :page_title do
  = @person.name

.span-6
  = render :partial => 'people/profile_sidebar', :locals => {:person => @person, :contact => @contact }

  - if user_signed_in? && @contact.persisted? && @contacts_of_contact.count > 0
    .span-5.last#contacts_of_contact
      .section.contact_pictures
        %h4
          = t('contacts', :count => @contacts_of_contact_count)
        - for person in @contacts_of_contact
          = person_image_link person
      - if @contacts_of_contact.count > 8
        %p.see_all= link_to t('.see_all'), person_contacts_path(@person)

.span-18.last
  .stream_container
    #author_info
      .right
        - if user_signed_in? && current_user.person != @person
          = render 'aspect_memberships/aspect_dropdown', :contact => @contact, :person => @person, :hang => 'left'
        - elsif user_signed_in? && current_user.person == @person
          = link_to t('people.profile_sidebar.edit_my_profile'), edit_profile_path, :class => 'button creation'

      %h2
        = @person.name
      %span.diaspora_handle
        = @person.diaspora_handle

        .description
          - if !@person.profile.tag_string.blank? && user_signed_in? && (@contact.persisted? || @person == current_user.person || @incoming_request)
            = Diaspora::Taggable.format_tags(@person.profile.tag_string)
            - if user_signed_in? && @person == current_user.person
              %span.hover_edit
                = link_to t('.edit'), edit_profile_path
          - else
            - if user_signed_in? && @person == current_user.person
              %i
                = t('.you_have_no_tags')
                %span.add_tags
                  = link_to t('.add_some'), edit_profile_path

    %hr

    - if @posts.length > 0
      -if @post_type == :photos
        = render 'photos/index', :photos => @posts
      - else
        #main_stream.stream
          = render 'shared/stream', :posts => @posts, :commenting_disabled => @commenting_disabled
          #pagination
            =link_to(t('more'), next_page_path, :class => 'paginate')

    - else
      #main_stream
        %div{:style=>"text-align:center;", :class => "dull"}
          = t('.has_not_shared_with_you_yet', :name => @person.first_name)

