-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  %h1
    DIASPORA*

.span12
  #author_info
    = person_image_tag @person, :thumb_medium
    .content
      %h2
        = @person.name
      %span.description
        = @person.diaspora_handle

.span12
  - if @stream.stream_posts.length > 0
    - if @post_type == :photos
      = render 'photos/index', :photos => @stream.stream_posts
    - else
      #main_stream.stream
        = render 'shared/stream', :posts => @stream.stream_posts
        #pagination
          %a.more-link.paginate{:href => next_page_path}
            %h1
              = t("more")
  - else
    #main_stream
      .dull
      - if user_signed_in? && (current_user.person != @person)
        = t('.has_not_shared_with_you_yet', :name => @person.first_name)

