- content_for :page_title do
  = @person.real_name

- content_for :left_pane do
  #profile
    .profile_photo
      = person_image_link(@person)
    %ul
      -unless @posts.first.nil?
        %li
          %i= "last seen: #{how_long_ago(@posts.first)}"
      - if @person != current_user.person && current_user.friends.include?(@person)
        %li
          %i= "friends since: #{how_long_ago(@person)}"
        %li
          = form_tag move_friend_path
          = select :to, :to,  @aspects_dropdown_array, :selected => @aspects_with_person.first.id
          = hidden_field_tag :from, :from, :value => @aspects_with_person.first.id
          = hidden_field_tag :friend_id, :friend_id, :value => @person.id
          = submit_tag "save"

    - if @person != current_user.person && current_user.friends.include?(@person)
      = link_to 'remove friend', @person, :confirm => 'Are you sure?', :method => :delete, :class => "button"

.span-20.last
  
  .span-19.last
    - if @posts
      %ul#stream
        - for post in @posts
          = render type_partial(post), :post => post unless post.class == Album
        = will_paginate @posts
    - else
      %h3 no posts to display!
