- title "New Friend"

= form_for @friend do |f|
  = f.error_messages
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :url
    %br
    = f.text_field :url
    
    =f.fields_for :profile do |p|
      %p
        = p.label :first_name
        %br
        = p.text_field :first_name
        
      %p
        = p.label :last_name
        %br
        = p.text_field :last_name
    = f.submit


%p= link_to "Back to List", friends_path
