- title "New Friend"

= form_for @friend do |f|
  = f.error_messages
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :url
    %br
    = f.text_field :url
  %p
    = f.submit


%p= link_to "Back to List", friends_path
