- title "Friend"

%p
  %strong Real Name:
  = @friend.real_name
%p
  %strong Email:
  = @friend.email
%p
  %strong Url:
  = @friend.url

%p
  = link_to "Destroy", @friend, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", friends_path
