.span-18.last
  %h1= "#{@friend.real_name}"
- if @friend_profile
  %p
    %b First Name
  %p
    = @friend_profile.first_name
  %p
    %b Last Name
  %p
    = @friend_profile.last_name

.span-18
  - if @friend.posts
    %h3 stream
    %ul#stream
      - for post in @friend_posts
        = render type_partial(post), :post => post
  - else
    %h3 no posts to display!
