= t('notifier.hello', :name => @receiver.profile.first_name)
= "#{@sender.name} (#{@sender.diaspora_handle})"
= t('notifier.also_commented.commented', :post_author => @post_author_name)

= @comment.text

= "#{t('notifier.love')} \n"
= t('notifier.diaspora')
