!= t('notifier.hello', :name => @receiver.profile.first_name)
!= "#{@sender.name} (#{@sender.diaspora_handle})"
!= t('notifier.comment_on_post.commented')

!= @comment.text

!= "#{t('notifier.love')} \n"
!= t('notifier.diaspora')
