%p
  = t('notifier.hello', :name => @receiver.profile.first_name)
%p
  = "#{@sender.name} (#{@sender.diaspora_handle})"
  = t('.commented')

  = @comment.text

  %br
  = link_to t('.sign_in'), status_message_url(@comment.post)

  %br
  = t('notifier.love') 
  %br
  = t('notifier.diaspora')
