%p
  = t('notifier.hello', :name => @receiver.profile.first_name)
%p
  = t('.liked', :name => "#{@sender.name} (#{@sender.diaspora_handle})")

%p
  = @like.target.formatted_message(:plain_text => true)
%p

  %br
  = link_to t('.sign_in'), post_url(@like.target)
  %br
  = t('notifier.love')
  %br
  = t('notifier.diaspora')
