%p
  = t('notifier.hello', :name => @receiver.profile.first_name)
%p
  = t('.liked', :name => "#{@sender.name} (#{@sender.diaspora_handle})")

  %br
  = link_to t('.sign_in'), status_message_url(@like.post)

  %br
  = t('notifier.love') 
  %br
  = t('notifier.diaspora')
