!= "#{t('notifier.liked.liked', :name => "#{@notification.sender.name}")}:"
!= @notification.text_owner.user_preferences.exists?(:email_type => 'silent') ? "#{t('notifier.liked.silenced_text')}" : post_message(@notification.like.target)


