%p
  = "#{t('.liked', :name => "#{@sender.name}")}:"

%p{:style => "font-style:italic;color:#666"}
  = post_message(@like.target, :process_newlines => true)

%p
  = link_to t('.view_post'), post_url(@like.target)
