!!!
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    :css
      body{
        width:600px;
        font-family:'Arial','Helvetica',sans-serif;
        font-size:14px; 
        color:#333;
        }
      #container{
        margin-bottom:25px
        min-height:400px;
        padding-left:15px;
      }
      header{
        background-color:#333;
        padding: 15px;
        margin-bottom: 25px;
      }
      p{
        padding:5px;
      }
      p.small{
        font-size:smaller;
        color:#999;
        font-style:italic;
      }
      a{
        color:#107FC9;
        font-weight:bold;
      }
      a:hover{
        color: #22AAE0;
      }
      a:active{
        color: #005D9C;
      }
      .large_text{
        font-size:21px;
        font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
      }
  %body
    %header
      = image_tag '/images/diaspora_white.png'
    #container
      %p
        Hello #{@receiver.first_name}!
      %p
        #{(@resource.inviters.count == 1)? ( @resource.inviters.first.real_name + " (#{@resource.inviters.first.diaspora_handle})" + " has") : (@resource.inviters.map{|inv| inv.real_name + " (#{inv.diaspora_handle})"}.join(",") + " have")} invited you to join Diaspora at #{root_url}, you can accept it through the link below.
      - @resource.inviters.each do |inv|
        - if @resource.invite_messages[inv.id.to_s]
          = "#{inv.real_name}:"
          = @resource.invite_messages[inv.id.to_s]
          %p
      %p= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token), :class => "large_text"
      %p.small
        If you don't want to accept the invitation, please ignore this email.
        %br/
        Your account won't be created until you access the link above and sign up.
