= "hey #{@receiver.profile.first_name},"
= "#{@sender.real_name} (#{@sender.diaspora_handle})"
just sent you a friend request on Diaspora*
You should really think about checking it out.

= "sign in here: #{new_user_session_url}"

love, 
the diaspora email robot
