!= t('notifier.hello', :name => @receiver.profile.first_name)
!= "#{@sender.name} (#{@sender.diaspora_handle})"
!= t('notifier.private_message.private_message')

!= t('notifier.private_message.message_subject', :subject => @conversation.subject)
!= @message.text

!= "#{t('notifier.love')} \n"
!= t('notifier.diaspora')
