= "hey #{@receiver.profile.first_name},"
= "#{@sender.real_name} (#{@sender.diaspora_handle})"
has accepted your friend request. They are now in your 
= "#{@aspect.name} asepct.\n" 
= "#{aspect_url(@aspect)}"


love, \n 
the diaspora email robot
