%p
  = t('notifier.hello', :name => @receiver.profile.first_name)
%p
  = "#{@sender.name} (#{@sender.diaspora_handle})"
  = t('.accepted')

  %br
  = t('notifier.love') 
  %br
  = t('notifier.diaspora')
