!= "#{t('notifier.reshared.reshared', :name => "#{@notification.sender.name}")}:"
!= @notification.text_owner.user_preferences.exists?(:email_type => 'silent') ? "#{t('notifier.reshared.silenced_text')}" : post_message(@notification.reshare.root)


