-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.stream_element.conversation{:data=>{:guid=>conversation.id}}
  = person_image_tag(conversation.messages.last.author)

  .subject
    .message_count
      = conversation.messages.size

    = conversation.subject[0..30]

  .last_author
    .timestamp
      = time_ago_in_words conversation.updated_at
    = conversation.author.name
    - if conversation.participants.size > 2
      %span.participant_count
        = "(+#{conversation.participants.size - 1})"

  .message
    = "#{conversation.messages.last.text[0..45]}..."

