- conversation = visibility.conversation
%a.conversation{ :href => conversation_path(conversation) }
  .stream-element.conversation{data: {guid: conversation.id}, class: ("unread" if visibility.unread > 0)}
    .media
      .img
        = person_image_tag(conversation.author, size: :thumb_small)

      .bg
        = render partial: "conversation_subject",
                 locals:  { conversation: conversation, unread_count: visibility.unread }

        .last-author
          .timestamp
            = timeago(conversation.updated_at)

          - if conversation.last_author.present?
            = conversation.last_author.name

          - if conversation.participants.size > 2
            %span.participant_count
              = "(+#{conversation.participants.size - 1})"
