.stream
  = render partial: "message", collection: conversation.messages

  .stream-element.new-message
    .media
      .media-left
        = owner_image_tag(:thumb_small)
      .media-body
        = form_for [conversation, Message.new], html: {id: "response-message", class: "control-group"} do |message|
          .form-group
            %label.sr-only#message-label{for: "response-message-text"}= t("conversations.new.message")
            = message.text_area :text,
                                rows: 5,
                                tabindex: 1,
                                id: "response-message-text",
                                class: "form-control form-group conversation-message-text",
                                aria: {labelledby: "message-label"}

          = message.submit t("conversations.show.reply"),
                                "data-disable-with" => t("conversations.show.replying"),
                                :class => "btn btn-primary pull-right",
                                :tabindex => 2
          .clearfix
