-# Copyright (c) 2010-2011, Diaspora Inc. This file is
-# licensed under the Affero General Public License version 3 or later. See
-# the COPYRIGHT file.

.conversation
  .conversation-participants.header-full-width
    .delete_conversation.pull-right
      = link_to(raw("<i class='entypo-trash'></i>"), conversation_visibility_path(conversation),
              method: 'delete', data: { confirm: "#{t('.delete')}?" }, class: "remove")

    %h3
      = conversation.subject
    .last-message-timeago
      != t('.last_message', timeago: timeago(conversation.updated_at))

    .avatars
      - for participant in conversation.participants
        .avatar
          = person_image_link(participant, size: :thumb_small)
    .clear

  = render partial: 'messages', locals: { conversation: conversation }
