-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


.span-16.last
  .conversation_participants
    .span-9
      %h3{ :class => direction_for(conversation.subject) }
        = conversation.subject

      .conversation_controls
        = link_to (image_tag('reply.png', :height => 14, :width => 14) + ' ' + t('.reply')), '#', :id => 'reply_to_conversation'
        = link_to (image_tag('deletelabel.png') + ' ' + t('.delete').downcase), conversation_visibility_path(conversation), :method => 'delete', :confirm => t('are_you_sure')

    .span-6.avatars.last
      - for participant in conversation.participants
        = person_image_link(participant)

%br
%br
%br
%br
%br
.span-16.last
  .stream
    = render :partial => 'messages/message', :collection => conversation.messages

    .stream_element.new_message
      = owner_image_tag

      .content
        = form_for [conversation, Message.new] do |message|
          = message.text_area :text, :rows => 5
          .right
            = message.submit t('.reply').capitalize, :class => 'button'
            = message.submit t('cancel'), :name => "reset", :id => "reset_button", :type => "reset", :class => "button"
