-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:javascript
  $(document).ready(function(){
    $('.conversation', '.stream').click(function(){
      var conversationSummary = $(this),
          conversationGuid = conversationSummary.attr('data-guid');
      $.get("conversations/"+conversationGuid, function(data){

        $('.conversation', '.stream').removeClass('selected');
        conversationSummary.addClass('selected');
        $('#conversation_show').html(data);
      });
    });
  });

.span-24.last{:style => 'position:relative;'}
  .right
    = link_to 'New Message', new_conversation_path, :class => 'button'
  = link_to 'Inbox', conversations_path, :class => 'button'
  = link_to 'Sent', conversations_path, :class => 'button'
  %br
  %br
  %br

.span-7
  - if @conversations.count > 0
    .stream.conversations
      = render :partial => 'conversations/conversation', :collection => @conversations
  - else
    %i
      You have no messages

#conversation_show.span-17.last
  - if @conversation
    = render 'conversations/show', :conversation => @conversation
  - else
    %i
      no conversation selected
