- content_for :head do
  = javascript_include_tag :inbox

- content_for :page_title do
  = t('.conversations_inbox')

.container-fluid#conversations_container
  .row-fluid
    .span4
      #left_pane
        #left_pane_header
          %h3
            .pull-right{ :class => ("hidden" unless @conversation)}
              = link_to t('.new_conversation'), conversations_path, :class => 'btn btn-default'
            = t('.inbox')

        #conversation_inbox
          .stream.conversations
            - if @conversations.count > 0
              = render :partial => 'conversations/conversation', :collection => @conversations, :locals => {:authors => @authors, :ordered_participants => @ordered_participants, :unread_counts => @unread_counts}
            - else
              #no_conversations
                = t('.no_messages')
            = will_paginate @conversations, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer

    .span8
      - if @conversation
        .stream_container
          #conversation_show
            = render 'conversations/show', :conversation => @conversation
      - else
        .stream_container.hidden
          #conversation_show
        #conversation_new.row-fluid
          %h3.text-center
            = t('conversations.index.new_conversation')
          .span10.offset
            = render 'conversations/new'
