-#   Copyright (c) 2010-2012, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.right
  = link_to t('.new_message'), new_conversation_path, :class => 'btn'

- flash.each do |name, msg|
  %div{:id => "flash_#{name}", :class => "expose"}
    .message= msg
  .stream
    %p{:class => "conversation_#{name}"}= msg

%h3
  = t('.inbox')

#conversation_inbox
  .stream.conversations
    - if @conversations.count > 0
      = render :partial => 'conversations/conversation', :collection => @conversations, :locals => {:authors => @authors, :unread_counts => @unread_counts}
    - else
      %br
      %br
      %br
      %br
      %div{:style => 'text-align:center;'}
        %i
          = t('.no_messages')

  = will_paginate @conversations, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer
