-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


%h2
  New Message

= form_for Conversation.new do |conversation|
  %h4
    to
  = text_field_tag "conversation[contact_ids]"

  %h4
    subject
  = conversation.text_field :subject

  %h4
    message
  = text_area_tag "conversation[text]", '', :rows => 5

  = conversation.submit :send
  = link_to 'cancel', conversations_path
