-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:javascript
  $(document).ready(function () {
    $("#my-text-input").tokenInput("/url/to/your/script/");
  });
  


#new_message_pane
  #facebox_header
    %h4
      New Message

  = form_for Conversation.new do |conversation|

    - if @contact
      send a message to
      = @contact.person.name

      = hidden_field_tag "conversation[contact_ids]", @contact.id
      = hidden_field_tag "profile", @contact.person.id

    -else
      %h4
        to
      = text_field_tag "conversation[contact_ids]"

    %h4
      subject
    = conversation.text_field :subject

    %h4
      message
    = text_area_tag "conversation[text]", '', :rows => 5

    = conversation.submit :send
    = link_to 'cancel', conversations_path
