<div id="content">
  <h1><%=@person.real_name%></h1>
  <div id="content_inner">
    <div id="i" class="entity_profile vcard author">
      <h2>User profile</h2>
      <dl class="entity_nickname">
        <dt>Nickname</dt>
        <dd>
        <a href="<%=@person.url%>" rel="me" class="nickname url uid"><%= @person.real_name%></a>
        </dd>
      </dl>
        <dl class="entity_given_name">
        <dt>Full name</dt>
        <dd>
        <span class="given_name" ><%= @person.profile.first_name %></span>
        </dd>
        </dl>
        <dl class="entity_family_name">
        <dt>Full name</dt>
        <dd>
        <span class="family_name" ><%= @person.profile.last_name %></span>
        </dd>
        </dl>
        <dl class="entity_fn">
        <dt>Full name</dt>
        <dd>
        <span class="fn" ><%= @person.real_name %></span>
        </dd>
      </dl>
      <dl class="entity_url">
        <dt>URL</dt>
        <dd>
        <a href="<%= @person.url%>" rel="me" id="pod_location" class="url"><%= @person.url%></a>
        </dd>
      </dl>
      <dl class="entity_photo">
        <dt>Photo</dt>
        <dd>
        <img class="photo avatar" src="<%= @person.profile.image_url%>" width="100" height="100"/>
        </dd>
      </dl>
      <dl class="entity_note">
        <dt>Note</dt>
        <dd class="note">Diaspora is awesome! vi is better than emacs!</dd>
      </dl>
    </div>
  </div>
</div>
