-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%h1 Viewing statistic

%h3
  = "Users in sample: #{@statistic.users_in_sample}"

  %h5
    (graph implementation pending)

  
  - for pos in (0..@distribution.length-1)
    %b
      = pos
    = @distribution[pos]
    %br

%br
= link_to 'all statistics', statistics_path

