---
blog_title: My Octopress Blog
author: 

twitter_user: 
tweet_count: 3
show_replies: false

delicious_user: 
delicious_count: 3

full_url: 
disqus_short_name: 

google_custom_search_id:
google_analytics_tracking_id:

---

!!! 1.1 Transitional
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en")

  = include "head.haml"
  %body(id="#{(page.respond_to?(:body_id) ? page.body_id : nil)}")
    #header= include "header.haml"
    #nav= include "navigation.haml"
    #page
      #content
        #main
          .blog.content= include "post.haml"
        #sidebar= include "sidebar.haml"
    = include "footer.haml"