---
blog_title: My Octopress Blog
root_url: 
---

!!! 1.1 Transitional
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en")
  %head
    %title= "#{page.title} - #{page.blog_title}"
    - if page.respond_to? :description
      %meta(name="description" content="#{page.description}")/
    - if page.respond_to? :keywords
      %meta(name="keywords" content="#{page.keywords}")/
    %link(href="#{page.root_url}/stylesheets/screen.css" rel="stylesheet" media="screen projection" type="text/css")
    %link(href="#{page.root_url}/atom.xml" rel="alternate" title="#{page.blog_title}" type="application/atom+xml")
  %body
    #header
      .page_width
        %a.title(href="/")=page.blog_title
    #nav
      .page_width
        %ul
          %li.alpha
            %a(href="#{page.root_url}/") Blog
          %li.omega
            %a(href="#{page.root_url}/about") About
          %li.subscribe
            %a(href="#{page.root_url}/atom.xml") Subscribe
    #page
      .page_width
        - if page.respond_to? :date
          %h2= page.title
          = content
          %p.pubdate
            Published:
            =page.date.strftime("%d %b, %Y")
        - else
          = content
    #footer
      .page_width
        = "Copyright &copy; #{Time.now.strftime('%Y')} - #{page.blog_title} | "
        %span.credit Powered by <a href="http://github.com/imathis/octopress/">Octopress</a>