---
blog_title: My Octopress Blog

twitter_user: 
tweet_count: 3
show_replies: false

delicious_user: 
delicious_count: 3

full_url: 
disqus_short_name: 

google_custom_search_id:
google_analytics_tracking_id:

---

!!! 1.1 Transitional
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en")
  %head
    %title #{page.blog_title} :: #{page.title}
    - if page.respond_to? :description
      %meta(name="description" content="#{page.description}")/
    - if page.respond_to? :keywords
      %meta(name="keywords" content="#{page.keywords}")/
    %link(href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css")
    %link(href="/atom.xml" rel="alternate" title="#{page.blog_title}" type="application/atom+xml")
    - if page.respond_to? :twitter_user
      :javascript
        var twitter_user = "#{page.twitter_user}"
        var show_replies = #{page.show_replies};
        var tweet_count = #{page.tweet_count};
      %script(src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools-yui-compressed.js" type="text/javascript")
      %script(src="/javascripts/mootools-1.2.4.2-more.js" type="text/javascript")
      %script(src="/javascripts/octopress.js" type="text/javascript")
      %script(src="/javascripts/twitter.js" type="text/javascript")
    - if page.respond_to? :google_analytics
      %script(src="http://www.google-analytics.com/ga.js" type="text/javascript")
  %body(id="#{(page.respond_to?(:body_id) ? page.body_id : nil)}")
    #header
      .page_width
        %a.title(href="/")=page.blog_title
        - if page.respond_to? :google_custom_search_id
          #search
            %form(action="http://www.google.com/cse" id="cse-search-box")
              %input(type="hidden" name="cx" value="#{page.google_custom_search_id}")
              %input(type="hidden" name="ie" value="UTF-8")
              %input#q(type="text" name="q")
    #nav
      .page_width
        %ul
          %li.alpha
            %a(href="/") Blog
          %li.omega
            %a(href="/about.html") About
          %li.subscribe
            %a(href="/atom.xml") Subscribe
    #page
      .page_width
        #main
          - if page.respond_to? :date
            .blog
              .article
                %h2= page.title
                = preserve rp(content)
              %p.pubdate
                Published:
                =page.date.strftime("%d %b, %Y")
              - if page.respond_to? :disqus_short_name
                #disqus_thread
                :javascript
                  var disqus_url = "#{page.full_url}#{page.url}";
                %noscript
                  %a(href="http://#{page.disqus_short_name}.disqus.com/?url=ref") View the discussion thread
                %script(type="text/javascript" src="http://disqus.com/forums/#{page.disqus_short_name}/embed.js")
          - else
            = preserve rp(content)
        #sidebar
          - if page.respond_to? :twitter_user
            %h4 Twitter <a class="small" href="http://twitter.com/#{page.twitter_user}">@#{page.twitter_user}</a>
            #twitter
              %ul#twitter_status
                Status updating...
          - if page.respond_to? :delicious_user
            %h4 My Delicious <a class="small" href="http://delicious.com/#{page.delicious_user}">more &rarr;</a>
            #delicious
              %script(type="text/javascript" src="http://feeds.delicious.com/v2/js/#{page.delicious_user}?title=&count=#{page.delicious_count}&sort=date&extended")
    #footer
      .page_width
        Copyright &copy; #{Time.now.strftime('%Y')} - #{page.blog_title} -
        %span.credit Powered by <a href="http://octopress.org">Octopress</a>
    - if page.respond_to? :disqus_short_name
      //Disqus Comments code
      :javascript
        (function() {
            var links = document.getElementsByTagName('a');
            var query = '?';
            for(var i = 0; i < links.length; i++) {
              if(links[i].href.indexOf('#disqus_thread') >= 0) {
                query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
              }
            }
            document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/#{page.disqus_short_name}/get_num_replies.js' + query + '"></' + 'script>');
          })();
    - if page.respond_to? :google_analytics_tracking_id
      //Google Analytics code
      :javascript
        try {
        var pageTracker = _gat._getTracker("#{page.google_analytics_tracking_id}");
        pageTracker._trackPageview();
        } catch(err) {}