.btn-group.aspect_dropdown
  %button.btn.btn-default.dropdown-toggle{ ! current_user.getting_started? ? {'data-toggle' => 'dropdown'} : {'data-toggle' => 'dropdown', :title => popover_with_close_html("2. #{t('shared.public_explain.control_your_audience')}"), 'data-content'=> t('shared.public_explain.visibility_dropdown')} }
    - if publisher_public
      %i#visibility-icon.entypo.small.globe
      %span.text
        = t('public')
    - else
      %i#visibility-icon.entypo.small.lock
      %span.text
        - if all_aspects_selected?(selected_aspects)
          = t('all_aspects')
        - elsif selected_aspects.size == 1
          = selected_aspects.first.name
        - else
          = t('shared.aspect_dropdown.toggle', count: selected_aspects.size)
    %span.caret
  %ul.dropdown-menu.pull-right{ :unSelectable => 'on' }

    %li.public.radio{"data-aspect_id" => "public", :class => ("selected" if publisher_public)}
      %a
        %span.status_indicator
          %i.icon-ok
        %span.text
          = t('public')
    %li.all_aspects.radio{"data-aspect_id" => "all_aspects", :class => ("selected" if (!publisher_public && all_aspects_selected?(selected_aspects)))}
      %a
        %span.status_indicator
          %i.icon-ok
        %span.text
          = t('all_aspects')
    %li.divider
    - for aspect in all_aspects
      %li.aspect_selector{ 'data-aspect_id' => aspect.id, :class => !all_aspects_selected?(selected_aspects) && selected_aspects.include?(aspect) ? "selected" : "" }
        %a
          %span.status_indicator
            %i.icon-ok
          %span.text
            = aspect.name
