-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= form_for StatusMessage.new, url: status_messages_path, as: :status_message,
    html: {class: "control-group", data: {ajax: false}} do |status|
  .form-group
    = status.hidden_field :provider_display_name, value: 'mobile'
    = status.text_area :text, placeholder: t('shared.publisher.whats_on_your_mind'), rows: 4, autofocus: "autofocus", class: "form-control"

  = hidden_field_tag "aspect_ids[]", "all_aspects"
  .form-group
    %span#publisher-service-icons
      - available_services.each do |service|
        = image_tag "social-media-logos/#{service.provider}-32x32.png",
                    title: service.provider.titleize, class: "service_icon dim",
                    id:    service.provider, maxchar: service.class::MAX_CHARACTERS.to_s

    .clear
    #publisher-textarea-wrapper
      %ul#photodropzone
    #fileInfo-publisher
    .clearfix
    .btn-toolbar
      .pull-left#file-upload-publisher
        %i.entypo-camera.middle
      .pull-right#publisher-mobile
        = submit_tag t("shared.publisher.share"),
          class: "btn btn-primary",
          id: "submit_new_message",
          data: {"disable-with" => t("shared.publisher.posting")}
      .pull-right
        = render partial: "aspects/aspect_dropdown"
