-#   Copyright (c) 2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.dropdown{:class => "hang_#{hang}"}
  .button.toggle{:class => ("in_aspects" if contact.aspects.size > 0)}
    - if contact.aspects.size == 1
      = contact.aspects.first.name
    - else
      = t('.toggle', :count => contact.aspects.size)
    &#9660;

  .wrapper
    %ul.dropdown_list{:unSelectable => 'on', 'data-person_id' => ((person.id) if person)}
      - for aspect in all_aspects
        = aspect_dropdown_list_item(aspect, contact, person)

      - if defined?(@aspect) && ( @aspect == :profile || @aspect == :getting_started || @aspect == :tag || @aspect == :search || @aspect == :notification)
        %li.newItem
          .add_aspect
            = link_to t('contacts.index.add_a_new_aspect'), new_aspect_path(:person_id => person.id), :rel => 'facebox', :class => 'new_aspect'
