%h3
  = t('.notifications')

.right
  -if params[:type]
    = link_to t('.mark_all_shown_as_read'), read_all_notifications_path(:type => params[:type] ), :class => 'btn'
  -else
    = link_to t('.mark_all_as_read'), read_all_notifications_path, :class => 'btn'
%ul.notifications
  - @group_days.each do |day, notes|
    %li
      .notification_day_header
        %span.label
          = day
      %ul.notifications_for_day
        - notes.each do |note|
          .stream_element{:data=>{:guid => note.id}, :class => "#{note.unread ? 'unread' : 'read'}"}
            .content.from
              =person_image_link(note.actors.last)
              = notification_message_for(note)
              .time_notif
                = timeago(note.created_at)

  = will_paginate @notifications, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer
