- content_for :head do
  = include_javascripts :notifications
.span-1
  = image_tag 'icons/mail_big.png', :height => 30, :width => 30, :style=>"margin-top:3px;"
.span-10
  %h2
    = t('.notifications')
.span-13.last.left
  = link_to t('.mark_all_as_read'), read_all_notifications_path, :class => 'button'

.span-24.last
  %ul.stream.notifications
    - @group_days.each do |day, notes|
      %li
        %h4= day
        %ul.notifications_for_day
          - notes.each do |note|
            .stream_element{:data=>{:guid => note.id}, :class => "#{note.unread ? 'unread' : ''}"}
              %span.from
                = notification_people_link(note)
                = object_link(note)

              %span.time= timeago(note.created_at)
    = will_paginate @notifications
