- content_for :head do
  = include_javascripts :notifications
.span-13
  %h2
    %span.notification_count{:class => ('unread' if @notification_count > 0)}
      = @notification_count
    = t('.notifications')
.span-8.last.left
  = link_to t('.mark_all_as_read'), read_all_notifications_path, :class => 'button'

.span-24.last
  .stream.notifications
    - @group_days.each do |day, notes|
      .day_group.span-24.last
        .span-3
          .date
            .day= the_day(day.split(' '))
            .month= the_month(day.split(' '))

        .span-8.notifications_for_day
          - notes.each do |note|
            .stream_element{:data=>{:guid => note.id}, :class => "#{note.unread ? 'unread' : ''}"}
              %span.from
                = notification_people_link(note)
                = object_link(note)

              %br
              %time= timeago(note.created_at)
        .span-13.last
    = will_paginate @notifications
