:javascript
  $('.note a').live('click', function(evt){
    var note_id = $(this).closest('.note').attr('id');
    $.ajax({
      url: 'notifications/' + note_id,
      type: 'PUT'
    });
  });

%ul.notes
  - @group_days.each do |day, notes|
    %h3
      %ul
        %li
          = day
        - notes.each do |note|
          %li.note{:id => note.id}
            %h4{:class => "#{note.unread ? 'unread' : ''}"}
              = link_to "#{note.person.name.titleize}", person_path(note.person)
              = object_link(note)
              %span.description=" #{t('ago', :time => time_ago_in_words(note.created_at))}"
