%h1.big_text
  .back
    = link_to '⇧ ostatus', ostatus_path
  = "#{@author.username}'s stream"

.sub_header
  = @author.profile_url

- if @author_ostatus_posts
  %ul#stream
    - for post in @author_ostatus_posts
      = render type_partial(post), :post => post
    = will_paginate @author_ostatus_posts
- else
  %h3 no posts to display!

#content_bottom
  .back
    = link_to "⇧ ostatus", ostatus_path
  .button.right
    = link_to 'Unsubscribe', @author, :confirm => 'Are you sure?', :method => :delete
