- content_for :head do 
  = javascript_include_tag 'jquery-ui-1.8.4.custom.min.js'
  = javascript_include_tag 'group-edit.js'


%h1.big_text
  .back
    = link_to "⇧ #{@group.name}", @group
  = "Editing Groups"

%ul
- for group in @groups
  %li.group
    = group.name
    %ul
      stuff
      -for person in group.people
        %li.person
          = image_tag (person.profile.image_url(:thumb_small),:size => "30x30")  unless person.profile.image_url.nil?
          = person.real_name


#content_bottom
  .back
    = link_to "⇧ #{@group.name}", @group
