%h1.big_text
  .back
    = link_to "⇧ #{@group.name}", @group

  = "Editing #{@group.name}"

.sub_header
  ="updated #{how_long_ago(@group)}"

- form_for @group do |a|
  = a.error_messages
  %p
    = a.text_field :name

  #submit_block
    = link_to "Cancel", root_path
    or
    = a.submit

.button.delete
  = link_to 'Delete Album', @group, :confirm => 'Are you sure?', :method => :delete

#content_bottom
  .back
    = link_to "⇧ #{@group.name}", @group
