- content_for :head do 
  = javascript_include_tag 'jquery-ui-1.8.4.custom.min.js'
  = javascript_include_tag 'group-edit.js'

- content_for :left_pane do
  %h1
    Requests

  %li.requests
    %ul
      - for request in @remote_requests
        %li.person{:id => request.person.id, :request_id => request.id}
          = image_tag(request.person.profile.image_url(:thumb_small)) unless request.person.profile.image_url.nil?
          .name
            = request.person.real_name

  %h1
    Ignore/Remove

  %li.remove
    %ul
      - for request in @remote_requests
        %li.person{:id => request.person.id, :request_id => request.id}
          = image_tag(request.person.profile.image_url(:thumb_small)) unless request.person.profile.image_url.nil?
          .name
            = request.person.real_name

%h1{:id => 'group_title'}
  Relations

%ul#group_list

- for group in @groups

  %li.group
    %h3{:contenteditable => true}= group.name

    %ul{:id => group.id}
      -if group.people.size < 1
        %li.grey Drag to add people

      -else
        -for person in group.people

          %li.person{:id => person.id, :from_group_id => group.id}
            = image_tag(person.profile.image_url(:thumb_small)) unless person.profile.image_url.nil?
            .name
              = person.real_name
%p
  %br
  = link_to 'Update Groups', '#', :class => 'button', :id => "move_friends_link"

#content_bottom
