%h1.big_text
  =link_to 'groups', groups_path 
  >>
  new group

= form_for @group do |f|
  = f.error_messages
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.submit

%p= link_to "Back to List", groups_path
