-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


%h3
  Your Account
  .description
    Connect Diaspora to publish to other applications, export your data, or close your account.

= form_for @user do |user|
  %h4
    Change Password
    = user.error_messages

    = user.password_field :password, :placeholder => "New password"
    = user.password_field :password_confirmation, :placeholder => "Password confirmation"

  .submit_block
    = link_to "Cancel", edit_user_path(current_user)
    or
    = user.submit 'Change password'

%h4
  Export Data
  %br
  %br
  = link_to "Download my account", users_export_path, :class => "button"
  = link_to "Download my photos", users_export_photos_path, :class => "button"

%br
%br
%br

%h4
  Close Account
  .description
    Closing your account will delete all of your posts, friends, and settings.  You will be removed from this server.
  %br
  = link_to "Close Account", current_user,
              :confirm => "Are you sure?", :method => :delete,
              :class => "button"
