.modal.fade{ id:       "closeAccountModal",
             tabindex: "-1",
             role:     "dialog",
             aria:     { labelledby: "closeAccountModalLabel", hidden: "true" }}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true" }}
          &times;
        %h3.modal-title{ id:"closeAccountModalLabel"}
          = t("users.edit.close_account.dont_go")
      = form_for "user", url: user_path, html: { method: :delete } do |f|
        .modal-body
          .text-center
            = image_tag "sadcat.jpg", class: "img-responsive center-block"
            %h4
              %strong
                = t("users.edit.close_account.mr_wiggles")

          = t("users.edit.close_account.make_diaspora_better")

          %ol
            %li
              = t("users.edit.close_account.what_we_delete")
            %li
              = t("users.edit.close_account.locked_out")
            %li
              = t("users.edit.close_account.lock_username")

          %strong
            = t("users.edit.close_account.no_turning_back")

          .small-horizontal-spacer
          = f.error_messages
          .form-group
            = f.label :close_account_password, t("users.edit.current_password"), for: :close_account_password
            = f.password_field :current_password, id: :close_account_password, class: "form-control",
              autocomplete: "current-password"
        .modal-footer
          .btn.btn-default{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
            = t("cancel")
          = f.submit t("users.edit.close_account_text"),
            class: "btn btn-danger",
            id:    "close_account_confirm",
            data:  { confirm: t("are_you_sure_delete_account") }
