-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t(".edit_account")

.row
  .col-md-12
    .row
      .col-md-6
        %h3= t(".your_handle")

        %p
          %b= current_user.diaspora_handle
      .col-md-6
        %h3
          = t(".your_email")
          %i.entypo-lock.gray.settings-visibility{title: t("users.edit.your_email_private")}


        = form_for "user", url: edit_user_path,
          html: {method: :put, class: "form-horizontal", id: "email-form"} do |f|
          = f.error_messages
          .form-group
            .col-sm-12
              = f.text_field :email, value: @user.unconfirmed_email || @user.email, class: "form-control"
          .clearfix= f.submit t(".change_email"), class: "btn btn-primary pull-right"
        - if @user.unconfirmed_email.present?
          %div= t(".email_awaiting_confirmation", email: @user.email, unconfirmed_email: @user.unconfirmed_email)
    %hr

    .row
      .col-md-12
        %h3= t(".change_password")
        = form_for @user, url: edit_user_path, html: {method: :put, class: "form-horizontal"} do |f|
          - if (@user.errors.attribute_names & %i[password password_confirmation current_password]).present?
            = f.error_messages
          .form-group
            = f.label :current_password, t(".current_password"), class: "col-sm-6 control-label"
            .col-sm-6
              = f.password_field :current_password, placeholder: t(".current_password_expl"),
                class: "form-control", autocomplete: "current-password"
          .form-group
            = f.label :password, t(".new_password"), class: "col-sm-6 control-label"
            .col-sm-6
              = f.password_field :password, placeholder: t(".character_minimum_expl"),
                class: "form-control", autocomplete: "new-password"
          .form-group
            = f.label :password_confirmation, t("registrations.new.password_confirmation"),
              class: "col-sm-6 control-label"
            .col-sm-6
              = f.password_field :password_confirmation, placeholder: t(".character_minimum_expl"),
                class: "form-control", autocomplete: "new-password"

          .clearfix
            = f.submit t(".change_password"), class: "btn btn-primary pull-right", name: "change_password"
    %hr

    .row
      .col-md-12
        %h3= t(".change_language")
        = form_for "user", url: edit_user_path, html: {method: :put} do |f|
          .form-inline.clearfix
            = f.select :language, available_language_options, {}, class: "form-control form-group"
            = f.submit t(".change_language"), class: "btn btn-primary pull-right"
    %hr

    .row
      .col-md-12
        %h3= t(".change_color_theme")
        = form_for "user", url: edit_user_path, html: {method: :put} do |f|
          .form-inline.clearfix
            = f.select :color_theme, available_color_themes, {}, class: "form-control form-group"
            = f.submit t(".change_color_theme"), class: "btn btn-primary pull-right"
    %hr

    .row
      .col-md-12
        %h3#stream-preferences
          = t(".stream_preferences")
        = form_for current_user, url: edit_user_path, html: {method: :put} do |f|

          = f.fields_for :stream_preferences do
            #stream_prefs
              - if AppConfig.settings.community_spotlight.enable?
                = f.label :show_community_spotlight_in_stream, class: "checkbox-inline" do
                  = f.check_box :show_community_spotlight_in_stream
                  = t(".show_community_spotlight")

              = f.label :getting_started, class: "checkbox-inline" do
                = f.check_box :getting_started
                = t(".show_getting_started")

            .clearfix= f.submit t(".change"), class: "btn btn-primary pull-right"
    %hr

    .row
      .col-md-12
        %h3#auto-follow-back-preferences
          = t(".following")
        = form_for current_user, url: edit_user_path, html: {method: :put, class: "form-horizontal"} do |f|
          = f.label :auto_follow_back, class: "checkbox-inline" do
            = f.check_box :auto_follow_back
            = t(".auto_follow_back")
          .small-horizontal-spacer
          .form-group.row
            %label.col-sm-6.control-label= t(".auto_follow_aspect")
            .col-sm-6
              = f.select :auto_follow_back_aspect_id,
                aspect_options_for_select(current_user.aspects),
                {},
                class: "form-control"

          .small-horizontal-spacer
          .clearfix= f.submit t(".change"), class: "btn btn-primary pull-right"
    %hr

    = render partial: "post_default"

    - if AppConfig.mail.enable?
      .row
        .col-md-12
          %h3
            = t(".receive_notifications")
          = form_for "user", url: edit_user_path, html: {method: :put} do |f|
            = f.fields_for :email_preferences do |type|
              .email-prefs
                .icon-cell
                  = t(".in_app_notifications")
                .icon-cell
                  = t(".email_notifications")
                %div
                - if current_user.admin?
                  .icon-cell
                    %i.entypo-bell.hidden-bell
                  .icon-cell
                    = type.label :someone_reported_mail, class: "icon-checkbox" do
                      = type.check_box :someone_reported_mail,
                          {checked: email_prefs["someone_reported"][:mail],
                           name: "user[email_preferences][someone_reported][mail]"},
                          false, true
                      %i.entypo-mail

                  .notification-text
                    = t(".someone_reported")

                .icon-cell
                  = type.label :started_sharing_in_app, class: "icon-checkbox" do
                    = type.check_box :started_sharing_in_app,
                      {checked: email_prefs["started_sharing"][:in_app],
                       name: "user[email_preferences][started_sharing][in_app]"},
                      false, true
                    %i.entypo-bell

                .icon-cell
                  = type.label :started_sharing_mail, class: "icon-checkbox" do
                    = type.check_box :started_sharing_mail,
                      {checked: email_prefs["started_sharing"][:mail],
                       name: "user[email_preferences][started_sharing][mail]"},
                      false, true
                    %i.entypo-mail

                .notification-text
                  = t(".started_sharing")

                .icon-cell
                  = type.label :mentioned_in_app, class: "icon-checkbox" do
                    = type.check_box :mentioned_in_app,
                      {checked: email_prefs["mentioned"][:in_app],
                       name: "user[email_preferences][mentioned][in_app]"},
                      false, true
                    %i.entypo-bell

                .icon-cell
                  = type.label :mentioned_mail, class: "icon-checkbox" do
                    = type.check_box :mentioned_mail,
                      {checked: email_prefs["mentioned"][:mail],
                       name: "user[email_preferences][mentioned][mail]"},
                      false, true
                    %i.entypo-mail

                .notification-text
                  = t(".mentioned")

                .icon-cell
                  = type.label :mentioned_in_comment_in_app, class: "icon-checkbox" do
                    = type.check_box :mentioned_in_comment_in_app,
                      {checked: email_prefs["mentioned_in_comment"][:in_app],
                       name: "user[email_preferences][mentioned_in_comment][in_app]"},
                      false, true
                    %i.entypo-bell

                .icon-cell
                  = type.label :mentioned_in_comment_mail, class: "icon-checkbox" do
                    = type.check_box :mentioned_in_comment_mail,
                      {checked: email_prefs["mentioned_in_comment"][:mail],
                        name: "user[email_preferences][mentioned_in_comment][mail]"},
                      false, true
                    %i.entypo-mail

                .notification-text
                  = t(".mentioned_in_comment")

                .icon-cell
                  = type.label :liked_in_app, class: "icon-checkbox" do
                    = type.check_box :liked_in_app,
                      {checked: email_prefs["liked"][:in_app],
                       name: "user[email_preferences][liked][in_app]"},
                      false, true
                    %i.entypo-bell

                .icon-cell
                  = type.label :liked_mail, class: "icon-checkbox" do
                    = type.check_box :liked_mail,
                      {checked: email_prefs["liked"][:mail],
                       name: "user[email_preferences][liked][mail]"},
                      false, true
                    %i.entypo-mail

                .notification-text
                  = t(".liked")

                .icon-cell
                  = type.label :reshared_in_app, class: "icon-checkbox" do
                    = type.check_box :reshared_in_app,
                      {checked: email_prefs["reshared"][:in_app],
                       name: "user[email_preferences][reshared][in_app]"},
                      false, true
                    %i.entypo-bell

                .icon-cell
                  = type.label :reshared_mail, class: "icon-checkbox" do
                    = type.check_box :reshared_mail,
                      {checked: email_prefs["reshared"][:mail],
                       name: "user[email_preferences][reshared][mail]"},
                      false, true
                    %i.entypo-mail

                .notification-text
                  = t(".reshared")

                .icon-cell
                  = type.label :comment_on_post_in_app, class: "icon-checkbox" do
                    = type.check_box :comment_on_post_in_app,
                      {checked: email_prefs["comment_on_post"][:in_app],
                       name: "user[email_preferences][comment_on_post][in_app]"},
                      false, true
                    %i.entypo-bell

                .icon-cell
                  = type.label :comment_on_post_mail, class: "icon-checkbox" do
                    = type.check_box :comment_on_post_mail,
                      {checked: email_prefs["comment_on_post"][:mail],
                       name: "user[email_preferences][comment_on_post][mail]"},
                      false, true
                    %i.entypo-mail

                .notification-text
                  = t(".comment_on_post")

                .icon-cell
                  = type.label :also_commented_in_app, class: "icon-checkbox" do
                    = type.check_box :also_commented_in_app,
                      {checked: email_prefs["also_commented"][:in_app],
                       name: "user[email_preferences][also_commented][in_app]"},
                      false, true
                    %i.entypo-bell

                .icon-cell
                  = type.label :also_commented_mail, class: "icon-checkbox" do
                    = type.check_box :also_commented_mail,
                      {checked: email_prefs["also_commented"][:mail],
                       name: "user[email_preferences][also_commented][mail]"},
                      false, true
                    %i.entypo-mail

                .notification-text
                  = t(".also_commented")

                .icon-cell
                  %i.entypo-bell.hidden-bell

                .icon-cell
                  = type.label :private_message_mail, class: "icon-checkbox" do
                    = type.check_box :private_message_mail,
                      {checked: email_prefs["private_message"][:mail],
                       name: "user[email_preferences][private_message][mail]"},
                      false, true
                    %i.entypo-mail

                .notification-text
                  = t(".private_message")

                .icon-cell
                  = type.label :contacts_birthday_in_app, class: "icon-checkbox" do
                    = type.check_box :contacts_birthday_in_app,
                      {checked: email_prefs["contacts_birthday"][:in_app],
                       name: "user[email_preferences][contacts_birthday][in_app]"},
                      false, true
                    %i.entypo-bell

                .icon-cell
                  = type.label :contacts_birthday_mail, class: "icon-checkbox" do
                    = type.check_box :contacts_birthday_mail,
                      {checked: email_prefs["contacts_birthday"][:mail],
                       name: "user[email_preferences][contacts_birthday][mail]"},
                      false, true
                    %i.entypo-mail

                .notification-text
                  = t(".birthday")

            .clearfix= f.submit t(".change"), class: "btn btn-primary pull-right", id: "change_email_preferences"
      %hr

    .row
      .col-md-12
        %h3#protocol-handler
          = t(".protocol_handler.title")
        %p= t(".protocol_handler.description", pod_url: AppConfig.pod_uri.site)
        %p= t(".protocol_handler.browser")
        .form-group
          %button.btn.btn-default#register-protocol-handler
            = t(".protocol_handler.register")
    %hr

    .row
      .col-md-6.account-data
        %h3= t(".export_data")
        %h4= t("profile")
        .form-group
          - if current_user.exporting
            .export-in-progress= t(".export_in_progress")
          - elsif current_user.export.present?
            = link_to t(".download_export"), download_profile_user_path,
              class: "btn btn-success"
            = link_to t(".request_export_update"), export_profile_user_path, method: :post,
              class: "btn btn-default"
            %h6
              = t(".last_exported_html", timeago: timeago(current_user.exported_at))
          - else
            = link_to t(".request_export"), export_profile_user_path, method: :post,
              class: "btn btn-default"

        %h4= t("javascripts.profile.photos")
        .form-group
          - if current_user.exporting_photos
            .export-in-progress= t(".export_photos_in_progress")
          - elsif current_user.exported_photos_file.present?
            = link_to t(".download_export_photos"), download_photos_user_path, class: "btn btn-success"
            = link_to t(".request_export_photos_update"), export_photos_user_path, method: :post,
              class: "btn btn-default"
            %h6
              = t(".last_exported_html", timeago: timeago(current_user.exported_photos_at))
          - else
            = link_to t(".request_export_photos"), export_photos_user_path, method: :post,
              class: "btn btn-default"

      .col-md-6
        %h3
          = t(".close_account_text")
        .form-group
          .btn.btn-danger{id: "close_account", data: {toggle: "modal", target: "#closeAccountModal"}}
            = t(".close_account_text")
          = render "close_account_modal"
