.row
  .col-md-12
    %h3
      = t(".title")

    = form_for current_user, url: update_privacy_settings_path, html: {method: :put} do |f|
      = f.error_messages

      = f.fields_for :stream_preferences do
        .checkbox#stream_prefs
          = f.label :strip_exif do
            = f.check_box :strip_exif
            = t(".strip_exif")
          = f.submit t("users.edit.change"), class: "btn btn-primary pull-right"
%hr

.row
  .col-md-12
    %h3
      = t(".ignored_users")

    - if @blocks.length.zero?
      %p
        = t(".no_user_ignored_message")
    - else
      #blocked_people
        - @blocks.each do |block|
          = render partial: "blocked_person", locals: {block: block, person: block.person}
