-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.


%h2 Profile

= form_for @user do |f|
  = f.error_messages

  = f.fields_for :profile do |p|

    %h3="#{t('.picture')}"
    %div#image_picker
      = p.hidden_field :image_url, :value => (@profile.image_url if @profile.image_url), :id => 'image_url_field'

      - unless @photos.nil? || @photos.empty?
        - for photo in @photos
          - if @profile.image_url && @profile.image_url.include?(photo.url(:thumb_medium))
            %div.small_photo{:id => photo.url(:thumb_medium), :class=>'selected'}
              = check_box_tag 'checked_photo', true, true
              = link_to image_tag(photo.url(:thumb_medium)), "#"
          - else
            %div.small_photo{:id => photo.url(:thumb_medium)}
              = check_box_tag 'checked_photo'
              = link_to image_tag(photo.url(:thumb_medium)), "#"

      - else
        =t('.you_dont_have_any_photos')
        = link_to t('.albums'), albums_path(:aspect => 'all')
        =t('.page_to_upload_some')

    =will_paginate @photos

    %br

    %h3="#{t('.info')}"

    %p
      %b
        ="#{t('.diaspora_username')}:"
        = @user.diaspora_handle

    %p
      = p.label :first_name
      = p.text_field :first_name, :value => @profile.first_name
    %p
      = p.label :last_name
      = p.text_field :last_name, :value => @profile.last_name

  #submit_block
    = link_to t('.cancel'), root_path
    = t('.or')
    = f.submit t('.update_profile')

#content_bottom
  .back
    = link_to "⇧ #{t('.home')}", root_path

