-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('.edit_account')

#section_header
  %h2
    = t('settings')
  = render 'shared/settings_nav'

.span-12.prepend-5.last
  .span-5.append-1
    %h3
      = t('.your_handle')
    %p
      %b= current_user.diaspora_handle
  .span-5.last
    %h3
      = t('.your_email')
    = form_for 'user', :url => user_path, :html => { :method => :put } do |f|
      = f.error_messages
      %p
        = f.text_field :email, :value => @user.unconfirmed_email || @user.email
        = f.submit t('.change_email')
    %br
    - if @user.unconfirmed_email.present?
      %p= t('.email_awaiting_confirmation', :email => @user.email, :unconfirmed_email => @user.unconfirmed_email)
    %br

  %br
  %br
  %hr
  %br

  %h3 
    = t('.change_password')
  = form_for 'user', :url => user_path, :html => { :method => :put } do |f|
    = f.error_messages

    %p
      = f.label :current_password, t('.current_password')
      = f.password_field :current_password
    %p
      = f.label :password, t('.new_password')
      = f.password_field :password
    %p
      = f.label :password_confirmation, t('password_confirmation')
      = f.password_field :password_confirmation

    .submit_block
      = link_to t('cancel'), edit_user_path
      = t('or')
      = f.submit t('.change_password')

  %br
  %br
  %hr
  %br

  %h3 
    = t('.change_language')
  = form_for 'user', :url => user_path, :html => { :method => :put } do |f|
    = f.error_messages

    %p
      = f.select :language, available_language_options
      = f.submit t('.change_language')

  %br
  %br
  %hr
  %br

  %h3 
    = t('.receive_email_notifications')
  = form_for 'user', :url => user_path, :html => { :method => :put } do |f|
    = f.error_messages

    = f.fields_for :email_preferences do |type|
      #email_prefs
        %p.checkbox_select
          = type.label t('.also_commented')
          = type.check_box :also_commented, {:checked =>  @email_prefs['also_commented']}, false, true 
        %br
        %p.checkbox_select
          = type.label t('.mentioned') 
          = type.check_box :mentioned, {:checked =>  @email_prefs['mentioned']}, false, true 


        %br
        %p.checkbox_select
          = type.label t('.comment_on_post') 
          = type.check_box :comment_on_post, {:checked =>  @email_prefs['comment_on_post']}, false, true 
        
        %br
        %p.checkbox_select
          = type.label t('.private_message')
          = type.check_box :private_message, {:checked =>  @email_prefs['private_message']}, false, true 
          
        %br
        %p.checkbox_select
          = type.label t('.started_sharing') 
          = type.check_box :started_sharing, {:checked =>  @email_prefs['started_sharing']}, false, true 

        %br
        %p.checkbox_select
          = type.label t('.liked') 
          = type.check_box :liked, {:checked =>  @email_prefs['liked']}, false, true 

    %br
    = f.submit t('.change')

  %br
  %br
  %hr
  %br


  #account_data.span-5.append-2
    %h3 
      = t('.export_data')
    = link_to t('.download_xml'), export_user_path, :class => "button"
    %br
    = link_to t('.download_photos'), export_photos_user_path, :class => "button"

  .span-5.last
    %h3 
      = t('.close_account')
    = link_to t('.close_account'), user_path,
      :confirm => t('are_you_sure'), :method => :delete,
        :class => "button"
