-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:javascript
  $("#settings_nav li > a").live("click", function() {
    var target = "#"+$(this).attr('class');
    if( !$(target).is(":visible") ) {
      $(".settings_pane").fadeOut(200, function() {
        $(target).delay(200).fadeIn(200);
      });
    }
  });

#section_header
  %h2
    = t('.settings')
  %ul#settings_nav
    %li=link_to t('.profile'), edit_person_path(current_user.person)
    %li=link_to t('.account'), edit_user_path(current_user)
    %li=link_to t('.services'), services_path

.span-19.prepend-5.last
  %h2
    = t('.account')

  = link_to t('.invite_friends'), new_user_invitation_path(current_user)

  %br
  %br
  %br

  %h3 
    = t('.change_password')
  = form_for @user do |f|
    = f.error_messages

    %p
      = f.label :password, t('.new_password')
      = f.password_field :password
    %p
      = f.label :password_confirmation, t('.password_confirmation')
      = f.password_field :password_confirmation

    .submit_block
      = link_to t('.cancel'), edit_user_path(current_user)
      or
      = f.submit t('.change_password')

  %h3 
    = t('.change_language')
  = form_for @user do |f|
    = f.error_messages

    %p
      = f.select :language, available_language_options
      = f.submit t('.change_language')

  %br

  %h3 
    = t('.export_data')
  = link_to "download my xml", users_export_path, :class => "button"
  = link_to "download my photos", users_export_photos_path, :class => "button"

  %br
  %br
  %br

  %h3 
    = t('.close_account')
  = link_to t('.close_account'), current_user,
              :confirm => t('.are_you_sure'), :method => :delete,
              :class => "button"
