-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:javascript
  $("#settings_nav li > a").live("click", function() {
    var target = "#"+$(this).attr('class');
    if( !$(target).is(":visible") ) {
      $(".settings_pane").fadeOut(200, function() {
        $(target).delay(200).fadeIn(200);
      });
    }
  });

#section_header
  %h2
    Settings
  %ul#settings_nav
    %li=link_to 'Profile', edit_person_path(current_user.person)
    %li=link_to 'Account', edit_user_path(current_user)
    %li=link_to 'Services', services_path

.span-19.prepend-5.last
  %h2 Account

  = link_to "invite friends", new_user_invitation_path(current_user)

  %br
  %br
  %br

  %h3 Change Password
  = form_for @user do |f|
    = f.error_messages

    %p
      = f.label :password, "New Password"
      = f.password_field :password
    %p
      = f.label :password_confirmation
      = f.password_field :password_confirmation

    .submit_block
      = link_to "Cancel", edit_user_path(current_user)
      or
      = f.submit 'Change password'

  %h3 Export Data
  = link_to "download my xml", users_export_path, :class => "button"
  = link_to "download my photos", users_export_photos_path, :class => "button"

  %br
  %br
  %br

  %h3 Close Account
  = link_to "Close Account", current_user,
              :confirm => "Are you sure?", :method => :delete,
              :class => "button"
