-#    Copyright 2010 Diaspora Inc.
-#
-#    This file is part of Diaspora.
-#
-#    Diaspora is free software: you can redistribute it and/or modify
-#    it under the terms of the GNU Affero General Public License as published by
-#    the Free Software Foundation, either version 3 of the License, or
-#    (at your option) any later version.
-#
-#    Diaspora is distributed in the hope that it will be useful,
-#    but WITHOUT ANY WARRANTY; without even the implied warranty of
-#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#    GNU Affero General Public License for more details.
-#
-#    You should have received a copy of the GNU Affero General Public License
-#    along with Diaspora.  If not, see <http://www.gnu.org/licenses/>.
-#


%h1.big_text
  .back
    = link_to "⇧ home", root_path

  Editing your profile

= form_for @user do |f|


  = f.error_messages

  = f.fields_for :profile do |p|

    %h3 Picture
    %div#image_picker
      = p.hidden_field :image_url, :value => @profile.image_url.sub(@user.url,'/'), :id => 'image_url_field'
      - for photo in @photos
        - if photo.url(:thumb_medium) == @profile.image_url.sub(@user.url,'/')
          %div.small_photo{:id => photo.url(:thumb_medium), :class=>'selected'}
            = check_box_tag 'checked_photo', true, true
            = link_to image_tag(photo.url(:thumb_medium)), "#"
        - else
          %div.small_photo{:id => photo.url(:thumb_medium)}
            = check_box_tag 'checked_photo'
            = link_to image_tag(photo.url(:thumb_medium)), "#"
    =will_paginate @photos

    %h3 Info

    %p
      %b
        DIASPORA USERNAME:
        = @user.diaspora_handle

    %p
      = p.label :first_name
      = p.text_field :first_name, :value => @profile.first_name
    %p
      = p.label :last_name 
      = p.text_field :last_name, :value => @profile.last_name

  %p
    = f.label :email
    = f.text_field :email

  #submit_block
    = link_to "Cancel", root_path
    or
    = f.submit "Update Profile"

#content_bottom
  .back
    = link_to "⇧ home", root_path
