-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = javascript_include_tag :profile

%br

%section#hello-there
  .hero-unit
    %h1.center
      = t('.well_hello_there')
    %p.center
      = t(".community_welcome")

    = invited_by_message

    .clearfix
      %br
      %br

    .clearfix
      .row
        %h2
          = t(".who_are_you")

      .row
        %p
          = t('.we_can_speed_things_up')
          = link_to t('.hooking_up_fb'), "auth/facebook?callback_url=#{getting_started_url}"
          = t('.what_facebook_does')

      .row
        .span6
          = form_tag profile_path, :method => :put, :remote => true, :id => 'edit_profile' do
            %fieldset
              .clearfix
                = label_tag 'profile[first_name]', t('profiles.edit.your_name'), :class => "bootstrapped"
                .input
                  = text_field_tag 'profile[first_name]', current_user.first_name
                  = image_tag 'ajax-loader.gif', :id => "gs-name-form-spinner", :class => "hidden"

              %span.saved{:class => "hidden"}
                = image_tag 'icons/check_yes_ok.png'
                = t(".saved")

            .clearfix
              = label_tag :your_photo, t('profiles.edit.your_photo'), :class => "bootstrapped"
              .input{:style => "position:relative;"}
                = render 'photos/new_profile_photo', :aspect => :getting_started, :person => current_user.person
      %br
      %br

    .clearfix
      .row
        %h2
          = t('.what_are_you_in_to')

      .row
        %p
          = t('.hashtag_explanation')

      .row
        .span13
          = form_tag(multiple_tag_followings_path, :method => 'post', :class => "tag_input search_form") do
            %fieldset
              .clearfix
                = label_tag 'follow_tags', t('.hashtag_suggestions'), :class => "bootstrapped"
                .input
                  = text_field_tag 'follow_tags', nil, :class => "nostrap"

            .clearfix
              %br
              %br
              %br
              .input
                = link_to "#{t('.awesome_take_me_to_diaspora')} »", "#", :id => "awesome_button", :class => "btn primary"

