-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.span-5.leftNavBar
  #home_user_badge
    = owner_image_link
    %h3
      = current_user.first_name

  - unless has_completed_getting_started?
    .section
      %ul.left_nav
        %li
          = link_to "Welcome", getting_started_path, :class => "home_selector active"

  .section
    = render 'aspects/aspect_listings'

  .section
    = render 'tags/followed_tags_listings'

.span-13.append-1
  .stream_container
    %h2
      = welcome_text

    %ul#getting_started
      %li.profile{:class => ("completed" if has_completed_profile?)}
        .getting_started_number
          %h3
            = @step += 1
        .content
          %h3
            = t(".fill_out_your_profile")
          #getting_started_profile_photo
            = person_image_link(current_user.person, :size => :thumb_medium)
          %p
            = t(".profile_description")
          .span-8.fields
            - [:full_name, :image_url, :birthday, :gender, :bio, :location, :tag_string].each do |attr|
              .span-4.last
                = profile_field_tag(current_user.person.profile, attr)

          #edit_profile_button_div
            = link_to "Edit Profile", edit_profile_path, :class => "button"

      - unless AppConfig[:configured_services].blank?
        %li.services{:class => ("completed" if has_connected_services?)}
          .getting_started_number
            %h3
              = @step += 1
          .content
            %h3
              = t('.connect_to_your_other_social_networks')
          #getting_started_service_icons
            - AppConfig.configured_services.each do |service|
              - unless current_user.services.any?{|x| x.provider == service}
                = link_to(image_tag("social_media_logos/#{service.downcase}-48x48.png", :title => service.titleize), "/auth/#{service}")

      %li.connect_with_people{:class => ("completed" if has_few_contacts?)}
        .getting_started_number
          %h3
            = @step += 1
        .content
          %h3
            = t('.connect_with_people')

          %p
            = t('.connect_with_people_explanation')

          #diaspora_hq_pane
            - person = Person.find_by_diaspora_handle("diasporahq@joindiaspora.com")
            = person_image_link(person, :size => :thumb_medium)

            .name
              = person_link(person)

            .info
              Get updates about the project from the core team.

            .add_to_aspect
              = render :partial => 'people/relationship_action',
                :locals => { :person => person,
                              :contact => current_user.contact_for(person),
                              :current_user => current_user }

          #featured_users_pane 
            %h4
              = t('.featured_users')

            %div
              - Person.featured_users[0..5].each do |person|
                .featured_user_card_small
                  = person_image_link(person)
                  = person_link(person, :class => "hovercardable")
                  .tags
                    - person.profile.tags[0..2].each do |tg|
                      = link_to "##{tg}", tags_path(tg)

            = link_to "#{t('.see_all_featured_users')} ->", featured_users_path

          %br
          #find_friends_pane
            %h4
              = t('.find_friends')
            .span-5.append-1
              #global_search
                = form_tag(people_path, :method => 'get', :id => "global_search_form") do
                  = text_field_tag 'q', nil, :placeholder => "Search for people", :type => 'search', :results => 5
            .span-5.last{:style => "height:30px;"}
              %h4{:style => "margin-top:7px;"}
                or
                = link_to t('.find_friends_from_facebook'), friend_finder_path('facebook'), :rel => 'facebox'
            .clearfix
            %br

      %li.follow_interests{:class => ("completed" if has_few_followed_tags?)}
        .getting_started_number
          %h3
            = @step += 1
        .content
          %h3
            = t('.follow_your_interests')

          %p
            = t('.hashtag_explanation')

          .span-5.append-1
            #global_search
              = form_tag(people_path, :method => 'get', :id => "global_search_form") do
                = text_field_tag 'q', nil, :placeholder => "Search for #hashtags", :type => 'search', :results => 5
          .span-5.last
            %h4{:style => "margin-top:7px;"}
              = t('.featured_tags')
            %p
              = link_to "#diaspora", tag_path('diaspora')
              %br
              = link_to "#art", tag_path('art')
              %br
              = link_to "#gif", tag_path('gif')
              %br
              = link_to "#french", tag_path('french')
          .clearfix
            %br
          %br

      %li.cubbies{:class => ("completed" if has_connected_cubbies?)}
        .getting_started_number
          %h3
            = @step += 1
        .content
          %h3
            = t(".connect_to")
            = link_to "Cubbi.es", "http://cubbi.es/"
          %p
            = t('tokens.show.what_is_cubbies')

          .cubbies_images
            = image_tag '/images/cubbies_collage.png', :width => 422, :height => 159, :class => "cubbies_collage_small"
            = image_tag '/images/cubbies_screenshot2.png', :height => 151, :width => 200, :class => "cubbies_user_page_small"

      %li{:style => 'text-align:center;'}
        %p
          = link_to t('.finished'), getting_started_completed_path, :class => "button"

/.span-5.rightBar.last
/  = render 'selected_contacts', :people => @selected_people.sample(20), :count => @contact_count
/  = render 'shared/right_sections'
