-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = include_javascripts :profile

  :javascript
    $(document).ready(function () {
      var data = $.parseJSON( '#{@tags_array.to_json.gsub("'", "\\\\'")}' ),
          autocompleteInput = $("#follow_tags");

      autocompleteInput.autoSuggest("#{tags_path}", {
        selectedItemProp: "name",
        searchObjProps: "name",
        asHtmlID: "tags",
        neverSubmit: true,
        retriveLimit: 10,
        selectionLimit: 5,
        minChars: 2,
        keyDelay: 200,
        startText: "",
        emptyText: "#{t('no_results')}",
        preFill: data
        });

      autocompleteInput.bind('keydown', function(evt){
        if(evt.keyCode == 13 || evt.keyCode == 9 || evt.keyCode == 32){
          evt.preventDefault();
          if( $('li.as-result-item.active').length == 0 ){
            $('li.as-result-item').first().click();
          }
        }
      });
    });

.span-5.leftNavBar
  #home_user_badge
    = owner_image_link
    %h3
      = current_user.first_name

  - unless has_completed_getting_started?
    .section
      %ul.left_nav
        %li
          = link_to t(".welcome"), getting_started_path, :class => "home_selector active"

  .section
    = render 'aspects/aspect_listings'

  .section
    = render 'tags/followed_tags_listings'

.span-13.append-1
  .stream_container
    %h2
      = welcome_text
    %h4
      = t(".community_welcome")

    %ul#getting_started
      %li.profile
        .getting_started_number
          %h3
            = @step += 1
        .content
          %h3
            = t(".who_are_you")

          .span-12
            %p
              We can speed things up a bit by 
              = link_to "hooking up your Facebook account", "auth/facebook?callback_url=#{getting_started_url}"
              to Diaspora.  We can pull your name and photo, and enable cross-positng.

          .span-12
            = form_for current_user.person.profile do |profile|
              .span-5
                = profile.text_field :first_name, :placeholder => t('profiles.edit.first_name')

              .span-7.last
                = render 'photos/new_profile_photo', :aspect => :getting_started, :person => current_user.person

              %br
              .span-6.prepend-6.last
                .right
                  = profile.submit "Save"

      %li.follow_interests
        .getting_started_number
          %h3
            = @step += 1
        .content
          %h3
            = t('.what_are_you_in_to')

          %p
            = t('.hashtag_explanation')

          .span-9
            = form_tag(tags_path, :method => 'get', :class => "tag_input search_form") do
              = text_field_tag 'follow_tags', nil

          .clearfix
            %br

      %li{:style => 'text-align:center;'}
        %p
          = link_to t('.awesome_take_me_to_diaspora'), getting_started_completed_path, :class => "button"

