-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = javascript_include_tag :jquery

  :javascript
    $(document).ready(function () {
      var data = $.parseJSON( '#{@tags_array.to_json.gsub("'", "\\\\'")}' ),
      autocompleteInput = $("#follow_tags");

      autocompleteInput.autoSuggest("#{tags_path}", {
        selectedItemProp: "name",
        selectedValuesProp: "name",
        searchObjProps: "name",
        asHtmlID: "tags",
        neverSubmit: true,
        retrieveLimit: 10,
        minChars: 2,
        keyDelay: 200,
        startText: "",
        emptyText: "#{t('no_results')}",
        preFill: data
        });

      autocompleteInput.bind('keydown', function(evt){
        if(evt.keyCode == 13 || evt.keyCode == 9 || evt.keyCode == 32){
          evt.preventDefault();
          if( $('li.as-result-item.active').length == 0 ){
            $('li.as-result-item').first().click();
          }
        }
      });
    });

:css
  .media, .bd{ overflow: visible;}

%br

%section#hello-there
  .hero-unit-mobile
    %h1.center
      = t('.well_hello_there')
    %h3.center
      = t(".community_welcome")

    = invited_by_message

    %h2
      = t(".who_are_you")

    - if AppConfig.configured_services.include? :facebook
      %p
        != t('.connect_to_facebook', :link => link_to(t('.connect_to_facebook_link'), "auth/facebook?callback_url=#{getting_started_url}"))

    = form_tag profile_path, :method => :put, :remote => true, :id => 'edit_profile' do
      %fieldset
        = label_tag 'profile[first_name]', t('profiles.edit.your_name'), :class => "bootstrapped"
        = text_field_tag 'profile[first_name]', current_user.first_name
        = image_tag 'ajax-loader.gif', :id => "gs-name-form-spinner", :class => "hidden"
        %span.saved{:class => "hidden"}
          = image_tag 'icons/check_yes_ok.png'
          = t(".saved")

        = label_tag :your_photo, t('profiles.edit.your_photo'), :class => "bootstrapped"
        = render 'photos/new_profile_photo', :aspect => :getting_started, :person => current_user.person

    %h2
      = t('.what_are_you_in_to')

    %p
      = t('.hashtag_explanation')

    = form_tag(tag_followings_path, :method => 'get', :class => "tag_input search_form") do
      %fieldset
        = label_tag 'follow_tags', t('.hashtag_suggestions'), :class => "bootstrapped"
        = text_field_tag 'follow_tags', nil, :class => "nostrap"
    
    .center
      = link_to "#{t('.awesome_take_me_to_diaspora')} »", stream_path, :id => "awesome_button", :class => "button creation"

