-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- if current_user.getting_started == true
  :javascript
    $("#getting_started_skip").live("click", function(evt){
      evt.preventDefault();
      $.ajax({
        type: "PUT",
        url: "/users/#{current_user.id}",
        data: {"user":{"getting_started":'false'}},
        success: function() { window.location = "#{root_path}"}
      })
    });

.span-8.append-1.last
  %h1{:style => "text-align:right;"}
    = "Welcome to Diaspora!"
    .description
      Do the stuff below to further complete some things.

  %h3{:style => "text-align:right;"}
    = link_to "Edit your profile", getting_started_path(:step => 1)
    %br
    = link_to "Define your aspects", getting_started_path(:step => 2)
    %br
    = link_to "Connect your services", getting_started_path(:step => 3)
    %br

.span-15.last
  .floating{:style=>"min-height:500px;"}
    = render "users/getting_started/step_#{@step}", :current_user => current_user

    - if @step > 1
      = link_to "Back", getting_started_path(:step => @step-1), :class => "button", :id => "previous_step"

.bottom_notification
  = link_to "skip getting started →", '#', :id => "getting_started_skip"
