= @people.count.to_s + search_or_index
%table
  %tr
    %th real name
    %th email
    %th url
  - for person in @people
    %tr
      %td= person.real_name
      %td= person.email
      %td= person.url
      %td
        %select{ :class => "group_selector", :style=>"display:inline;"}
          %option Add to group
          %option
          - for group in current_user.groups
            %option{:value => group.id}= group.name
      
      %td= link_to "add as friend", requests_path(:request => {:destination_url => person.email}), :class => "submit", :method => "post"