-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  :css
    body { margin-top: 220px; }

#grey_header
  .row
    %h3
      = t('.signed_out')

    %h1
      = t('.go_mobile')

.container{:style => 'text-align:center;'}
  .row.mobile_row
    = image_tag 'diaspora_mobile_screens.png', :width => 480, :height => 300

  .row
    %h4
      = t('.simply_visit')
      %strong
        = link_to AppConfig[:pod_url], multi_stream_path
      = t('.on_your_mobile_device')

    %p.dull
      = t('.works_on_modern')
