-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#main-stream.stream
  .login-form
    .login-container
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = render partial: "devise/shared/error_messages", formats: [:html]
        = f.hidden_field :reset_password_token
        %fieldset
          %legend
            = t("devise.passwords.edit.change_password")

          .control-group
            = f.label :password, t("devise.passwords.edit.new_password"), class: "control-label"
            .controls
              = f.password_field :password

          .control-group
            = f.label :password_confirmation, t("devise.passwords.edit.confirm_password"), class: "control-label"
            .controls
              = f.password_field :password_confirmation

          .controls
            = f.submit t("devise.passwords.edit.change_password"), class: "btn btn-primary"

%footer
  = link_to t("layouts.application.switch_to_standard_mode"), toggle_mobile_path
