- content_for :page_title do
  = "#{AppConfig.settings.pod_name} - #{t('devise.passwords.edit.change_password')}"

#reset_password
  .container
    .text-center
      .logos-asterisk
      %h1
        = AppConfig.settings.pod_name

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "form-horizontal block-form", method: :put }, autocomplete: 'off') do |f|
      = f.error_messages

      %fieldset.form
        %label#passwordLabel.sr-only{for: "user_password"}
          = t("devise.passwords.edit.new_password")
        %i.entypo-lock
        = f.password_field :password,
                           class:          "input-block-level form-control",
                           required:       true,
                           placeholder:    t("devise.passwords.edit.new_password"),
                           autocapitalize: "none",
                           autocorrect:    "off",
                           autofocus:      true,
                           aria:           {labelledby: "passwordLabel"}

        = f.hidden_field :reset_password_token

        %label#passwordConfirmationLabel.sr-only{for: "user_password_confirmation"}
          = t("devise.passwords.edit.confirm_password")
        %i.entypo-lock
        = f.password_field :password_confirmation,
                           class:          "input-block-level form-control",
                           required:       true,
                           placeholder:    t("devise.passwords.edit.confirm_password"),
                           autocapitalize: "none",
                           autocorrect:    "off",
                           aria:           {labelledby: "passwordConfirmationLabel"}

      = f.submit t("devise.passwords.edit.change_password"), class: "btn btn-block btn-primary"

    .text-center
      = link_to t("devise.shared.links.sign_in"), new_session_path(resource_name)
