-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#main-stream.stream
  .login-form
    .login-container
      = form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
        %fieldset
          %legend
            =t('devise.passwords.new.forgot_password')
          - unless resource.errors.empty?
            %i=  t('devise.passwords.new.no_account')

          .control-group
            = f.label :email, t('devise.passwords.new.email'), :class => "control-label"
            .controls
              = f.text_field :email

          .controls
            = f.submit t("devise.passwords.new.send_password_instructions"), class: "btn btn-primary"

%footer
  - if display_registration_link?
    = link_to t('devise.shared.links.sign_up'), new_registration_path(resource_name)

  = link_to t('devise.sessions.new.sign_in'), new_user_session_path()

  = link_to t("layouts.application.switch_to_standard_mode"), toggle_mobile_path
