- content_for :page_title do
  = "#{AppConfig.settings.pod_name} - #{t('devise.passwords.new.forgot_password')}"

#forgot_password
  .container
    .text-center
      .logos-asterisk
      %h1
        = AppConfig.settings.pod_name

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "form-horizontal block-form"}, autocomplete: 'off') do |f|
      %fieldset
        %label#emailLabel.sr-only{for: "user_email"}
          = t("devise.passwords.new.email")
        %i.entypo-mail
        = f.text_field :email,
                       class:          "input-block-level form-control",
                       required:       true,
                       autocapitalize: "none",
                       placeholder:    t("devise.passwords.new.email"),
                       autocorrect:    "off",
                       autofocus:      true,
                       aria:           {labelledby: "emailLabel"}

      = f.submit t("devise.passwords.new.send_password_instructions"), class: "btn btn-block btn-primary"

    .text-center
      = link_to t('devise.shared.links.sign_in'), new_session_path(resource_name)
