.span-12.prepend-6.last
  .floating
    %h3
      =t('.forgot_password')
    - unless devise_error_messages!.empty?
      %i=  t('.no_account')

    = form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
      %p
        = f.label :email
        = f.text_field :email
      %p
      = f.submit t('.send_password_instructions')
    = render :partial => "devise/shared/links"
