<div class="right controls">
  {{#if canRemove}}
    <a href="#" class="delete comment_delete" title="{{t "delete"}}">
      <img alt="Deletelabel" src="{{imageUrl "/images/deletelabel.png"}}" />
    <a/>
  {{/if}}
</div>

<a href="/people/{{author.guid}}">
  <img src="{{author.avatar.small}}" class="avatar" />
</a>

<div class="content">
  <span class="from">
    <a href="/people/{{author.guid}}">
      {{author.name}}
    </a>
  </span>

  <div class="collapsible">
    {{{text}}}
  </div>

  <div class="comment_info">
    <time class="timeago" datetime="{{created_at}}"/>
  </div>
</div>
