{{#if likes_count}}
  <div class="comment">
    <div class="media">
      <span class="img">
        <img alt="Heart" src="{{imageUrl "/images/icons/heart.png"}}" />
      </span>

      <div class="bd">
        {{#unless likes.length}}
          <a href="#" class="expand_likes grey">
            {{t "stream.likes" count=likes_count}}
          </a>

        {{else}}

          {{#each likes}}
            {{#with attributes.author}}
              <a href="/people/{{guid}}">
                <img src="{{avatar.small}}" class="avatar micro" title="{{name}}"/>
              </a>
            {{/with}}
          {{/each}}

        {{/unless}}
      </div>
    </div>
  </div>
{{/if}}
