<!-- header to be extracted -->

<div class="header">
  <div class="header-container">
    <div id="post-author" class="media">
      <div class="img">
        <a href="/people/{{author.guid}}" class="author-name">
          <img src="{{author.avatar.small}}" class="avatar"/>
        </a>
      </div>

      <div class="bd">
        <a href="/people/{{author.guid}}" class="author-name">
          {{author.name}}
        </a>

        <div class="post-time">
          <i class="icon-time"></i>
          {{created_at}}
        </div>
      </div>
    </div>
  </div>
</div>


<div id="post-content"></div>
<div id="post-nav"></div>
<div id="post-feedback"></div>
