-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= javascript_include_tag "validation"

.stream
  #login_form
    .login-container
      = form_for(resource, :as => resource_name, :html => {:class => 'new_user_form'}, :url => registration_path(resource_name), :validate => true) do |f|
        %fieldset
          %legend
            = t('welcome')

          .control-group
            = f.label :username, t('username')
            .controls
              = f.text_field :username
              %span.host_uri
                = diaspora_id_host

            .control-group
              = f.label :email, t('email')
              .controls
                = f.text_field :email

            .control-group
              = f.label :password, t('password')
              .controls
                = f.password_field :password
 
            .control-group
              = f.label :password_confirmation, t('password_confirmation')
              .controls
                = f.password_field :password_confirmation

            .controls
              = f.submit t('registrations.new.create_my_account'), :class => 'btn primary'
              = link_to t('devise.sessions.new.sign_in'), new_user_session_path()

%footer
  = link_to t('layouts.application.toggle'), toggle_mobile_path
