<div id="registration">
  <div class="container">

    <%= image_tag('signupimages@2x_mini.jpg', :id => "collage") %>

    <h1 id="create-something-text">
      HEY,
      <br/>
      MAKE
      <br/>
      SOMETHING.
    </h1>

    <h3 id="diaspora-hearts">
      <3 Diaspora*
    </h3>

    <h4 id="sign-up-text">
      SIGN UP
    </h4>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <fieldset>
          <%= f.text_field :email, :placeholder => "EMAIL", :title => t('registrations.new.enter_username') %>
          <%= f.text_field :username, :placeholder => "USERNAME", :title => t('registrations.new.enter_username') %>
          <%= f.password_field :password, :placeholder => "PASSWORD", :title => t('registrations.new.enter_password') %>
          <%= invite_hidden_tag(invite) %>
        </fieldset>

        <%= f.submit "Continue", :class => "new-btn" %>
    <% end %>

  </div>
</div>