<div id="registration">
  <div class="container">

    <div class="row">
      <div class="span4" id="image-container">
        <%= image_tag('signupimages@2x_mini.jpg', :id => "collage") %>
      </div>

      <div class="span8">
        <h1 id="create-something-text">
          <%= t('.hey_make').html_safe %>
        </h1>
        <h3 id="diaspora-hearts">
          <%= t('.diaspora') %>
        </h3>
        
        <h2>Avertissement</h2>
<p style="font-size:medium;text-align:justify;"><strong>Attention !</strong>, ce serveur utilise la <strong>version de développement</strong> de Diaspora*.
Cela nous permet de faire des tests et d'améliorer le réseau, et à vous de profiter plus rapidement des dernières améliorations.
Cependant, cela signifie aussi que <strong>le code exécuté n'est pas stable</strong> et peut entraîner des pertes de données. N'utilisez
donc pas cette instance de Diaspora* comme sauvegarde pour vos photos ou autres données. <strong>Vos bienveillants administrateurs ne pourront
en aucun cas être tenus responsables de la perte de données, de dysfonctionnements ou d'indisponibilité du service</strong>. Merci :D</p>

<h2>Conditions d'utilisation</h2>
<p style="font-size:medium;text-align:justify;">Diaspora*, c'est la Liberté. Mais la liberté des uns s'arrête là où commence celle des autres. Veuillez donc ne pas poster de contenu considéré comme illégal en France (incitation à la haine, pédophilie, pornographie (pod ouvert aux mineurs), ...). Si un contenu est jugé
comme non approprié par les administrateurs, il pourra être supprimé sans avertissement. Et puis, soyez respectueux, c'est toujours mieux :D</p>

        <h4 id="sign-up-text" style="margin-top: 12px">
          Ça me semble juste, Je m'inscris !
        </h4>

        <%= form_for(resource, :url => registration_path(resource_name), :html => {:class => "form-horizontal block-form", :autocomplete => "off"}) do |f| %>
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="user_email">
                  <%= t('.email') %>
                </label>

                <div class="controls">
                  <%= f.email_field :email, :placeholder => "luke@hoth.net", :title => t('registrations.new.enter_email'), :required => true %>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="user_username">
                  <%= t('.username') %>
                </label>

                <div class="controls">
                  <%= f.text_field :username, :placeholder => "jedi_guy", :title => t('registrations.new.enter_username'), :required => true, :pattern => "[A-Za-z0-9_]+" %>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="user_password">
                  <%= t('.password') %>
                </label>

                <div class="controls">
                  <%= f.password_field :password, :placeholder => "••••••••", :title => t('registrations.new.enter_password'), :required => true, :pattern => "......+" %>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="user_password_confirmation">
                  <%= t('.password_confirmation') %>
                </label>

                <div class="controls">
                  <%= f.password_field :password_confirmation, :placeholder => "••••••••", :title => t('registrations.new.enter_password_again'), :required => true, :pattern => "......+" %>
                </div>
              </div>

              <% if AppConfig.settings.captcha.enable? %>
                <div class="control-group" id="captcha">
                  <%= show_simple_captcha(:object => 'user', :code_type => 'numeric') %>
                </div>
              <% end %>
              <%= invite_hidden_tag(invite) %>
            </fieldset>


            <%= f.submit t('.continue'), :class => "new-btn", :disable_with => t('.submitting') %>
        <% end %>
      </div>
    </div>
  </div>
</div>

