-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= javascript_include_tag "validation"

= stylesheet_link_tag :mobile

:css
  div.navbar.navbar-fixed-top{ display:none;}

.registrations
.stream
  - flash.each do |name, msg|
    %p{:class => "registrations_#{name}"}= msg
    #flash_alert.expose
      %div{:class => "message", :id => "session"}= msg

  #login_form
    .login-container
      = form_for(resource, :as => resource_name, :html => {:class => 'new_user_form'}, :url => registration_path(resource_name), :validate => true) do |f|
        %fieldset
          %legend
            = image_tag('branding/header-logo2x.png', :height => 40, :width => 40)
            = t('aspects.aspect_stream.make_something').upcase

          .control-group
            = f.label :username, t('username').upcase
            .controls
              = f.text_field :username, :placeholder => "jedi_guy"

            .control-group
              = f.label :email, t('email').upcase
              .controls
                = f.text_field :email, :placeholder => "luke@hoth.net"

            .control-group
              = f.label :password, t('password').upcase
              .controls
                = f.password_field :password, :placeholder => "••••••••"
 
            .control-group
              = f.label :password_confirmation, t('password_confirmation').upcase
              .controls
                = f.password_field :password_confirmation, :placeholder => "••••••••"
                
            - if AppConfig.settings.captcha.enable?
              = show_simple_captcha(:object => 'user', :code_type => 'numeric')

            .controls
              = f.submit t('registrations.new.create_my_account'), :class => 'btn primary', :disable_with => t('registrations.new.submitting')
              = link_to t('devise.sessions.new.sign_in'), new_user_session_path(), :class => 'btn primary', :style => "float: right;"

%footer
  = link_to t('layouts.application.toggle'), toggle_mobile_path
