-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  - if AppConfig.chat.enabled?
    = javascript_include_tag :jsxc, id: 'jsxc',
      data: { endpoint: get_bosh_endpoint }

- if current_user.getting_started?
  #welcome-to-diaspora
    .container
      .row
        .col-md-8.offset1
          %h1
            = t('aspects.index.welcome_to_diaspora', name: current_user.first_name)
          %h3
            = t('aspects.index.introduce_yourself')
        .col-md-2
          .pull-right
            = link_to '&times;'.html_safe, getting_started_completed_path, id: "gs-skip-x", class: "close"

%div.container-fluid
  .row
    .col-lg-1.hidden-xs.hidden-sm.hidden-md.visible-lg
    .col-xs-12.col-lg-10.stream-wrapper.col-md-11-with-chat-shown
      .left-navbar.col-md-3
        #home_user_badge
          = owner_image_link
          %h4.hidden-xs
            = link_to current_user.first_name, local_or_remote_person_path(current_user.person)

        %ul#stream_selection
          %li{data: {stream: "stream"}}
            = link_to t("streams.multi.title"), stream_path, rel: "backbone", class: "hoverable"
          %li{data: {stream: "activity"}}
            = link_to t("streams.activity.title"), activity_stream_path, rel: "backbone", class: "hoverable"
          %li{data: {stream: "mentions"}}
            = link_to t("streams.mentions.title"), mentioned_stream_path, rel: "backbone", class: "hoverable"
          %li.all_aspects
            = render "aspects/aspect_listings", stream: @stream
          %li.followed-tags-sidebar
            = render "tags/followed_tags_listings"
          %li{data: {stream: "public"}}
            = link_to t("streams.public.title"), public_stream_path, rel: "backbone", class: "hoverable"

      #aspect_stream_container.stream_container.col-md-7.col-lg-6.col-md-9-with-chat-shown
        = render 'aspects/aspect_stream', stream: @stream

      .col-lg-3.col-xs-2.hidden-xs.hidden-sm.rightbar.hidden-md-with-chat-shown
        #selected_aspect_contacts.section
          .title
            %h5.stream_title
              = @stream.title
          .content
  
        = render 'shared/right_sections'


    .col-lg-1.hidden-xs.hidden-sm.hidden-md.visible-lg

      %a.back-to-top#back-to-top{title: "#{t('layouts.application.back_to_top')}", href: "#"}
        &#8679;
