-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%h5
  = t('aspects.manage.add_a_new_contact')
  = info_text(t('.enter_a_diaspora_username'))

= form_tag(person_by_handle_path, :id => "new_request_to_#{aspect_id}", :class => "webfinger_form", :remote => true) do
  = search_field_tag :diaspora_handle,'', :id => "request_d_handle_to_#{aspect_id}", :results => 5, :placeholder => t('.diaspora_handle')
  = hidden_field_tag :aspect_id, aspect_id
  = submit_tag t('.create_request')

  %p{:style => "margin:12px 0 24px 0px;color:#999;text-align:center;"}
    = t('.your_diaspora_username_is', :diaspora_handle  => current_user.diaspora_handle)

#loader.hidden
  = image_tag 'ajax-loader.gif'

%ul#request_result{:aspect_id => aspect_id}
  %li.error.hidden
    #message
      = link_to t('.know_email'), new_user_invitation_path
