
:javascript
  $(".contact_list_search").keyup(function(e){
    var search = $(this);
    var list   = $(this).siblings("ul").first();
    var query  = new RegExp(search.val(),'i');

    $("li", list).each( function() {
      var element = $(this);
      if( !element.text().match(query) ){
        if( !element.hasClass('invis') ){
          element.addClass('invis').fadeOut(10);
        }
      } else {
        element.removeClass('invis').fadeIn(10);
      }
    });
  });


.contact_list
  = search_field_tag :hello, "", :class => 'contact_list_search', :results => 5
  %ul
    - for person in friends
      %li
        = form_tag '/aspects/add_to_aspect' do
          = person.real_name
          
          .right
            = hidden_field_tag :aspect_id, aspect.id
            = hidden_field_tag :friend_id, person.id
            - if defined?(manage) && manage
              = hidden_field_tag :manage, true
            = submit_tag '+'

