-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


%ul.stream#service_stream
  - if @services.count > 0
    - for service in @services
      %h3
        %b= service.provider
        = t('services.index.logged_in_as')
        %b= service.nickname
        = link_to t('services.index.disconnect'), service_path(service), :data => { :confirm => t('services.index.really_disconnect', :service => service.provider) }, :method => :delete
  - else
    = t('services.index.no_services')

- AppConfig.configured_services.each do |service|
  - unless @services.any?{|x| x.provider == service.to_s}
    %h4= link_to(t("services.index.connect_to_#{service}"), "/auth/#{service}")
