-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


#left_pane
  - if @aspect == :all
    %h2= "Everyone"
  - else
    %h2= @aspect

  .friend_pictures
    = owner_image_link

    - for friend in @friends
      = person_image_link(friend)

    -unless (@aspect == :all)
      = link_to (image_tag('add_friend_button.png', :title => "add to #{@aspect}")), "#add_request_pane", :id => 'add_request_button'

      .fancybox_content
        #add_request_pane
          = render "requests/new_request", :aspect => @aspect
    -else
      .clear
        %br
        = link_to t('.add_friends'), aspects_manage_path

  %br
  %br
  %ul
    %li= link_to 'stream', aspect_or_all_path(@aspect)
    %li= link_to t('.photos'), albums_path(:aspect => @aspect)

  %br

  = render "shared/invitations", :invites => @invites
