-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


#left_pane{:class => ("everyone" if aspect == :all)}
  %h2{:style=>"position:relative;"}
    = aspect == :all ? t('.everyone') : aspect

  .contact_pictures
    - for contact in contacts
      = person_image_link(contact.person)

    -unless (aspect == :all)
      = link_to (image_tag('add_contact_button.png', :title => t('.manage', :aspect => @aspect))), "#manage_aspect_contacts_pane", :class => 'manage_aspect_contacts_button'

      .fancybox_content
        #manage_aspect_contacts_pane
          = render "requests/manage_aspect_contacts", :aspect => @aspect

    -else
      
      %br
      %br
      %br
      %br
      %br

      %h3{:style=>"position:relative;"}
        Aspects
        .right{:style=>"font-size:12px;top:7px;"}
          = link_to "add aspect", aspects_manage_path

      - for user_aspect in current_user.aspects
        
        .aspectt
          %h4.aspect_title_right
            = link_to user_aspect, user_aspect
          
            %span{:style=>"font-size:12px;color:#888;"}
              = "#{user_aspect.contacts.count} contacts"

          - for aspect_contact in user_aspect.contacts[0..8]
            = person_image_link(aspect_contact.person)

          %br
          %br
          %br

      .clearfix

  %br

  %h3
    Invites and requests

  No new requests
  %br

  = render "shared/invitations", :invites => @invites
