-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


#left_pane
  %h2= aspect == :all ? t('.everyone') : aspect

  .contact_pictures
    = owner_image_link

    - for contact in contacts
      = person_image_link(contact.person)

    -unless (aspect == :all)
      = link_to (image_tag('add_contact_button.png', :title => t('.manage', :aspect => @aspect))), "#manage_aspect_contacts_pane", :class => 'manage_aspect_contacts_button'

      .fancybox_content
        #manage_aspect_contacts_pane
          = render "requests/manage_aspect_contacts", :aspect => @aspect
    -else
      .clear
        %br
        = link_to t('.add_contacts'), aspects_manage_path

  %br
  %br
  %br
  %br

  = render "shared/invitations", :invites => @invites
