#author_info
  = person_image_link(person) unless defined?(profile)
  .from
    %h2
      = person.real_name
      - if defined?(post)
        .aspect
          ➔
          %ul
            - if post.public?
              =t('the_world')
            - else
              - for aspect in current_user.aspects_with_post( post.id )
                %li= link_to aspect.name, aspect
    .right{:style=>"margin-right:315px;top:10px;"}
      #person_nav_links
        = link_to t('.view_profile'), person_path(person)
        = link_to t('_photos'), person_photos_path(person)
        = link_to t('.status_messages'), person_status_messages_path(person)
