-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


.contact_list
  = search_field_tag :contact_search, "", :class => 'contact_list_search', :results => 5, :placeholder => t('.all_contacts')
  %ul
    - for hash in contact_hashes
      %li
        = person_image_tag hash[:person]
        %h4.name
          = link_to hash[:person].name, hash[:person]
          .description
            = hash[:person].diaspora_handle
        .right
          = aspect_membership_button(aspect_id, hash[:contact], hash[:person])

