%footer
  %strong
    = link_to current_user.name, current_user.person
  = link_to t('layouts.application.toggle'), toggle_mobile_path
  = link_to t('layouts.header.logout'), destroy_user_session_path
  %br
  %br
  = link_to t('notifications.index.notifications'), notifications_path
  = "(#{@notification_count})"
  = link_to t('conversations.index.message_inbox'), conversations_path
  = "(#{@unread_message_count})"

