#footer{:data => {:role => 'footer'}}

  .inset
    %b= t('.your_aspects')
    %div{:data => {:role => 'controlgroup', :type => 'horizontal'}}
      - for aspect in @all_aspects
        = link_to aspect, aspects_path('a_ids[]' => aspect.id)
        |
  .ui-bar
    = link_to t('.logged_in_as', :name => current_user.name), current_user.person
    = link_to t('layouts.application.toggle'), toggle_mobile_path
    = link_to t('layouts.header.logout'), destroy_user_session_path
