#group
  %ul
    - if @group == :all
      = link_to "All Groups", root_url, :class => "selected"

    - elsif @group
      = link_to @group.name, @group, :class => "selected"
      = link_to "edit", edit_group_path(@group)
    
    - for group in @groups
      - unless (group.id.to_s == params[:id])
        %li
          = link_to group.name, group

    %li.new_group= link_to("NEW GROUP", "#add_group_pane", :id => "add_group_button")

      .yo{ :style => "display:none;"}
        #add_group_pane
          = render "groups/new_group"

  - if @group
    #friend_pictures
      - for friend in @friends
        = person_image_link(friend)
      = link_to (image_tag 'add_friend_button.png'), "#add_request_pane", :id => 'add_request_button'

      - unless @group == :all
        .yo{:style => 'display:none'}
          #add_request_pane
            = render "requests/new_request"
