#group
  %ul
    - for group in @groups
      %li= link_to group.name, group_path(group)

    %li#add_group_button.new_group= link_to "NEW GROUP", "#"

    #add_group_pane.contextual_pane
      = render "groups/new_group"

  #friend_pictures
    - for friend in @friends
      = person_image_link(friend)

    .add_new
      = link_to "+", requests_path
