#group
  %ul
    - for group in @groups
      %li{:class => ("selected" if group.id.to_s == params[:group])}
        = link_to group.name, root_path(:group =>group.id)

    %li#add_group_button.new_group= link_to "NEW GROUP", "#"

    #add_group_pane.contextual_pane
      = render "groups/new_group"

  - if @group
    #friend_pictures
      - for friend in @group.people
        = person_image_link(friend)

      #add_request_button.add_new
        = link_to "+", "#"

      #add_request_pane.contextual_pane
        = render "requests/new_request"
