#group_nav
  %ul
    %li{:class => ("selected" if @group == :all)}
      = link_to "All Groups", root_url
    - for group in @groups
      %li{:id => group.id, :class => ("selected" if current_group?(group))}
        = link_for_group group
        %span{:class => '⚙'}
          = link_to "⚙", "#", :class => "edit_group_button"

    %li.new_group= link_to("new", "#add_group_pane", :id => "add_group_button")

  .yo{ :style => "display:none;"}
    #add_group_pane
      = render "groups/new_group"
