#group
  %ul
    .selected
      = link_to @group.name, @group, :class => "selected"
    - for group in @groups
      - unless (group.id.to_s == params[:id])
        %li
          = link_to group.name, group

    %li.new_group= link_to("NEW GROUP", "#add_group_pane", :id => "add_group_button")

    .yo{ :style => "display:none;"}
      #add_group_pane
        = render "groups/new_group"

  - if @group
    %ul#friend_pictures
      - for friend in @group.people
        %li
          = person_image_link(friend)
          = friend.real_name
      %li= link_to (image_tag 'add_friend_button.png'), "#add_request_pane", :id => 'add_request_button'

      .yo{:style => 'display:none'}
        #add_request_pane
          = render "requests/new_request"
