-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.from
  = person_image_link(post.author, :size => :thumb_small)
  = person_link(post.author)

  .remove_post
    - if post.author == current_user.person
      = link_to(image_tag('deletelabel.png'), post_path(post), :method => :delete, :data => { :confirm => "#{t('are_you_sure')}" }, :class => "remove")

  .info
    %span.time{:integer => post.created_at.to_i}
      = link_to(t('ago', :time => time_ago_in_words(post.created_at)), post_path(post))
    %span.via
      - if post.activity_streams?
        = t('shared.stream_element.via', :link => link_to("#{post.provider_display_name}", post.actor_url)).html_safe
      - elsif post.provider_display_name == 'mobile'
        = t('shared.stream_element.via_mobile', :link => nil)
    &ndash;
    %span.scope_scope
      - if post.public?
        = t('public')
      - else
        = t('limited')
