-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.from.media
  .media-left
    = person_image_link(post.author, size: :thumb_small, class: "media-object")
  .media-body
    .pull-left
      = person_link(post.author)

    .remove_post.pull-right
      - if user_signed_in? && post.author == current_user.person
        = link_to(raw("<i class='entypo-trash'></i>"), post_path(post), method: :delete,
                data: { confirm: "#{t('are_you_sure')}" }, class: "remove")
    .clearfix

    .info
      %span
        = link_to(post_path(post)) do
          = timeago(post.created_at)
      %span.via
        - if post.provider_display_name == "mobile"
          = t("shared.stream_element.via_mobile", link: nil)
      &ndash;
      %span.scope_scope
        - if post.public?
          = t('public')
        - else
          = t('limited')
    - if !post.is_a?(Reshare) and post.location
      .location.nsfw-hidden
        = t("posts.show.location", location: post.location.address)
