-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:javascript
  $(function() {
    $(".question_mark").tipsy({trigger: 'hover', gravity: 'w'});
  });

#publisher{:class => ((aspect == :profile)? 'mention_popup' : nil )}

  #click_to_share
    -unless aspect == :profile
      = image_tag 'icons/doc_edit.png'
      %span= t('.whats_on_your_mind')

      = t('aspects', :count => aspect_ids.length)

  .content_creation
    = form_for(StatusMessage.new, :remote => true, :html => {"data-type" => "json"}) do |status|
      = status.error_messages
      #file-upload
        = image_tag 'icons/photos.png'
        %br
        = t('.add_photos')

      %p
        %params
          #publisher_textarea_wrapper
            %ul#photodropzone
            = status.text_area :fake_text, :rows => 2, :value => h(params[:prefill])
            = status.hidden_field :text, :value => '', :class => 'clear_on_submit'

      - for aspect_id in aspect_ids
        = hidden_field_tag 'aspect_ids[]', aspect_id.to_s

      .options_and_submit
        .mention_helper
          - if aspect != :profile
            %i= t('.mention_helper_text')
          - else
            .badges
              %i= t('.publishing_to')
              = aspect_badges(aspects_with_person, :link => false)

        .public_toggle
          %span#publisher_service_icons
            = link_to (image_tag "icons/monotone_wrench_settings.png"), "#question_mark_pane", :class => 'question_mark', :rel => 'facebox', :title => t('shared.public_explain.manage')#, :style=>"display:none;"
            - if aspect == :all || :profile
              = status.hidden_field( :public)
              = image_tag "icons/globe.png", :title => t('.public'), :class => 'public_icon dim', :width => 16, :height => 16
            - if current_user.services
              - for service in current_user.services
                = image_tag "social_media_logos/#{service.provider}-16x16.png", :title => service.provider, :class => "service_icon dim", :id =>"#{service.provider}"
          = status.submit t('.share'), :disable_with => t('.posting'), :class => 'button'

          .facebox_content
            #question_mark_pane
              = render 'shared/public_explain'

    #publisher_photo_upload
      = render 'photos/new_photo', :aspect_ids => aspect_ids.join(',')

