#publisher
  = owner_image_tag

  = form_for StatusMessage.new, :remote => true do |f|
    = f.error_messages
    %p
      %label{:for => "status_message_message"} Message
      = f.text_area :message, :rows => 2
      
    %ul.group_selector
      going to...
      - for group in @groups
        %li
          = check_box_tag("group_ids[]", group.id, @group == :all || current_group?(group) )
          = group.name
    = f.submit "Post"
