-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:javascript
  $(document).ready(function(){
    $("#status_message_message").bind("focus", function(){
      $("#publisher fieldset:first").removeClass('hidden');
    });
  });

#publisher
  = form_for StatusMessage.new, :remote => true do |status|
    #publisher_text
      = t('.whats_on_your_mind')

    = status.text_area :message

    - for aspect_id in @aspect_ids
      = hidden_field_tag 'aspect_ids[]', aspect_id.to_s


    %fieldset.hidden{:style => 'text-align:right;'}
      %fieldset{:data => {:role => 'controlgroup', :type=>'horizontal'}}
        - unless params[:a_ids]
          %input{:type => 'checkbox', :name => 'status_message[public]', :id => 'public', :class => 'custom', :value => 'true'}
          %label{:for => 'public'}
            = t('.make_public')
        = status.submit t('.share'), 'data-inline' => 'true', 'data-theme' => 'b'

