-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.

#publisher
  = owner_image_tag

  = form_for StatusMessage.new, :remote => true do |f|
    = f.error_messages
    %p
      %label{:for => "status_message_message"} Message
      = f.text_area :message, :rows => 2, :value => params[:prefill]
      = connected_fb_as(@access_token) if @logged_in && @aspect == :public
      = f.hidden_field( :public, :value => (params[:action] == 'public') )

    %ul.aspect_selector{ :style => "display:none;"}
      going to...
      - for aspect in @aspects
        %li
          = check_box_tag("aspect_ids[]", aspect.id, @aspect == :public || @aspect == :all || current_aspect?(aspect) )
          = aspect.name
    = f.submit t('.share')
