-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:javascript
  
  $("div.public_toggle input").live("click", function(evt){
    if("#{@logged_in}" == "false" && $(this).attr('checked') == true){
      if(confirm("You are currently not connected to facebook.  Sign in to facebook?")){
        window.location = "#{@fb_access_url}";
      } else {
        $(this).attr('checked', false);
      }
    }; 
  });

#publisher
  = owner_image_tag

  = form_for StatusMessage.new, :remote => true do |f|
    = f.error_messages
    %p
      %label{:for => "status_message_message"} Message
      = f.text_area :message, :rows => 2, :value => params[:prefill]

    %ul.aspect_selector{ :style => "display:none;"}
      going to...
      - for aspect in @aspects
        %li
          = check_box_tag("aspect_ids[]", aspect.id, @aspect == :all || current_aspect?(aspect) )
          = aspect.name

  
    - if @aspect == :all
      .public_toggle
        = f.check_box( :public, :value => false )
        share on facebook

    .buttons
      - if @aspect == :all
        = f.submit t('.share'), :title => "Share with all aspects"
      - else
        = f.submit t('.share'), :title => "Share with #{@aspect.name}"

