-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= form_for StatusMessage.new, {:data => {:ajax => false}} do |status|
  = status.text_area :text, :placeholder => t('.whats_on_your_mind'), :style => "width:300px", :rows => 4

  - for aspect_id in aspect_ids
    = hidden_field_tag 'aspect_ids[]', aspect_id.to_s

  %fieldset
    - unless aspect == :all
      %input{:type => 'checkbox', :name => 'status_message[public]', :id => 'public', :class => 'custom', :value => 'true'}
      %label{:for => 'public'}
        = t('.make_public')
      - unless current_user.services.empty?
        %div{:data => {:role => 'fieldcontain'}}
          %label{:for => 'services', :class => 'select'}
            choose services

          - current_user.services.each do |service|
            %input{:type => 'checkbox', :name => "services[]", :id => "#{service.provider}", :class => 'custom', :value => "#{service.provider}"}
            %label{:for => "#{service.provider}"}
              = "#{service.provider}"

    = status.submit t('.share')

