#publisher
  .span-19.last
    = form_for StatusMessage.new, :remote => true do |f|
      = f.error_messages

      .span-15
        .span-2
          .user_image
            = owner_image_tag
        .span-13.last
          %p
            %label{:for => "status_message_message"} Message
            = f.text_area :message, :rows => 2
      
      .span-3
        %ul.group_selector
          going to...
          - for group in current_user.groups
            %li
              = check_box_tag("group_ids[]", group.id, current_group?(group) )
              = group.name
      .span-1.last
        = f.submit "Post"
