-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.modal.fade{"id" => "publicExplainModal",
            "tabindex" => "-1",
            "role" => "dialog",
            "aria-labelledby" => "publicExplainModalLabel",
            "aria-hidden" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"type" => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title{id: "publicExplainModalLabel"}
          = t(".title")
      .modal-body
        %p=t('.outside')
        %p= link_to t(".atom_feed"), current_user.atom_url
        - if current_user.services
          - for service in current_user.services
            %p= t('.logged_in', :service => service.provider)
        %p= link_to t('.manage'), services_path
      .modal-footer
        .btn.btn-default{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          = t("ok")
