/    Copyright 2010 Diaspora Inc.
/
/    This file is part of Diaspora.
/
/    Diaspora is free software: you can redistribute it and/or modify
/    it under the terms of the GNU Affero General Public License as published by
/    the Free Software Foundation, either version 3 of the License, or
/    (at your option) any later version.
/
/    Diaspora is distributed in the hope that it will be useful,
/    but WITHOUT ANY WARRANTY; without even the implied warranty of
/    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/    GNU Affero General Public License for more details.
/
/    You should have received a copy of the GNU Affero General Public License
/    along with Diaspora.  If not, see <http://www.gnu.org/licenses/>.
/


#publisher
  = owner_image_tag

  = form_for StatusMessage.new, :remote => true do |f|
    = f.error_messages
    %p
      %label{:for => "status_message_message"} Message
      = f.text_area :message, :rows => 2

    %ul.aspect_selector{ :style => "display:none;"}
      going to...
      - for aspect in @aspects
        %li
          = check_box_tag("aspect_ids[]", aspect.id, @aspect == :all || current_aspect?(aspect) )
          = aspect.name
      
    = f.submit "Share"
