:css
  #publisher{
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: rgba( 242, 248, 252, 0.7 );
    border-bottom: 2px #999 solid;
  }

  #publisher_form {
    margin-bottom: -15px;
  }

  #new_bookmark {
    display: none;
  }
  #new_blog {
    display: none;
  }

  ul#publisher_content_pickers {
    margin: 0;
    padding: 0;
  }

  ul#publisher_content_pickers li {
    display: inline;
    margin-right: 20px;
  }

#publisher
  %ul#publisher_content_pickers
    %a{ :class => "status_message", :href => '#', :title => "new status message."}
      %li status message
    %a{ :class => "bookmark", :href => '#', :title => "new bookmark."}
      %li bookmark
    %a{ :class => "blog", :href => '#', :title => "new blog post."}
      %li blog

  #publisher_form
    = form_for StatusMessage.new, :remote => true do |f|
      = f.error_messages
      %p
        %label{:for => "status_message_message"} Message
        = f.text_area :message
      %p
        = f.submit "Post"

    = form_for Bookmark.new, :remote => true do |f|
      = f.error_messages
      %p
        %label{:for => "bookmark_title"} Title
        = f.text_area :title
      %p
        %label{:for => "bookmark_link"} Link
        = f.text_area :link
      %p
        = f.submit "Post"

    = form_for Blog.new, :remote => true do |f|
      = f.error_messages
      %p
        %label{:for => "blog_title"} Title
        = f.text_area :title
      %p
        %label{:for => "blog_body"} Body
        = f.text_area :body
      %p
        = f.submit "Post"
