#publisher

  #publisher_form
    = form_for StatusMessage.new, :remote => true do |f|
      = f.error_messages

      = f.hidden_field :group_id, :value => group_id

      %p
        %label{:for => "status_message_message"} Message
        = f.text_area :message, :rows => 2
      %p.right
        = f.submit "Post"
