-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- if AppConfig[:open_invitations]
  .section
    .title
      = image_tag('/images/icons/plus.png')
      %h5
        = t('shared.invitations.invite_your_friends')
    .content
      = render "shared/invitations"

- unless has_connected_cubbies?
  .section
    .title
      = image_tag('/images/icons/cubbies.png')
      %h5
        = t('aspects.index.cubbies.heading')
    .content
      = t('aspects.index.cubbies.explanation')
      = link_to t('aspects.index.cubbies.learn_more'), token_path

- if @stream.has_featured_users?
  .section
    .title.no_icon
      %h5
        =t('aspects.index.community_members')
    .content#featured_users
      = render 'featured_users/user', :person => @stream.random_featured_user
      = link_to t('aspects.index.see_more_from_us'), featured_path, :id => 'view_all_contacts_link'

.section
  .title
    = image_tag('/images/icons/question.png')
    %h5
      = t('aspects.index.help.need_help')
  .content
    = t('aspects.index.help.here_to_help')
    %br
    = t('aspects.index.help.do_you')
    %br
    != t('aspects.index.help.have_a_question', :link => link_to("#question" , tag_path(:name => "question")))
    %br
    != t('aspects.index.help.find_a_bug', :link => link_to("#bug" , tag_path(:name => "bug")))
    %br
    != t('aspects.index.help.feature_suggestion', :link => link_to("#feature" , tag_path(:name => "feature")))
    %br
    %br
    %p
      != t('aspects.index.help.feature_and_forum', :gs=> link_to("GetSatisfaction", "http://getsatisfaction.com/diaspora", :target => '_blank'), :forum => link_to("Forum", "http://www.diasporaforum.org/", :target => '_blank'))
    %p
      != t('aspects.index.help.tutorials_and_wiki', :tutorial => link_to("Diasporial" , "http://diasporial.com/tutorials", :target => '_blank'), :wiki => link_to('Wiki','http://github.com/diaspora/diaspora/wiki', :target => '_blank'))
    %p
      != t('aspects.index.help.email_feedback', :link => link_to("Email" , "mailto:yosem@joindiaspora.com"))

- unless AppConfig.configured_services.blank? || all_services_connected?
  .section
    .title
      = image_tag('/images/icons/monotone_wrench_settings.png')
      %h5
        = t('aspects.index.services.heading')
    .content
      %div
        = t('aspects.index.services.content')

      #right_service_icons
        - AppConfig.configured_services.each do |service|
          - unless current_user.services.any?{|x| x.provider == service}
            = link_to(image_tag("social_media_logos/#{service.to_s.downcase}-24x24.png", :title => service.to_s.titleize), "/auth/#{service}")

.section
  .title
    = image_tag('/images/icons/bookmark.png')
    %h5
      = t('bookmarklet.heading')
  .content
    != t('bookmarklet.explanation', :link => link_to(t('bookmarklet.explanation_link_text'), bookmarklet))

- unless AppConfig[:paypal_hosted_button_id].blank?
  .section
    .title
      = image_tag('/images/icons/coffee.png')
      %h5
        = t('aspects.index.donate')
    .content
      = t('aspects.index.keep_us_running', :pod => URI.parse(AppConfig[:pod_url]).host)
      %br
      = render 'shared/donate'


