-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%li.message{:data=>{:guid=>post.id}}
  =person_image_link(person)
  .content
    .from
      =person_link(person)

      - if person.owner_id == current_user.id
        .aspect
          ➔
          %ul
            - if post.public?
              %li= t('the_world')
            - else
              =aspect_links(aspects_with_post(aspects, post))

        .right


          - reshare_aspects = aspects_without_post(aspects, post)
          - unless reshare_aspects.empty?
            = render 'shared/reshare', :aspects => reshare_aspects, :post => post
          = link_to t('delete'), status_message_path(post), :confirm => t('are_you_sure', :gender => current_user), :method => :delete, :remote => true, :class => "delete"

    = render 'status_messages/status_message', :post => post, :photos => photos

    .info
      %span.time= link_to(how_long_ago(post), status_message_path(post))

      = comment_toggle(comments.length)
    = render "comments/comments", :post_id => post.id, :comment_hashes => comments

