-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.stream_element{:data=>{:guid=>post.id}}
  - if post.person.owner_id == current_user.id
    .right.hidden.controls
      - reshare_aspects = aspects_without_post(all_aspects, post)
      - unless reshare_aspects.empty?
        = render 'shared/reshare', :aspects => reshare_aspects, :post => post
      = link_to image_tag('deletelabel.png'), status_message_path(post), :confirm => t('are_you_sure'), :method => :delete, :remote => true, :class => "delete", :title => t('delete')

  = person_image_link(post.person, :size => :thumb_small)

  .content
    %strong
      = person_link(post.person)

    = render 'status_messages/status_message', :post => post, :photos => post.photos

    .info
      - if post.public?
        %span.aspect_badges
          %span.aspect_badge.public
            = t('the_world')
      - elsif post.person.owner_id == current_user.id
        %span.aspect_badges
          = aspect_badges(aspects_with_post(all_aspects, post))

      %span.timeago= link_to(how_long_ago(post), status_message_path(post))
      = link_to t('comments.new_comment.comment').downcase, '#', :class => 'focus_comment_textarea'

    = render "comments/comments", :post_id => post.id, :comments => post.comments, :current_user => current_user, :condensed => true, :commenting_disabled => defined?(@commenting_disabled)
