-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.stream_element{:data=>{:guid=>post.id}}

  - if post.is_a?(Reshare)
    = render 'reshares/reshare', :reshare => post, :post => post.root

  = render 'shared/photo_area', :post => post

  .content
    = render 'shared/post_info', :post => post

    - if post.is_a?(StatusMessage)
      = render 'status_messages/status_message', :post => post, :photos => post.photos

  .bottom_bar
    .floater
      = link_to '', new_post_comment_path(post), :class => "image_link comment_action inactive"

      - if current_user && current_user.liked?(post)
        = link_to '', post_like_path(post.id, current_user.like_for(post).id), :class => "image_link like_action active"
      - else
        = link_to '', post_likes_path(post.id), :class => "image_link like_action inactive"

    - if post.comments.length + post.likes_count > 0
      = link_to "#{t('reactions', :count => (post.comments.length + post.likes_count))}", post_comments_path(post, :format => "mobile"), :class => 'show_comments'
    - else
      %span.show_comments
        = "#{t('reactions', :count => (post.comments.length + post.likes_count))}"

    - if defined?(expanded_info) && expanded_info
      .comment_container
        .post_stats
          %span.comment_count
            = @post.comments.size

          %span.like_count
            = @post.likes.size

        %ul.comments
          = render :partial => 'comments/comment', :collection => @comments, :locals => {:post => @post}

          %li.comment.add_comment_bottom_link_container
            = link_to "Add a comment", new_post_comment_path(@post), :class => 'add_comment_bottom_link btn comment_action inactive'

