-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.stream_element{:data=>{:guid=>post.id}}
  .right
    %span.time
      = time_ago_in_words(post.created_at)

  = person_image_link(post.person, :size => :thumb_small)

  .content
    .from
      = person_link(post.person)

    = render 'status_messages/status_message', :post => post, :photos => post.photos

    .info
      - if post.comments.length == 1
        = link_to "#{post.comments.length} #{t('_comment').downcase} →", status_message_path(post), :class => 'comment_link'
      - else
        = link_to "#{post.comments.length} #{t('_comments').downcase} →", status_message_path(post), :class => 'comment_link'

