-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.stream_element{data: {guid: post.id}, class: post.respond_to?(:nsfw) && post.nsfw ? "shield-active" : ""}
  - if post.is_a?(Reshare)
    = render "reshares/reshare", reshare: post, post: post.absolute_root

  .nsfw-hidden
    = render "shared/photo_area", post: post

  .content
    = render "shared/post_info", post: post

  - unless post.is_a?(Reshare)
    = render "shared/nsfw_shield", post: post

  .nsfw-hidden
    - if post.is_a?(StatusMessage)
      = render "status_messages/status_message", post: post, photos: post.photos

  .bottom_bar.nsfw-hidden
    .floater
      = mobile_reshare_icon(post)
      = mobile_comment_icon(post)
      = mobile_like_icon(post)

    != reactions_link(post)

    - if defined?(expanded_info) && expanded_info
      = render partial: "shared/post_stats", locals: {post: @post}
