-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.stream_element{:data=>{:guid=>post.id}}
  = person_image_link(post.author, :size => :thumb_small)

  .content
    .from
      = person_link(post.author)

    - if post.activity_streams?
      = image_tag post.image_url
    - elsif reshare?(post)
      = render 'reshares/reshare', :reshare => post, :post => post.root
    - else
      = render 'status_messages/status_message', :post => post, :photos => post.photos

    .info
      %span.time{:integer => post.created_at.to_i}
        = t('ago', :time => time_ago_in_words(post.created_at))
      %span.via
        - if post.activity_streams?
          = t('.via', :link => link_to("#{post.provider_display_name}", post.actor_url)).html_safe

      = link_to "#{t('comments', :count => post.comments.length)} →", post_path(post), :class => 'comment_link right'
      - if post.activity_streams?
        %br

