-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.stream_element{:data=>{:guid=>post.id}}
  = person_image_link(post.author, :size => :thumb_small)

  .content
    .from
      = person_link(post.author)

    = render 'status_messages/status_message', :post => post, :photos => post.photos

    .info
      %span.time{:integer => post.created_at.to_i}
        = t('ago', :time => time_ago_in_words(post.created_at))
      = link_to "#{t('comments', :count => post.comments.length)} →", status_message_path(post), :class => 'comment_link right'
