-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%li.message{:data=>{:guid=>post.id}}
  = person_image_link(post.person)

  .content
    .from
      = link_to post.person.real_name, post.person
      .aspect
        ➔
        - if post.public?
          = t('the_world')
        - else
          = current_user.aspects_with_post( post.id ).join(', ')

      - if current_user.owns?(post)
        .right
          = link_to t('delete'), object_path(post), :confirm => t('are_you_sure'), :method => :delete, :remote => true, :class => "delete"

    = render type_partial(post), :post => post

    .info
      %span.time= link_to(how_long_ago(post), object_path(post))
      /= link_to "#{t('.show_comments')} (#{post.comments.count})", '#', :class => "show_post_comments"

      - if current_user.owns?(post)
        .right
          = link_to t('delete'), photo_path(post), :confirm => t('are_you_sure'), :method => :delete, :remote => true, :class => "delete"
    /= render   "comments/comments", :post => post

