-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.stream_element{:data=>{:guid=>post.id}}
  - if person.owner_id == current_user.id
    .right.controls
      - reshare_aspects = aspects_without_post(aspects, post)
      - unless reshare_aspects.empty?
        = render 'shared/reshare', :aspects => reshare_aspects, :post => post
      = link_to t('delete'), status_message_path(post), :confirm => t('are_you_sure'), :method => :delete, :remote => true, :class => "delete"

  = person_image_link(person, :size => :thumb_small)

  .content
    .from
      %h4
        =person_link(person)

      - if post.public?
        %span.arrow ➔
        %span.aspect_badge.public
          = t('the_world')

      - elsif person.owner_id == current_user.id
        %span.arrow ➔
        = aspect_badge(aspects_with_post(aspects, post))


    = render 'status_messages/status_message', :post => post, :photos => photos

    .info
      %span.time= link_to(how_long_ago(post), status_message_path(post))
      = link_to t('comments.new_comment.comment').downcase, '#', :class => 'focus_comment_textarea'

    = render "comments/comments", :post_id => post.id, :comment_hashes => comments, :condensed => true, :commenting_disabled => defined?(@commenting_disabled)
