#aspect_header
  .container
    .span-4.last
      - if @person
        %h2
          = @person.real_name
      - else
        %h2
          - if @aspect == :all
            = link_to "Everyone", root_path
          - elsif @aspect == :manage
            = link_to t('.manage_aspects'), root_path
          - else
            = link_to @aspect.name, @aspect

      .page_title
        = yield :page_title

    .span-15.last{ :style => "position:relative;" }
      = yield :publish
