#aspect_header
  .container
    .span-5.last
      - if @person
        %h1
          = @person.real_name
      - else
        %h1
          - if @aspect == :all
            = link_to "All Aspects", root_path
          - elsif @aspect == :manage
            = "Manage Aspects"
          - elsif @aspect == :public
            = "Public"
          - else
            = link_to @aspect.name, @aspect

      .page_title
        = yield :page_title

    .span-19.last{ :style => "position:relative;" }
      = yield :publish
