- content_for :page_title do
  = t('.connect_to_cubbies')

.span-24.last{:style => "position:relative;"}
  .right{:style => 'z-index:10;'}
    = link_to t('.sign_up_today'), 'http://cubbi.es', :class => "button sign_up"
  %h1
    = t('.connect_to_cubbies')
%h3
  = t('.what_is_cubbies')
  %br
  = t('.love_to_try')
  
%hr

.cubbies_infographic.span-24{:style => "text-align:left;position:relative;"}
  = image_tag '/images/cubbies_screenshot2.png', :height => 452, :width => 600, :class => "cubbies_screenshot"
  = image_tag '/images/cubbies_collage.png', :class => "cubbies_collage"

.span-24.last{:style => "text-align:right;"}
  %p.subtle
    != t('.screenshot_explanation', :link1 => link_to(t('.typical_userpage'), "http://cubbi.es/daniel"), :link2 => link_to(t('.daniels_account'), "https://joindiaspora.com/u/daniel"))
  %br
%hr

%br
.span-24.last
  %h2
    = t('.making_the_connection')
  %br

.span-24.last
  .span-10
    = image_tag '/images/connect_services.png', :class => "cubbies-settings-image"
    %div.subtle
      != t('.via', :link => link_to('http://cubbi.es/users/edit', 'http://cubbi.es/users/edit'))


  .span-12.last
    %h3
      != t('.connecting_is_simple', :diaspora_id => current_user.diaspora_handle, :href_link => 'http://cubbi.es/users/edit')

