.user-consent.col-md-6.col-md-offset-1
  %ul.list-group
    %li.list-group-item.authorized-application
      = render "grants_list", app: @app

      .clearfix
        = form_tag api_openid_connect_authorizations_path, class: "pull-right"  do
          %span
            = submit_tag t(".deny"), class: "btn btn-danger"
            = hidden_field_tag :deny, false
          %span
            = submit_tag t(".approve"),  class: "btn btn-primary"
            = hidden_field_tag :approve, true
