.user-consent.col-md-10.col-md-offset-1
  %ul.list-group
    %li.list-group-item.authorized-application.clearfix
      = render "grants_list", app: @app

      .clearfix.pull-right
        = form_tag api_openid_connect_authorizations_path, class: "approval-button" do
          = submit_tag t(".deny"), class: "btn btn-danger"
          = hidden_field_tag :approve, false

        = form_tag api_openid_connect_authorizations_path, class: "approval-button"do
          = submit_tag t(".approve"),  class: "btn btn-primary"
          = hidden_field_tag :approve, true
