-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


%h2
  New Message

= form_for PrivateMessage.new do |private_message|
  %h4
    to
  = text_field_tag "private_message[contact_ids]"

  %h4
    message
  = private_message.text_area :message, :rows => 5

  = link_to 'cancel', private_messages_path
  = private_message.submit :send
