.span-24
  = render :partial => 'admins/admin_bar'

.span-24.last
  %h1
    = t('post_report.title')
  %div#post_report
    - @post_report.each do |report|
      %div.content
        %span
          = raw t('post_report.post_label', title: link_to(post_page_title(Post.find_by_id(report.post_id)), post_path(report.post_id)))
        %span
          = raw t('post_report.reported_label', person: link_to(report.user_id, user_profile_path(report.user_id)))
        %span
          = t('post_report.reason_label', text: report.text)
      %div.options
        %span
          = link_to t('post_report.review_link'), post_report_path(report.post_id), method: :put
        %span
          = link_to t('post_report.delete_link'), post_report_path(report.post_id), method: :delete
      %div.clear
