-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.span-15.last
  .modal_title_bar
    %h4
      Manage contacts within
      %i= aspect.name
  .span-6.append-1.last
    %h3 Existing contacts
    = render 'shared/contact_list', :aspect => aspect, :contacts => @contacts, :manage => defined?(manage)

  .span-7.last
    %h3 Add a new contact
    = form_tag(person_by_handle_path, :id => "new_request_to_#{aspect.id}", :class => "webfinger_form", :remote => true) do
      =t('.enter_a_diaspora_username')
      %br
      %i= t '.your_diaspora_username_is', :diaspora_handle  => current_user.diaspora_handle

      %p
        = label_tag :diaspora_handle, t('.contact_username'), :for => "request_d_handle_to_#{aspect.id}"
        = text_field_tag :diaspora_handle,'', :id => "request_d_handle_to_#{aspect.id}"
      = hidden_field_tag :aspect_id, aspect.id

      - if defined?(getting_started)
        = hidden_field_tag :getting_started, getting_started
      - if defined?(manage)
        = hidden_field_tag :manage, true

      = submit_tag t('.create_request')
    %br
    #loader.hidden= image_tag 'ajax-loader.gif'
    %ul#request_result{:aspect_id => aspect.id}
      %li.error.hidden
        = link_to t('.invite_someone'), "#invite_user_pane", :class => "invite_user_button", :title => t('.invite_someone')
        %br
        .yo{ :style => "display:none;"}
          #invite_user_pane
            = render "invitations/new"
        
