-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.span-15.last
  .modal_title_bar
    %h4
      = t('.manage_within')
      %i= aspect_name
  .span-6.append-1.last
    %h3= t('.existing')
    = render 'shared/contact_list', :aspect_id => aspect_id, :contacts => @contacts, :manage => defined?(manage)

  .span-7.last
    = render 'shared/add_contact', :aspect_id => aspect_id
