-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.span-12.last
  .modal_title_bar
    %h4
      =t('.add_a_new_friend_to')
      %i= aspect.name

  = form_tag '/aspects/add_to_aspect', :id => 'add_to_aspect' do
    = select_tag :friend_id, options_from_collection_for_select(@friends_dropdown_array, "id", "real_name"), :include_blank => true
    = hidden_field_tag :aspect_id, aspect.id
    = submit_tag "add to #{@aspect.name}"




  = form_for Request.new do |fr_request|
    = fr_request.error_messages

    =t('.enter_a_diaspora_username')
    %br
    %i= t '.your_diaspora_username_is', :diaspora_handle  => current_user.diaspora_handle

    %p
      = fr_request.label :destination_url, t(".friends_username")
      = fr_request.text_field :destination_url
    = fr_request.hidden_field :aspect_id, :value => aspect.id
    = fr_request.submit

