= form_for @request  do |f|
  = f.error_messages

  %p
    enter a diaspora url, diaspora username, or random email address:  
    = f.label :destination_url
    = f.text_field :destination_url
  %p
    = f.submit
