-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.


%h1
  Add a new friend to
  %i= aspect.name

= form_for Request.new do |f|
  = f.error_messages

  Enter a Diaspora username:  
  %br
  %i= "Your Diaspora username is: #{current_user.diaspora_handle}"

  %p
    = f.label :destination_url, "Friend's username"
    = f.text_field :destination_url
  = f.hidden_field :aspect_id, :value => aspect.id
  = f.submit

