-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.span-12.last
  .modal_title_bar
    %h4
      =t('.add_a_new_friend_to')
      %i= aspect.name

  = render 'shared/add_friend_dropdown', :aspect => aspect, :friends => current_user.friends_not_in_aspect(aspect), :manage => defined?(manage)

  = form_for(Request.new) do |fr_request|
    = fr_request.error_messages

    =t('.enter_a_diaspora_username')
    %br
    %i= t '.your_diaspora_username_is', :diaspora_handle  => current_user.diaspora_handle

    %p
      = fr_request.label :destination_url, t('.friends_username')
      = fr_request.text_field :destination_url
    = fr_request.hidden_field :aspect_id, :value => aspect.id

    - if defined?(getting_started)
      = hidden_field_tag :getting_started, getting_started
    - if defined?(manage)
      = hidden_field_tag :manage, true

    = fr_request.submit t('.create_request')

