%h1
  Add a new friend to
  %i= @group.name

= form_for Request.new do |f|
  = f.error_messages

  Enter a Diaspora username:  
  %br
  %i= "Your Diaspora username is: #{current_user.diaspora_handle}"

  %p
    = f.label :destination_url, "Friend's username"
    = f.text_field :destination_url
  = f.hidden_field :group_id, :value => @group.id
  = f.submit

