%li.message{:id => request.id}

  = "from #{request.person.real_name}" 
  = "#{request.destination_url}"

  .destroy_link
    = link_to 'Ignore', request_path(request), :confirm => 'Are you sure?', :method => :delete
