%h1.big_text
  .back
    = link_to "⇧ home", root_path
  Requests

= render "form", :request => @request

%h3= "currently #{@request_count} requests"

%ul#stream
  - for request in @remote_requests
    = render "request", :request => request

#content_bottom
  .back
    = link_to "⇧ home", root_path
