-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.reshare
  - if post
    = render 'shared/photo_area', :post => post

    .content
      = render 'shared/post_info', :post => post

      - if !post.activity_streams?
        = render 'status_messages/status_message', :post => post, :photos => post.photos
  - else
    = t('.deleted')

  .reshare_via
    %span
      = t('.reshared_via')
