%h2 Send invitation
= form_for User.new, :url => invitation_path(User) do |invite|
  %p
    = invite.label :email
    = invite.text_field :email
  To
  - unless @aspect.is_a? Aspect
    = invite.select(:aspects, @aspects_dropdown_array)
  - else 
    = invite.select(:aspects, @aspects_dropdown_array, :selected => @aspect.id)

  %p= invite.submit "Send an invitation"

