%h2 Send invitation
= form_for User.new, :url => invitation_path(User) do |f|
  %p
    = f.label :email
    = f.text_field :email
    To
    - if @aspect == :all
      = f.select(:aspects, @aspects_dropdown_array)
    - else 
      = f.select(:aspects, @aspects_dropdown_array, :selected => [@aspect.to_s, @aspect_id])
  %p= f.submit "Send an invitation"
