%h2 Send invitation
= form_for User.new, :url => invitation_path(User) do |invite|
  %p
    = invite.label :email
    = invite.text_field :email
  To
  - if @aspect == :all
    = invite.select(:aspects, @aspects_dropdown_array)
  - else 
    = invite.select(:aspects, @aspects_dropdown_array, :selected => @aspect.id)
  Message:
  = invite.text_area :invite_messages

  %p= invite.submit "Send an invitation"

