%h2 Send invitation
= form_for User.new, :url => invitation_path(User) do |f|
  %p
    = f.label :email
    = f.text_field :email
    = f.hidden_field :aspect_id, :value => aspect_id(@aspect) 
  %p= f.submit "Send an invitation"
