= form_for(resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :put }) do |f|
  %p
    = f.label :username
    = f.text_field :username
  %p
    = f.label :password
    = f.password_field :password
  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  = f.fields_for :person do |p|
    = p.fields_for :profile do |pr|
      %p
        = pr.label :first_name
        = pr.text_field :first_name
      %p
        = pr.label :last_name
        = pr.text_field :last_name

    = f.hidden_field :invitation_token
  = f.submit 'sign_up'
= render :partial => "devise/shared/links"
