.span-15.last
  .span-3
    = image_tag 'icons/monotone_email_letter_round.png', :height => "128px", :width => "128px"

  .span-12.last
    %h2
      = t('.invite_someone_to_join')
      .description
        = t('.if_they_accept_info')
        %br
  .span-7.append-1.last
    #email_invitation
      = form_tag new_user_invitation_path  do
        %h4
          = t('email')
        = text_field_tag 'email_inviter[emails]' ,nil, :title => t('.comma_seperated_plz'), :placeholder => 'foo@bar.com, max@foo.com...'
        %br
        %br

        %h4
          = t('.language')	
        = select_tag('email_inviter[locale]',  options_from_collection_for_select(available_language_options, "second", "first", :selected => current_user.language))

        %br
        %br

        %h4
          = t('.personal_message')
        = text_area_tag 'email_inviter[message]',nil, :rows => 3, :value => t('.check_out_diaspora')

        %p
          = submit_tag t('.send_an_invitation')

  .clearfix
    .span-7.prepend-3.last

      or paste them this link!
      = invite_link(@invite_code)
      = "#{@invite_code.count} invites left on this code"

  %br
  %br
  - unless @sent_invitations.empty?
    .span-6.prepend-3.last
      #already_invited_pane
        %h4
          = t('.already_invited')
        - for invitation in @sent_invitations
          = invitation.recipient_identifier
          = link_to t('.resend'), invitation_resend_path(invitation), :confirm => t('are_you_sure')
          %br
