:javascript
  $(function() {
    $("#user_email").focus();
  });

%h2
  = t('.invite_someone_to_join')

#email_invitation
  = form_for User.new, :url => invitation_path(User) do |invite|
    %h4
      = t('email')
    = invite.text_field :email, :title => t('.comma_seperated_plz')
    %br

    %h4
      = t('.aspect')
    = invite.select(:aspects, options_from_collection_for_select(all_aspects, 'id', 'name'))

    %br
    %br

    %h4
      = t('.personal_message')
    = invite.text_area :invite_messages, :rows => 3, :value => ""

    %p
      = invite.submit t('.send_an_invitation')
