.span-15.last
  .span-3
    .icons-monotone_email_letter_round

  .span-12.last
    %h2
      = t('invitations.new.invite_someone_to_join')
      %br
  .span-7.append-1.last
    %b= t('invitations.new.paste_link')
    %br
    %br
    = invite_link(@invite_code)
    = t('invitations.new.codes_left', :count => @invite_code.count)
    %br
    %br
    #email_invitation

      = form_tag new_user_invitation_path  do
        %h4
          = t('email')
        = text_field_tag 'email_inviter[emails]', @invalid_emails, :title => t('invitations.new.comma_separated_plz'), :placeholder => 'foo@bar.com, max@foo.com...'
        %p
          = t('invitations.create.note_already_sent', :emails => @valid_emails) unless @valid_emails.empty?
        %br

        %h4
          = t('invitaitons.new.language')
        = select_tag('email_inviter[locale]',  options_from_collection_for_select(available_language_options, "second", "first", :selected => current_user.language))

        %br

        %p
          = submit_tag t('invitations.new.send_an_invitation'), data: {disable_with: t('invitations.new.sending_invitation')}
