-#   Copyright (c) 2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.dropdown{:class => "hang_#{hang}"}
  .button.toggle
    = t('.toggle', :count => contact.aspects.size)
    &#9660;

  .wrapper
    %ul.dropdown_list{:unSelectable => 'on'}
      - for aspect in @all_aspects
        %li{:data => {:aspect_id => aspect.id}}
          = check_box_tag "in_aspect", "in_aspect", (contact.persisted? && aspect.contacts.include?(contact))
          = aspect.name

          .hidden
            = aspect_membership_button(aspect, contact, person)

