-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%ul#aspect_nav
  %li.all_aspects{:class => ("active" if params["set"] != "all" && params["set"] != "only_sharing" && !@spotlight)}
    %a.home_selector.hoverable{:href => contacts_path, :class => ("sub_selected" if params["a_id"])}
      = t('contacts.index.my_contacts')
      .label.pull-right
        = my_contacts_count

    %ul.sub_nav#aspects_list
      - all_aspects.each do |aspect|
        %li.hoverable{:data => {:aspect_id => aspect.id}, :class => ("active" if params["a_id"].to_i == aspect.id)}
          .label.pull-right
            = aspect.contacts.size
          .icons-check_yes_ok{:class => ("selected" if params["a_id"].to_i == aspect.id) }
          %a.selectable{:href => contacts_path(:a_id => aspect.id)}
            = aspect

      %li.hoverable
        = link_to t('aspects.aspect_listings.add_an_aspect'), new_aspect_path, :class => "selectable new_aspect", :rel => "facebox"

  %li.all_contacts{:class => ("active" if params["set"] == "all" || params["set"] == "only_sharing")}
    %a.home_selector.hoverable{:href => contacts_path(:set => "all"), :class => ("sub_selected" if params["set"] == "only_sharing")}
      = t('contacts.index.all_contacts')
      .label.pull-right
        = all_contacts_count

    %ul.sub_nav
      %li.hoverable{:class => ("active" if params["set"] == "only_sharing")}
        .icons-check_yes_ok{:class => ("invisible" if params["set"] == "only_sharing")}
        %a.selectable{:href => contacts_path(:set => "only_sharing")}
          = t('contacts.index.only_sharing_with_me')
          .label.pull-right
            = only_sharing_count
