- membership = contact.aspect_memberships.where(:aspect_id => @aspect.id).first unless @aspect.nil?
.media.stream_element{:id => contact.person_id, :class => ("in_aspect" if membership)}
  .pull-right
    = contact_aspect_dropdown(contact)
  .media-object.pull-left
    = person_image_link(contact.person, :size => :thumb_small)
  .media-body
    = person_link(contact.person, :class => 'name')
    .info.diaspora_handle
      = contact.person_diaspora_handle
    .info.tags
      = Diaspora::Taggable.format_tags(contact.person.profile.tag_string)
