- content_for :page_title do
  = t('.title')

- content_for :head do
  = javascript_include_tag :people

.container-fluid#contacts_container
  .row-fluid
    .span3
      = render 'contacts/sidebar'

    .span9
      #people_stream.stream.contacts
        = render 'contacts/header'

        - if @contacts_size > 0
          = render @contacts

          = will_paginate @contacts
        - else
          .no_contacts
            %h3
              = t('.no_contacts')
            %p
              - if @aspect
                != t('.no_contacts_message_with_aspect',
                    :community_spotlight => link_to(t('.community_spotlight'), community_spotlight_path),
                    :add_to_aspect_link => link_to(t('.add_to_aspect_link', :name => @aspect.name), edit_aspect_path(@aspect), :rel => "facebox"))
              - else
                != t('.no_contacts_message',
                     :community_spotlight => link_to(t('.community_spotlight'), community_spotlight_path))
