-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('.title')

#section_header
  %h2
    = t('.title')

.span-5.append-1
  %ul#left_nav
    %li{:class => ("active" unless params["set"] == "all")}

      %a{:href => contacts_path}
        .contact_count
          = @my_contacts_count
        My Contacts

      %ul#aspect_sub_nav
        - for aspect in all_aspects
          %li
            = aspect
          %li
            Add new aspect
          
    %li{:class => ("active" if params["set"] == "all")}

      %a{:href => contacts_path(:set => "all")}
        .contact_count
          = @all_contacts_count
        All Contacts


.span-15
  #people_stream.stream
    - for contact in @contacts
      = render :partial => 'people/person', :locals => {:contact => contact, :person => contact.person}

  = will_paginate @contacts
