-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('.title')

- content_for :head do
  = javascript_include_tag :people

#section_header
  %h2
    = t('.title')

= render 'shared/contact_sidebar'

.span-18.last
  #people_stream.stream.contacts
    - if @aspect
      #aspect_controls
        - if @contacts_size > 0 && @contacts_size < 20
          = start_a_conversation_link(@aspect, @contacts_size)
        = link_to edit_aspect_path(@aspect), rel: "facebox", class: "button" do
          = t('aspects.edit.manage')
          %span.modify_aspect
        = aspect_visibility_link(@aspect)
        = link_to @aspect, method: "delete", data: { confirm: t('aspects.edit.confirm_remove_aspect') }, class: 'button delete' do
          = t('delete')
          %span.icons-monotone_close_exit_delete

    - if @contacts_size > 0
      = render @contacts

      = will_paginate @contacts
    - else
      %h3.no_contacts
        = t('.no_contacts')
        %br
        %br
        - if @aspect
          != t('.no_contacts_message_with_aspect',
              :community_spotlight => link_to(t('.community_spotlight'), community_spotlight_path),
              :add_to_aspect_link => link_to(t('.add_to_aspect_link', :name => @aspect.name), edit_aspect_path(@aspect), :rel => "facebox"))
        - else
          != t('.no_contacts_message',
               :community_spotlight => link_to(t('.community_spotlight'), community_spotlight_path))
