-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('.title')

- content_for :head do
  = javascript_include_tag :people

#section_header
  %h2
    = t('.title')

= render 'shared/contact_sidebar'

.span-18.last
  #people_stream.stream.contacts
    - if @aspect
      #aspect_controls
        - suggested_limit = 16
        - conv_opts = { :class => "button conversation_button", :rel => "facebox"}
        - conv_opts[:title] = t('.many_people_are_you_sure', :suggested_limit => suggested_limit) if @contacts.size > suggested_limit

        - if @contacts.size < 20
          = link_to t('.start_a_conversation'), new_conversation_path(:aspect_id => @aspect.id, :name => @aspect.name), conv_opts
        - if @contacts.size
          = link_to t('.add_to_aspect', :name => @aspect.name), edit_aspect_path(@aspect), :rel => "facebox"

    - if @contacts.size > 0
      - for contact in @contacts
        .stream_element{:id => contact.person_id}

          .float-right
            = contact_aspect_dropdown(contact)

          .media
            .img
              = person_image_link(contact.person)

            .bd
              = person_link(contact.person)
              .info
                = contact.person_diaspora_handle

      = will_paginate @contacts
    - else
      %h3.no_contacts
        = t('.no_contacts')
        %br
        %br
        - if @aspect
          != t('.no_contacts_message_with_aspect',
              :community_spotlight => link_to(t('.community_spotlight'), community_spotlight_path),
              :add_to_aspect_link => link_to(t('.add_to_aspect_link', :name => @aspect.name), edit_aspect_path(@aspect), :rel => "facebox"))
        - else
          != t('.no_contacts_message',
               :community_spotlight => link_to(t('.community_spotlight'), community_spotlight_path))
