-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t(".title")

#section_header
  %h2
    = t(".title")

#people-stream.stream.contacts
  - if @contacts.size > 0
    - for contact in @contacts
      = render "people/person", person: contact.person, contact: contact
    = will_paginate @contacts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
  - else
    %h3.no_contacts
      = t(".no_contacts")
