-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#aspect_edit_pane
  #facebox_header
    .right
      = t('contacts', :count =>@contacts.count)

    %h3#aspect_name_title
      %span.name= t('.people_sharing')

  - if @contacts.count > 0
    .contact_list
      = search_field_tag :contact_search, "", :id => 'contact_list_search', :class => 'contact_list_search', :results => 5, :placeholder => "People sharing with you"
      %ul
        - for contact in @contacts
          %li{:data=>{:contact_id=>contact.id}}
            = person_image_tag contact.person
            %h4.name
              = link_to contact.person_name, contact.person
              .description
                = contact.person_diaspora_handle

            .right
              = aspect_membership_dropdown(contact, contact.person, 'right')

  %br
  %div{:style => "text-align:right;"}
    = link_to t('aspects.edit.done'), '#', :class => 'button', :rel => 'close'
