- content_for :page_title do
  = t('contacts.spotlight.community_spotlight')


.container-fluid#contacts_container
  .row-fluid
    .span3
      = render 'contacts/sidebar'

    .span9
      #people_stream.stream.contacts
        .header
          - if AppConfig.settings.community_spotlight.suggest_email.present?
            .pull-right
              = link_to t('contacts.spotlight.suggest_member'), "mailto:#{AppConfig.settings.community_spotlight.suggest_email}", :class => "btn btn-default", :id => "suggest_member"
          %h3
            = t('contacts.spotlight.community_spotlight')

        #community_spotlight
          - unless @people.blank?
            - @people.each do |person|
              = render 'people/person', :person => person, :contact => current_user.contact_for(person)

          -# if @contacts_size > 0
            = render @contacts
