-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#show_content{:data=>{:guid=>@photo.id}}
  = render 'shared/author_info', :person => @photo.author, :post => @photo

  = image_tag @photo.image_url

  .info
    %span.time
      = t('ago', :time => time_ago_in_words(@photo.created_at))

      %br
      - if current_user.owns? @photo
        = link_to t('delete'), @photo, :confirm => t('are_you_sure'), :method => :delete
      - else
        = link_to t('hide'), post_visibility_path(:id => "42", :post_id => @photo.id), :confirm => t('are_you_sure'), :method => :put, :remote => true

.stream.show{:data=>{:guid=>@photo.id}}
  = render "comments/comments", :post => @photo, :comments => @photo.comments, :always_expanded => true
