-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = include_javascripts :photos

.span-16.append-4.prepend-4.last
  #original_post_info
    = render 'shared/author_info', :person => @photo.author, :post => @photo

  #photo_container
    #show_photo{:data=>{:guid=>@photo.id}}
      = image_tag @photo.image_url
  %br
  %hr

.span-16.prepend-4.append-4.last
  %h5
    = t('_comments')

  #photo_stream.stream.show
    // TODO(likes)
    /- if (defined?(current_user) && !current_user.liked?(@parent))
    /  %span.like_links
    /    = link_to t('shared.stream_element.like'), likes_path(:positive => 'true', :post_id => @parent.id), :method => :post, :class => "like_it", :remote => true
    /    |
    /    = link_to t('shared.stream_element.dislike'), likes_path(:positive => 'false', :post_id => @parent.id), :method => :post, :class => "dislike_it", :remote => true

    %div{:data=>{:guid=>@photo.id}}
      .likes_container
        = render "likes/likes", :post_id => @photo.id, :likes => @photo.likes, :dislikes => @photo.dislikes
      = render "comments/comments", :post => @photo, :comments => @photo.comments, :always_expanded => true
