%p
  = "#{t('.liked', :name => "#{@sender.name}")}:"

%p{:style => "font-style:italic;color:#666"}
  = process_newlines(truncate(@like.target.formatted_message(:plain_text => true), :length => 200))

%p
  = link_to t('.view_post'), post_url(@like.target)
