= javascript_include_tag "validation"

:javascript
  $(function() {
    $("#user_username").focus();
  });

.span-7.append-1.prepend-3
  %br
  %br
  %br
  %br
  %h2
    = t('.join_the_movement')
  %h3.accept_invitation_text
    = t('.sign_up_today')

.span-10
  %br
  %br
  %br
  %br
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'sign_up_form'}) do |f|
    %p
      = f.label :username , t('username')
      = f.text_field :username, :title => t('.enter_username')
    %p  
      = f.label :email , t('email')
      = f.text_field :email, :title => t('.enter_email')
    
    %p
      = f.label :password , t('password')
      = f.password_field :password, :title => t('.enter_password') 
    %p
      = f.label :password_confirmation , t('password_confirmation')
      = f.password_field :password_confirmation, :title => t('.enter_password_again') 

    = f.submit t('.create_my_account')

