%h1 Add a new album

= form_for Album.new do |f|
  = f.error_messages
  %p
    = f.label :name
    = f.text_field :name
    = f.hidden_field :to, :value => :all
  = f.submit 'create', :class => 'button'
