.back= link_to "⇧ #{@album.name}", @album
%h1.big_text

  = "Editing #{@album.name}"

.sub_header
  ="updated #{how_long_ago(@album)}"

- form_for @album do |a|
  = a.error_messages
  %p
    = a.text_field :name

  %ul
  - for photo in @album.photos
    %li.photo_edit_block= image_tag photo.image.url(:thumb_large)

  #submit_block
    = link_to "Cancel", root_path
    or
    = a.submit

.button.delete
  = link_to 'Delete Album', @album, :confirm => 'Are you sure?', :method => :delete

#content_bottom
  .back
    = link_to "⇧ #{@album.name}", @album
