-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


%h2= "#{t('.editing')} #{@album.name}"

- form_for @album do |album|
  = album.error_messages

  %h4
    = t('.album_name')
    = album.text_field :name

  - for photo in @album.photos
    .photo_edit_block= image_tag photo.url(:thumb_medium)

  .submit_block
    = link_to t('cancel'), root_path
    or
    = album.submit t('.update_album')

.button.delete
  = link_to t('.delete_album'), @album, :confirm => t('are_you_sure'), :method => :delete

