/    Copyright 2010 Diaspora Inc.
/
/    This file is part of Diaspora.
/
/    Diaspora is free software: you can redistribute it and/or modify
/    it under the terms of the GNU Affero General Public License as published by
/    the Free Software Foundation, either version 3 of the License, or
/    (at your option) any later version.
/
/    Diaspora is distributed in the hope that it will be useful,
/    but WITHOUT ANY WARRANTY; without even the implied warranty of
/    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/    GNU Affero General Public License for more details.
/
/    You should have received a copy of the GNU Affero General Public License
/    along with Diaspora.  If not, see <http://www.gnu.org/licenses/>.
/


.back= link_to "⇧ #{@album.name}", @album
%h1.big_text

  = "Editing #{@album.name}"

.sub_header
  ="updated #{how_long_ago(@album)}"

- form_for @album do |a|
  = a.error_messages
  %p
    %b album name:
    = a.text_field :name

  - for photo in @album.photos
    .photo_edit_block= image_tag photo.url(:thumb_medium)

  #submit_block
    = link_to "Cancel", root_path
    or
    = a.submit

.button.delete
  = link_to 'Delete Album', @album, :confirm => 'Are you sure?', :method => :delete

#content_bottom
  .back
    = link_to "⇧ #{@album.name}", @album
