%h1.big_text
  %ul.button_set
    %li.selected= friends_albums_link
    %li= your_albums_link

  .button.right#add_album_button
    = link_to 'new album', "#"

  #add_album_box.contextual_pane
    = render "albums/new_album"

%ul#stream
  - for album in @albums
    = render "album", :post => album
#pagination
  = will_paginate @albums

%h3
  = link_to "make a new album", new_album_path unless params[:friends]
