-#    Copyright 2010 Diaspora Inc.
-#
-#    This file is part of Diaspora.
-#
-#    Diaspora is free software: you can redistribute it and/or modify
-#    it under the terms of the GNU Affero General Public License as published by
-#    the Free Software Foundation, either version 3 of the License, or
-#    (at your option) any later version.
-#
-#    Diaspora is distributed in the hope that it will be useful,
-#    but WITHOUT ANY WARRANTY; without even the implied warranty of
-#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#    GNU Affero General Public License for more details.
-#
-#    You should have received a copy of the GNU Affero General Public License
-#    along with Diaspora.  If not, see <http://www.gnu.org/licenses/>.
-#


- content_for :head do
  :javascript
    $(document).ready(function(){
      $("#add_album_button").fancybox();
    });

= content_for :page_title do
  = link_to "Albums", albums_path

- content_for :left_pane do
  = render "shared/aspect_friends"

- content_for :publish do
  %br
  = link_to 'New Album', '#new_album_pane', {:class => "button", :id => "add_album_button"}

.yo{:style => "display:none;" }
  #new_album_pane
    = render "albums/new_album", :aspect => params[:aspect]

%div
  - for album in @albums
    = render "album", :post => album

#pagination
  = will_paginate @albums

#content_bottom
  .back
    = link_to "⇧ home", root_path
