%h1.big_text
  .back
    = link_to "⇧ home", root_path
  Albums
  .button.right#add_album_button
    = link_to 'New Album', "#"

  #add_album_box.contextual_pane
    = render "albums/new_album"

.sub_header
  %ul.button_set
    %li.selected= friends_albums_link
    %li= your_albums_link

%div
  - for album in @albums
    = render "album", :post => album

#pagination
  = will_paginate @albums

#content_bottom
  .back
    = link_to "⇧ home", root_path
