-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.


- content_for :head do
  :javascript
    $(document).ready(function(){
      $("#add_album_button").fancybox();
    });

= content_for :page_title do
  = link_to "◂ Home", aspects_path, :aspect => params[:aspect]

- content_for :left_pane do
  = render "shared/aspect_friends"

- content_for :publish do
  %h1
    Albums
  .right
    = link_to 'New Album', '#new_album_pane', {:class => "button", :id => "add_album_button"}

.yo{:style => "display:none;" }
  #new_album_pane
    = render "albums/new_album", :aspect => params[:aspect]

%div
  - for album in @albums
    = render "album", :post => album

#pagination
  = will_paginate @albums

#content_bottom
  .back
    = link_to "⇧ home", root_path
