%h3= @album.name 
-unless mine? @album
  %h4= 'by ' + @album.person.real_name
-if mine? @album
  = render "photos/new_photo", :photo => @photo, :album => @album
- for photo in @album_photos
  = link_to (image_tag photo.image.url(:thumb_medium)), object_path(photo)

-if mine? @album
  %p
    = link_to "Destroy", @album, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", albums_path
