-#    Copyright 2010 Diaspora Inc.
-#
-#    This file is part of Diaspora.
-#
-#    Diaspora is free software: you can redistribute it and/or modify
-#    it under the terms of the GNU Affero General Public License as published by
-#    the Free Software Foundation, either version 3 of the License, or
-#    (at your option) any later version.
-#
-#    Diaspora is distributed in the hope that it will be useful,
-#    but WITHOUT ANY WARRANTY; without even the implied warranty of
-#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#    GNU Affero General Public License for more details.
-#
-#    You should have received a copy of the GNU Affero General Public License
-#    along with Diaspora.  If not, see <http://www.gnu.org/licenses/>.
-#


:javascript
  $(document).ready(function(){
    $(".image_thumb img").load( function() {
      $(this).fadeIn("slow");
    });
  });

= content_for :page_title do
  = link_to @album.name, @album

- content_for :left_pane do
  = render "shared/aspect_friends"


.album_id{:id => @album.id, :style => "display:hidden;"}

%h1.big_text
  = @album.name 

-if current_user.owns? @album
  =render 'photos/new_photo'

  .yo{:style => "display:none;"}
    #new_photo_pane

.sub_header
  ="updated #{how_long_ago(@album)}"

-unless current_user.owns? @album
  %h4= "by #{@album.person.real_name}"

#thumbnails
  - for photo in @album_photos
    .image_thumb
      = link_to (image_tag photo.url(:thumb_medium)), object_path(photo)

#content_bottom
  .back
    = link_to "⇧ albums", albums_path

  -if current_user.owns? @album
    .right
      = link_to 'Edit Album', edit_album_path(@album), :class => 'button'
