%h1.big_text
  .back
    = link_to '⇧ albums', albums_path

  = @album.name 

  -if current_user.owns? @album
    .right
      #add_photo_loader
        = image_tag 'ajax-loader.gif'
      = link_to 'Add Photos', '#add_photo_pane', {:class => 'button', :id => 'add_photo_button'}
    
    .yo{:style => 'display:none;'}
      #add_photo_pane
        = render "photos/new_photo", :photo => @photo, :album => @album

.sub_header
  ="updated #{how_long_ago(@album)}"

-unless current_user.owns? @album
  %h4= "by #{@album.person.real_name}"

#thumbnails
  - for photo in @album_photos
    .image_thumb
      = link_to (image_tag photo.image.url(:thumb_medium)), object_path(photo)

#content_bottom
  .back
    = link_to "⇧ albums", albums_path

  -if current_user.owns? @album
    .right
      = link_to 'Edit Album', edit_album_path(@album), :class => 'button'
