-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:javascript
  $(document).ready(function(){
    $(".image_thumb img").load( function() {
      $(this).fadeIn("slow");
    });
  });


= render 'shared/author_info', :person => @album.person, :post => @album

%ul#breadcrumb
  %li= link_to "#{@album.person.profile.first_name}'s Photos", person_photos_path(@album.person)
  %li= @album.name


.span-19.appends-1.last
  #thumbnails
    - for photo in @album_photos
      .image_thumb
        = link_to (image_tag photo.url(:thumb_medium)), object_path(photo)

.span-5.last
  %h2
    = @album.name

  ="#{t('.updated')} #{how_long_ago(@album)}"

  -if current_user.owns? @album
    =render 'photos/new_photo'
    = link_to t('.edit_album'), edit_album_path(@album), :class => 'button'

  .album_id{:id => @album.id, :style => "display:hidden;"}

  -unless current_user.owns? @album
    %h4= "#{t('.by')} #{@album.person.real_name}"

