-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:javascript
  $(document).ready(function(){
    $(".image_thumb img").load( function() {
      $(this).fadeIn("slow");
    });
  });

.span-4.append-1.last
  = render "shared/aspect_friends"

.span-19.last
  %h3
    = link_to "#{@aspect} Albums", albums_path(:aspect => @aspect)

    = @album.name
  ="#{t('.updated')} #{how_long_ago(@album)}"
  .right
    -if current_user.owns? @album
      =render 'photos/new_photo'
      = link_to t('.edit_album'), edit_album_path(@album), :class => 'button'

  .album_id{:id => @album.id, :style => "display:hidden;"}

  -unless current_user.owns? @album
    %h4= "#{t('.by')} #{@album.person.real_name}"

  #thumbnails
    - for photo in @album_photos
      .image_thumb
        = link_to (image_tag photo.url(:thumb_medium)), object_path(photo)

