-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:javascript
  $(document).ready(function(){
    $(".image_thumb img").load( function() {
      $(this).fadeIn("slow");
    });
  });


- if @album != :uploads
  = render 'shared/author_info', :person => @person, :post => @album
- else
  = render 'shared/author_info', :person => @person

%ul#breadcrumb
  %li= link_to "#{@person.profile.first_name}'s Photos", person_photos_path(@person)
  %li= @album_name


.span-19.appends-1.last
  #thumbnails
    - for photo in @album_photos
      .image_thumb
        = link_to (image_tag photo.url(:thumb_medium)), object_path(photo)

.span-5.last
  %h2
    = @album_name

  - if @album != :uploads
    ="#{t('.updated')} #{how_long_ago(@album)}"

  -if current_user.person.id == @person.id
    = render 'photos/new_photo', :album_id => @album_id, :aspect_id => "all"

    - if @album != :uploads
      = link_to t('.edit_album'), edit_album_path(@album_id), :class => 'button'

  .album_id{:id => @album_id, :style => "display:hidden;"}

  -unless current_user.person.id == @person.id
    %h4= "#{t('.by')} #{@person.real_name}"

