:javascript
  $(document).ready(function(){
    $(".image_thumb img").load( function() {
      $(this).fadeIn("slow");
    });
  });


.album_id{:id => @album.id, :style => "display:hidden;"}
.back= link_to '⇧ albums', albums_path
%h1.big_text

  = @album.name 

  -if current_user.owns? @album
    .right
      #add_photo_loader
        = image_tag 'ajax-loader.gif'
      = link_to 'Add Photos', '#new_photo_pane', :class => 'button', :id => "add_photo_button"

  =render 'photos/new_photo'

  .yo{:style => "display:none;"}
    #new_photo_pane

.sub_header
  ="updated #{how_long_ago(@album)}"

-unless current_user.owns? @album
  %h4= "by #{@album.person.real_name}"

#thumbnails
  - for photo in @album_photos
    .image_thumb
      = link_to (image_tag photo.url(:thumb_medium)), object_path(photo)

#content_bottom
  .back
    = link_to "⇧ albums", albums_path

  -if current_user.owns? @album
    .right
      = link_to 'Edit Album', edit_album_path(@album), :class => 'button'
