- content_for :page_title do
  = "#{AppConfig.settings.pod_name} / #{t('devise.passwords.edit.change_password')}"

#reset_password
  %h1{id: "huge-text"}= AppConfig.settings.pod_name

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:class => "form-horizontal block-form", :method => :put }, :autocomplete => 'off') do |f|
    %fieldset
      = f.hidden_field :reset_password_token
      .control-group
        %label{class: "control-label", for: "user_password", style: "width: 45%; text-align: right; padding: 10px 0; overflow: hidden"}
          = t('devise.passwords.edit.new_password')
        .controls
          = f.password_field :password, :required => true, :placeholder => "••••••••", :autocapitalize => "off", :autocorrect => "off", :autofocus => true, :style => "width: 55%;"
      .control-group
        %label{class: "control-label", for: "user_password_confirmation", style: "width: 45%; text-align: right; padding: 10px 0; overflow: hidden"}
          = t('devise.passwords.edit.confirm_password')
        .controls
          = f.password_field :password_confirmation, :required => true, :placeholder => "••••••••", :autocapitalize => "off", :autocorrect => "off", :style => "width: 55%;"
      = hidden_field(:user, :remember_me, :value => 1)
    = f.submit t('devise.passwords.edit.change_password'), :class => "new-btn"

    %br/
    %br/
    %br/
    = link_to t('devise.shared.links.sign_in'), new_session_path(resource_name)

