- content_for :page_title do
  = "#{AppConfig.settings.pod_name} / #{t('devise.passwords.new.forgot_password')}"

#forgot_password
  %h1{id: "huge-text"}= AppConfig.settings.pod_name

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:class => "form-horizontal block-form"}, :autocomplete => 'off') do |f|
    %fieldset
      .control-group
        %label{class: "control-label", for: "user_email", style: "width: 40%; text-align: center; padding: 10px 0; overflow: hidden"}
          = t('devise.passwords.new.email')
        .controls
          = f.text_field :email, :required => true, :autocapitalize => "off", :placeholder => "••••••••", :autocorrect => "off", :autofocus => true, :style => "width: 60%;"
    = f.submit t('devise.passwords.new.send_password_instructions'), :class => "new-btn"

    %br/
    %br/
    %br/
    = link_to t('devise.shared.links.sign_in'), new_session_path(resource_name)

