-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%h1
  = @stream.display_tag_name
- if user_signed_in?
  -# rubocop:disable Style/IdenticalConditionalBranches
  - if tag_followed?
    .btn.btn-danger.tag_following_action{data: {name: @stream.tag_names}}
      = t(".stop_following", tag: @stream.tag_names)
  - else
    .btn.btn-success.tag_following_action{data: {name: @stream.tag_names}}
      = t(".follow", tag: @stream.tag_names)
  -# rubocop:enable Style/IdenticalConditionalBranches
#main-stream.stream
  = render 'shared/stream', :posts => @stream.stream_posts
  = render 'shared/stream_more_button'

