-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :page_title do
  - if params[:name]
    = "##{params[:name]}"
  - else
    = t('.whatup', :pod => @pod_url)

- content_for :head do
  = include_javascripts :home
  :javascript
    $(document).ready(function(){
      // Change the text and color of the "follow this tag" button on hover.
      $(".button.tag_following").hover(function(){
        $this = $(this);
        $this.removeClass("in_aspects");
        $this.val("#{t('.stop_following', :tag => params[:name])}");
      },
      function(){
        $this = $(this);
        $this.addClass("in_aspects");
        $this.val("#{t('.following', :tag => params[:name])}");
      });
    });
    $(".people_stream .pagination a").live("click", function() {
      $.getScript(this.href);
      return false;
    });


- content_for :body_class do
  = "tags_show"

.span-6.tags_people
  %h3
    = t('people', :count => @people_count)

  .side_stream.stream
    = render :partial => 'people/index', :locals => {:people => @people}

  %br

  .section
    = render "tags/followed_tags_listings"

.span-15.last
  .stream_container
    #author_info
      - if user_signed_in? && current_user.person != @person
        .right
          - unless tag_followed?
            = button_to t('.follow', :tag => params[:name]), tag_tag_followings_path(:name => params[:name]), :method => :post,   :class => 'button take_action'
          - else
            = button_to t('.following', :tag => params[:name]), tag_tag_followings_path(:name => params[:name]), :method => :delete,   :class => 'button red_on_hover tag_following in_aspects take_action'
      %h2
        = "##{params[:name]}"
        %small
          = t('.followed_by')
          = t('people', :count => @tag_follow_count)

    - if current_user
      = render 'shared/publisher', :selected_aspects => all_aspects.map{|a| a.id}, :aspect_ids => all_aspects.map{|a| a.id}, :for_all_aspects => true, :aspect => all_aspects.first

    %hr

    #main_stream.stream
      - if @posts.length > 0
        = render 'shared/stream', :posts => @posts
        #pagination
          =link_to(t('more'), next_page_path, :class => 'paginate')
      - else
        = t('.nobody_talking', :tag => "##{params[:name]}")

