-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  - if params[:name]
    = "##{params[:name]}"
  - else
    = t('.whatup', :pod => @pod_url)

- content_for :head do
  = include_javascripts :home
  :javascript
    $(".people_stream .pagination a").live("click", function() {
      $.getScript(this.href);
      return false;
    });
- content_for :body_class do
  = "tags_show"

.span-6
  %h3
    = t('people', :count => @people_count)

  .side_stream.stream
    = render :partial => 'people/index', :locals => {:people => @people}

.span-15.last
  .stream_container
    #author_info
      - if user_signed_in? && current_user.person != @person
        .right
          = button_to "Follow ##{params[:name]}", :class => "button"
      %h2
        = "##{params[:name]}"

    %hr

  #main_stream.stream
    - if @posts.length > 0
      = render 'shared/stream', :posts => @posts
      #pagination
        =link_to(t('more'), next_page_path, :class => 'paginate')
    - else
      = t('.nobody_talking', :tag => "##{params[:name]}")

