.btn-group.aspect_dropdown.aspect_membership_dropdown
  %button.btn.btn-small.dropdown-toggle{:class => selected_aspects.size>0 ? "green" : "btn-default", "data-toggle" => "dropdown"}
    %span.text
      - if selected_aspects.size == all_aspects.size
        = t('all_aspects')
      - elsif selected_aspects.size == 1
        = selected_aspects.first.name
      - else
        = t('shared.aspect_dropdown.toggle', :count => selected_aspects.size)
    %span.caret

  %ul.dropdown-menu{:class => ["pull-#{hang}", defined?(dropdown_class) && dropdown_class], :unSelectable => 'on', 'data-person_id' => (person.id if defined?(person) && person), 'data-service_uid' => (service_uid if defined?(service_uid)), 'data-person-short-name' => (person.first_name if defined?(person) && person)}
    - for aspect in all_aspects
      %li.aspect_selector{ :class => ('selected' if aspect_membership_ids[aspect.id].present?), 'data-aspect_id' => aspect.id, 'data-membership_id' => aspect_membership_ids[aspect.id] }
        %a
          %span.status_indicator
            %i.icon-ok
            %i.icon-refresh
          %span.text
            = aspect.name

    - if (dropdown_may_create_new_aspect && defined?(person) && person)
      %li.divider
      %li.newItem
        .add_aspect
          = link_to t('contacts.index.add_a_new_aspect'), new_aspect_path(:person_id => person.id, :remote => true), :rel => 'facebox'
