%h1
  This is a technology preview, do not provide any private information.
%h3 
  your account may be deleted until we move into a more stable development period. 
%h3
  USE AT YOUR OWN RISK!!
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  #user
    %p.username
      = f.label :username
      = f.text_field :username
    %p.user_network
      ="@#{APP_CONFIG[:pod_url].gsub(/(http:\/\/)|(\/$)/,'')}"

    %p
      = f.label :password
      = f.password_field :password
  /%p
  /- if devise_mapping.rememberable?
  /  = f.check_box :remember_me
  /  = f.label :remember_me
  = f.submit "Sign in"
  = link_to "Have a problem? Find an answer here", 'http://diaspora.shapado.com/'
  %p
= render :partial => "devise/shared/links"

