/%h1 This is a technology preview, do not provide any private information.
/%h3 your account may be deleted until we move into a more stable development period.
/%h3 USE AT YOUR OWN RISK!!

.span-22.prepend-1.last

  #landing_content


    #diaspora_description.section
      %p
        Share what you want, with who you want.

    #signup_field.section
      = render 'shared/mail_signup_form'

    #login_field.section
      already have an account?
      = link_to "log in here", "#"

.span-24.last{:style=>"text-align:center;"}
  %ul#press_logos
    %li= image_tag "press_logos/nyt.png"
    %li= image_tag "press_logos/nymag.gif"
    %li= image_tag "press_logos/mashable.jpeg"
    %li= image_tag "press_logos/techcrunch.gif"
