<div class="content">
    {{#if photos}}
        <div class="image-container">
            {{#each photos}}
                <img src="{{sizes.large}}" {{#if ../../adjustedImageHeight}}style="height:{{../../adjustedImageHeight}}px;"{{/if}} />
            {{/each}}
        </div>
    {{/if}}

    {{#if object_url}}
        <div class="image-container">
            <a href="{{object_url}}" class="stream-photo-link">
                <img src="{{image_url}}" data-small-photo="{{image_url}}" data-full-photo="{{image_url}}" class="stream-photo" />
            </a>
        </div>
    {{/if}}

    <div class="embed-frame" />

    {{#if text}}
        <div class="text-content">
            {{{text}}}
        </div>
        <div class="background-color"></div>
    {{else}}
        <div class="text-content">
            <p></p>
        </div>
    {{/if}}

    <!--Handlebars partial territory-->
    <div class=controls>
        <a href="#" class="delete"></a>
    </div>

    <div class="info permalink">
        {{#if root}}
        {{#linkToPerson root.author}}
        {{{personImage this}}
        {{/linkToPerson}}
        {{/if}}

        <i class="icon-time timestamp" title="{{created_at}}" rel="tooltip"></i>
        <i class="icon-chevron-right permalink" title="View Post" rel="tooltip"></i>

        <i class="icon-heart"></i> {{likesCount}}
        <i class="icon-retweet"></i> {{resharesCount}}
        <i class="icon-comment"></i> {{commentsCount}}
    </div>
</div>

