-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- if photos.size > 0
  .photo_attachments
    = link_to (image_tag photos.first.url(:scaled_full)), photo_path(photos.first)
    - if photos.size > 1
      - if photos.size >= 8
        - for photo in photos[1..8]
          = link_to (image_tag photo.url(:thumb_small)), photo_path(photo)
      - else
        - for photo in photos[1..photos.size]
          = link_to (image_tag photo.url(:thumb_small)), photo_path(photo)
  = markdownify(post.text, :youtube_maps => post[:youtube_titles])

- else
  = markdownify(post.text, :youtube_maps => post[:youtube_titles])
