-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.


%li.message{:id => post.id, :class => ("mine" if current_user.owns?(post))}

  = person_image_link(post.person)

  .content
    %span.from
      = link_to post.person.real_name, post.person 
      = auto_link sanitize post.message
      
    .info
      = link_to(how_long_ago(post), object_path(post))
      \--
      = link_to "show comments (#{post.comments.count})", '#', :class => "show_post_comments"

    = render   "comments/comments", :post => post 


  - if current_user.owns?(post)
    .destroy_link
      = link_to 'Delete', status_message_path(post), :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => "delete"
