-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- if defined?(reshare) && reshare
  .photo_area
    - if post.is_a?(StatusMessage)
      -if post.photos.size > 0
        .photo_attachments
          - if post.photos.size > 1
            .additional_photo_count
              = "+ #{post.photos.size-1}"
          = image_tag post.first_photo_url(:thumb_large), :class => "stream-photo big-stream-photo"
    - elsif post.activity_streams?
      = image_tag post.image_url

%div{:class => direction_for(post.text)}
  != markdownify(post)
