-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%li.message{:id => post.id, :class => ("mine" if current_user.owns?(post))}

  = person_image_link(post.person)

  .content
    .from
      = link_to post.person.real_name, post.person
      .aspect
        ➔
        %ul
          - if post.public?
            the world
          - else
            - for aspect in current_user.aspects_with_post( post.id )
              %li= link_to aspect.name, aspect

      - if current_user.owns?(post)
        .destroy_link
          = render "shared/reshare", :post => post, :current_user => current_user
          = link_to t('.delete'), status_message_path(post), :confirm => t('.are_you_sure'), :method => :delete, :remote => true, :class => "delete"

    = make_links(post.message)

    .info
      %span.time= link_to(how_long_ago(post), object_path(post))
      = link_to "#{t('.show_comments')} (#{post.comments.count})", '#', :class => "show_post_comments"

    = render "comments/comments", :post => post

