- title "Status Messages"


%h3 Messages
%ul
  - for status_message in @status_messages
    %li
      = "#{status_message.message} by #{status_message.owner}"
      = link_to 'Show', status_message
      |
      =link_to 'Destroy', status_message, :confirm => 'Are you sure?', :method => :delete


%h2 Friends
%table
  %tr
    %th username
    %th url
  - for friend in @friends
    %tr
      %td= friend.username
      %td= friend.url
      %td= link_to 'Show', friend
      %td= link_to 'Destroy', friend, :confirm => 'Are you sure?', :method => :delete
      
      

%p= link_to "New Status Message", new_status_message_path
