- title "Home"

%h3 Your latest message
%h2= "#{StatusMessage.my_newest.message} #{time_ago_in_words(StatusMessage.my_newest.created_at)} ago"

%br
%br
%br

%h3 Messages
%ul
  - for status_message in @status_messages
    %li
      = "#{status_message.message} by #{status_message.owner} #{time_ago_in_words(status_message.created_at)} ago"
      = link_to 'Show', status_message
      |
      =link_to 'Destroy', status_message, :confirm => 'Are you sure?', :method => :delete


%h2 Friends
%table
  %tr
    %th username
    %th url
  - for friend in @friends
    %tr
      %td= friend.username
      %td= friend.url
      %td= link_to 'Show', friend
      %td= link_to 'Destroy', friend, :confirm => 'Are you sure?', :method => :delete
      
      

%p= link_to "New Status Message", new_status_message_path
