/    Copyright 2010 Diaspora Inc.
/
/    This file is part of Diaspora.
/
/    Diaspora is free software: you can redistribute it and/or modify
/    it under the terms of the GNU Affero General Public License as published by
/    the Free Software Foundation, either version 3 of the License, or
/    (at your option) any later version.
/
/    Diaspora is distributed in the hope that it will be useful,
/    but WITHOUT ANY WARRANTY; without even the implied warranty of
/    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/    GNU Affero General Public License for more details.
/
/    You should have received a copy of the GNU Affero General Public License
/    along with Diaspora.  If not, see <http://www.gnu.org/licenses/>.
/


- title "Status Message"

%p
  %strong Message:
  = @status_message.message
  
%p
  %strong Owner:
  = @status_message.person.real_name

%h4= "comments (#{@status_message.comments.count})"
= render "comments/comments", :post => @status_message

%p
  = link_to "Destroy", @status_message, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", status_messages_path
