-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.


- title t('.status_message')

%p
  %strong="#{t('.message')}:"
  = @status_message.message
  
%p
  %strong="#{t('.owner')}:"
  = @status_message.person.real_name

%h4= "#{t('.comments')} (#{@status_message.comments.count})"
= render "comments/comments", :post => @status_message

%p
  = link_to t('.destroy'), @status_message, :confirm => t('.are_you_sure'), :method => :delete
  |
  = link_to t('.view_all'), status_messages_path
