-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#show_content{:data=>{:guid=>@status_message.id}}
  = render 'shared/author_info', :person => @status_message.author, :post => @status_message

  %p
    = markdownify(@status_message.message, :youtube_maps => @status_message[:youtube_titles])

  - for photo in @status_message.photos
    = link_to (image_tag photo.url(:thumb_small)), photo.url(:thumb_medium)

  .info
    %span.time
      = t('ago', :time => time_ago_in_words(@status_message.created_at))

      %br
      - if current_user.owns? @status_message
        = link_to t('.destroy'), @status_message, :confirm => t('are_you_sure'), :method => :delete

.stream.show{:data=>{:guid=>@status_message.id}}
  = render "comments/comments", :post_id => @status_message.id, :comments => @status_message.comments, :always_expanded => true
