-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.

%h1
  = link_to @status_message.person.real_name, @status_message.person
  = @status_message.message

%h4= "#{t('.comments')} (#{@status_message.comments.count})"
= render "comments/comments", :post => @status_message

%p
  - if current_user.owns? @status_message
    = link_to t('.destroy'), @status_message, :confirm => t('are_you_sure?'), :method => :delete
