-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


.span-16.append-4.prepend-4.last
  #original_post_info
    = render 'shared/author_info', :person => @status_message.author, :post => @status_message

  #show_text
    %p
      = markdownify(@status_message.text, :youtube_maps => @status_message[:youtube_titles])

    - for photo in @status_message.photos
      .thumb_small= link_to (image_tag photo.url(:thumb_small)), photo_path(photo)

  %p.time
    = how_long_ago(@status_message)

  %hr

  = link_to t('.permalink'), post_path(@status_message) if @status_message.public
  %br
  - if current_user.owns? @status_message
    = link_to t('.destroy'), @status_message, :confirm => t('are_you_sure'), :method => :delete


  %h5
    = t('_comments')
  #status_message_stream.stream.show
    %div{:data=>{:guid=>@status_message.id}}
      = render "comments/comments", :post_id => @status_message.id, :comments => @status_message.comments, :always_expanded => true
