-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- if @request_count > 0
  #new_request_pane{:class => "everyone"}
    %h1.new_request{:style => 'text-align:center'}
      = new_request_link(@request_count)

#left_pane.everyone

  .section.aspect_listings
    %h3
      = t('.aspects')
      .right{:style=>"font-size:12px;top:5px;"}
        = link_to t('.manage_aspects'), aspects_manage_path

    %ul
      - for a_hash in @aspect_hashes
        = render :partial => 'aspects/aspect', :locals => a_hash

  .section.contact_pictures
    %h3
      .right.description{:style => "top:-4px"}
        = @contact_hashes.count
      = t('.all_contacts')

    - for contact in @contact_hashes
      = person_image_link(contact[:person])

    - if @contacts.count == 0
      %h4
        = t('.no_contacts')
      = form_tag(people_path, :method => 'get') do
        = text_field_tag 'q', nil, :placeholder => t('search'), :type => 'search', :results => 5

  .section
    %h3= t('shared.invitations.invites')
    = render "shared/invitations", :invites => @invites

