-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = include_javascripts :aspects

#edit_aspect_pane
  - if @contacts.count > 0
    %h4= t('aspects.edit.add_existing')
    = render 'shared/contact_list', :aspect_id => aspect.id, :contacts => contacts, :manage => defined?(manage)

  = render 'shared/add_contact', :aspect_id => aspect.id

  %hr
  = form_for aspect do |asp|
    = asp.text_field :name, :value => aspect.name
    = t('aspects.contacts_visible')
    = aspect.check_box :contacts_visible, :default => true
    %br
    = t('aspects.contacts_not_visible')
    -#contacts_visible should be editable here
    = asp.submit t('aspects.edit.rename_aspect')

  %hr
  .big_buttons
    = button_to t('aspects.edit.remove_aspect'), aspect, :method => "delete", :confirm => t('aspects.edit.confirm_remove_aspect')

