#selected_aspect_contacts.section
  .title.no_icon
    %h5
      - if @aspect == :all || @aspect_ids.size > 1
        = "#{t('_contacts')}"
      - else
        = @aspect.name
      = "(#{count})"

  .content
    - if contacts.size > 0
      - for contact in contacts
        = person_image_link contact.person

      - if @aspect_ids.size > 1
        = link_to t('.view_all_contacts'), contacts_path, :id => "view_all_contacts_link"
      - else
        = link_to t('.view_all_contacts'), contacts_path(:a_id => @aspect.id), :id => "view_all_contacts_link"

    - else
      = t('.no_contacts')
      = link_to t('.manage_your_aspects'), contacts_path

