#selected_aspect_contacts.section
  .title.no_icon
    %h5
      - if @stream.for_all_aspects? || @stream.aspect_ids.size > 1
        = "#{t('_contacts')}"
      - else
        = @stream.aspect.name
      = "(#{@stream.people.size})"


  .content
    - if @stream.people.size > 0
      - for person in @stream.people
        = person_image_link(person)

      - if @stream.for_all_aspects? || @stream.aspect_ids.size > 1
        = link_to t('.view_all_contacts'), contacts_link, :id => "view_all_contacts_link"
      - else
        = link_to t('.view_all_contacts'), contacts_path(:a_id => @stream.aspect.id), :id => "view_all_contacts_link"

    - else
      = t('.no_contacts')
      = link_to t('.manage_your_aspects'), contacts_link

