-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#aspect_edit_pane
  #facebox_header{:data=>{:guid=>@aspect.id}}
    %h3#aspect_name_title
      %span.name= @aspect
      %span.tiny_text
        = link_to t('.rename'), '#', :id => 'rename_aspect_link'

    #aspect_name_edit.hidden
      = form_for @aspect, :remote => true do |aspect|
        = aspect.text_field :name, :maxlength => 20
        = aspect.submit t('.update'), 'data-disable-with' => t('.updating'), :class => 'btn'

  - if @contacts.count > 0
    = render 'shared/contact_list', :aspect => @aspect, :contacts => @contacts

  .bottom_submit_section
    = button_to t('delete'), @aspect, :method => "delete", :data => { :confirm => t('.confirm_remove_aspect') }, :class => 'btn delete'
    = aspect_visibility_link(@aspect)
    = submit_tag t('.done'), :class => 'btn creation', :rel => 'close'

