-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#aspect_header
  - if @aspect == :all
    = t('application.helper.aspect_badge.all_aspects')
  - else
    = @aspect

.grey_back
  = render 'shared/publisher', :aspect_ids => @aspect_ids

#main_stream.stream
  = render 'shared/stream', :posts => @fakes
  %a.more-link.paginate{:href => '#'}
    %h2= t("more")
= will_paginate @posts
