-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.span-4.append-1.last
  = render "shared/aspect_friends"

.span-15.last
  = render 'aspects/no_friends_message'
  = render 'shared/publisher'
  = render 'aspects/no_posts_message'
  %ul#stream
    - for post in @posts
      = render type_partial(post), :post => post unless post.class == Album

  #pagination
    = will_paginate @posts

