-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :head do
  = include_javascripts :home

- if current_user.getting_started?
  #welcome-to-diaspora
    .container{:style => "position: relative;"}
      .right
        = link_to image_tag('deletelabel.png'), getting_started_completed_path
      .span-23
        %h1
          = t('.welcome_to_diaspora', :name => current_user.first_name)
        %h3
          = t('.time_to_introduce_yourself')
  %br
  %br
  %br
  %br
  %br

.span-5.leftNavBar
  #home_user_badge
    = owner_image_link
    %h3
      = current_user.first_name

  .section
    %ul.left_nav
      %li
        %b
          = link_to t("streams.multi.title"), multi_path, :class => 'home_selector'

  .section
    = render 'aspects/aspect_listings', :stream => @stream

  .section
    %ul.left_nav
      %li
        %b
          = link_to t('streams.mentions.title'), mentions_path, :class => 'home_selector'

  .section#followed_tags_listing
    = render 'tags/followed_tags_listings'

.span-13.append-1
  #aspect_stream_container.stream_container
    = render 'aspects/aspect_stream', :stream => @stream

.span-5.rightBar.last
  = render 'aspects/selected_contacts', :stream => @stream

  = render 'shared/right_sections'
