-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :head do
  = include_javascripts :home

.span-5.leftNavBar
  #home_user_badge
    = owner_image_link
    %h3
      = current_user.first_name

  .section
    = render 'aspects/aspect_listings'

.span-13.append-1
  #aspect_stream_container.stream_container
    = render 'aspect_stream',
      :aspect => @aspect,
      :aspect_ids => @aspect_ids,
      :posts => @posts

.span-5.rightBar.last
  = render 'selected_contacts', :contacts => @selected_contacts[0..19], :count => @selected_contacts_count

  .section
    .title
      = image_tag('/images/icons/bookmark.png')
      %h5
        = t(".diaspora_id.heading")
    .content
      = t(".diaspora_id.content_1")
      %b
        = current_user.diaspora_handle
      %br
      = t(".diaspora_id.content_2")

  .section
    .title
      = image_tag('/images/icons/bookmark.png')
      %h5
        = t('bookmarklet.heading')
    .content
      != t('bookmarklet.explanation', :link => link_to(t('bookmarklet.explanation_link_text'), bookmarklet))

  .section
    .title
      = image_tag('/images/icons/cubbies.png')
      %h5
        = t('.cubbies.heading')
    .content
      = t('.cubbies.explanation')
      = link_to t('.cubbies.learn_more'), token_path

  - if @invites > 0
    .section
      .title

        = image_tag('/images/icons/plus.png')
        %h5
          .right
            = t('shared.invitations.invitations_left', :count => @invites)
          = t('shared.invitations.invite_your_friends')
      .content
        = render "shared/invitations", :invites => @invites

