-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%h2
  - if @stream.for_all_aspects?
    = t('all_aspects')
  - else
    = @stream.aspect
  = link_to 'Post', new_status_message_path, :id => 'publisher_button'

#main_stream.stream
  = render 'shared/stream', :posts => @stream.posts
  -if @stream.posts.length > 0
    #pagination
      %a.more-link.paginate{:href => next_page_path}
        %h1
          = t("more")

