-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#aspect_header
  - if @aspect == :all
    = t('all_aspects')
  - else
    = @aspect

%h1
  = link_to t('.post_a_message'), '#publisher_page', :id => 'publisher_button'
#main_stream.stream
  = render 'shared/stream', :posts => @posts
  #pagination
    %a.more-link.paginate{:href => aspects_path(:a_ids => params[:a_ids], :page => params[:page] + 1)}
      %h2= t("more")
- content_for :subpages do
  = render 'shared/publisher', :aspect_ids => @aspect_ids
