-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :head do
  = include_javascripts :home

.span-24.last
  %h3{:style => "position:relative;"}
    = current_user.name
    .right{:style=>"top:0"}
      %span.description
        = link_to current_user.diaspora_handle, person_path(current_user.person)
        = info_text(t('.handle_explanation'))

.span-15.append-1
  /= render 'aspects/no_contacts_message', :aspect => @aspect, :contact_count => @contacts.count
  /= render 'aspects/no_posts_message', :post_count => @post_hashes.length, :contact_count => @contacts.count

  #aspect_stream_container
    = render 'aspect_stream',
      :aspect => @aspect,
      :aspect_ids => @aspect_ids,
      :post_hashes => @post_hashes

.span-6.last
  = render 'aspects/all_aspects_contacts'

