-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :head do
  = include_javascripts :home

.span-5.leftNavBar
  #home_user_badge
    = owner_image_link
    %h3
      = current_user.first_name

  - unless has_completed_getting_started?
    .section
      %ul.left_nav
        %li
          = link_to "Welcome", getting_started_path, :class => "home_selector"

  .section
    = render 'aspects/aspect_listings'

  .section
    = render 'tags/followed_tags_listings'

.span-13.append-1
  #aspect_stream_container.stream_container
    = render 'aspect_stream',
      :aspect => @aspect,
      :aspect_ids => @aspect_ids,
      :posts => @posts

.span-5.rightBar.last
  = render 'selected_contacts', :people => @selected_people.sample(20), :count => @contact_count

  = render 'shared/right_sections'
