-#    Copyright 2010 Diaspora Inc.
-#
-#    This file is part of Diaspora.
-#
-#    Diaspora is free software: you can redistribute it and/or modify
-#    it under the terms of the GNU Affero General Public License as published by
-#    the Free Software Foundation, either version 3 of the License, or
-#    (at your option) any later version.
-#
-#    Diaspora is distributed in the hope that it will be useful,
-#    but WITHOUT ANY WARRANTY; without even the implied warranty of
-#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#    GNU Affero General Public License for more details.
-#
-#    You should have received a copy of the GNU Affero General Public License
-#    along with Diaspora.  If not, see <http://www.gnu.org/licenses/>.
-#


- content_for :head do 
  = javascript_include_tag 'jquery-ui-1.8.4.custom.min.js'
  = javascript_include_tag 'aspect-edit.js'

- content_for :left_pane do
  %h3
    Requests

  .requests
    %ul
      - for request in @remote_requests
        %li.requested_person{:id => request.person.id, :request_id => request.id}
          = image_tag(request.person.profile.image_url(:thumb_small)) unless request.person.profile.image_url.nil?
          .name
            = request.person.real_name
  %h1
    Ignore/Remove

  %li.remove
    %ul

- content_for :publish do
  .new_aspect= link_to("add a new aspect", "#add_aspect_pane", :id => "add_aspect_button", :title => "Add a new relation")



%ul#aspect_list
  - for aspect in @aspects
    %li.aspect
      %h1{:contenteditable => true}= aspect.name
      
      %ul{:id => aspect.id}
      
        -if aspect.people.size < 1
          %li.grey Drag to add people

        -else
          -for person in aspect.people

            %li.person{:id => person.id, :from_aspect_id => aspect.id}
              = person_image_tag(person)
              .name
                = person.real_name
        = link_to (image_tag('add_friend_button.png', :height => "50px", :width => "50px")), "#add_request_pane_#{aspect.id}", :class => 'add_request_button'
        .yo{:style => 'display:none'}
          %div{:id => "add_request_pane_#{aspect.id}"}
            = render "requests/new_request", :aspect => aspect

%p
  %br
  = link_to 'Update Aspects', '#', :class => 'button', :id => "move_friends_link"

#content_bottom
