-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = include_javascripts :aspects

- content_for :page_title do
  = t('.manage_aspects')

#section_header
  .right
    = link_to("+ #{t('.add_a_new_aspect')}", "#add_aspect_pane", :class => "new_aspect button", :title => t('.add_a_new_aspect'), :rel => 'facebox')

  %h2
    =t('.manage_aspects')

#manage_aspect_zones
  .span-4.append-1.last
    .requests
      %h3=t('.requests')

      %ul.dropzone
        - if @remote_requests.size < 1
          %li=t('.no_requests')
        - else
          - for hash in @remote_requests
            %li.person.request{:data=>{:guid=>hash[:request].id, :person_id=>hash[:sender].id}}
              .delete
                .x
                  X
                .circle
              = link_to person_image_tag(hash[:sender]), hash[:sender]

      - if @remote_requests.size > 0
        %p
          %i= "#{t('.drag_to_add')} =>"

      = render 'shared/invitations', :invites => @invites

    %div{:style=>"color:rgb(252,252,252);"}
      \.

  .span-19.last
    - for hash in @aspect_hashes
      .aspect.span-9{:data=>{:guid=>hash[:aspect].id}}
        .aspect_name
          %span.edit_name_field
            %h3{:contenteditable=>true}
              = hash[:aspect].name
            %span.tip click to edit

          %ul.tools
            %li= link_to t('.add_a_new_contact'), "#manage_aspect_contacts_pane_#{hash[:aspect].id}", :class => 'manage_aspect_contacts_button'
            %li!= remove_link(hash[:aspect])

        %ul.dropzone{:data=>{:aspect_id=>hash[:aspect].id}}
          -for contact_hash in hash[:contacts]
            %li.person{:data=>{:guid=>contact_hash[:person].id, :aspect_id=>hash[:aspect].id}}
              .delete
                .x
                  X
                .circle
              = link_to person_image_tag(contact_hash[:person]), contact_hash[:person]
          .draggable_info
            =t('.drag_to_add')

          .fancybox_content
            %div{:id => "manage_aspect_contacts_pane_#{hash[:aspect].id}"}
              = render "requests/manage_aspect_contacts", :aspect => hash[:aspect], :manage => true, :contact_hashes => hash[:contacts]

