-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = javascript_include_tag 'jquery-ui-1.8.4.custom.min.js'
  = javascript_include_tag 'aspect-edit.js'

#section_header
  %h2
    Manage aspects
  .right
    = link_to("+ #{t('.add_a_new_aspect')}", "#add_aspect_pane", :class => "new_aspect add_aspect_button button", :title => t('.add_a_new_aspect'))

.span-4.append-1.last
  %h3=t('.requests')

  .requests
    %ul.dropzone
      - if @remote_requests.size < 1
        %li No new requests
      - else
        - for request in @remote_requests
          %li.person.request{:data=>{:guid=>request.id, :person_id=>request.person.id}}
            .delete
              .x
                X
              .circle
            = person_image_tag(request.person)

  = render 'shared/invitations', :invites => @invites

.span-19.last
  %ul#aspect_list
    - for aspect in @aspects
      %li.aspect{:data=>{:guid=>aspect.id}}

        .aspect_name
          %span.edit_name_field
            %h3{:contenteditable=>true}
              = aspect.name
            %span.tip click to edit

          %ul.tools
            %li= link_to t('.add_a_new_friend'), "#add_request_pane_#{aspect.id}", :class => 'add_request_button'
            %li!= remove_link(aspect)

        %ul.dropzone{:data=>{:aspect_id=>aspect.id}}
          -for contact in aspect.people
            -person = contact.person
            %li.person{:data=>{:guid=>person.id, :aspect_id=>aspect.id}}
              .delete
                .x
                  X
                .circle
              = person_image_tag(person)
          .draggable_info
            Drag to add people



          .fancybox_content
            %div{:id => "add_request_pane_#{aspect.id}"}
              = render "requests/new_request", :aspect => aspect, :manage => true


