-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = include_javascripts :aspects

- content_for :page_title do
  = t('.manage_aspects')

#section_header
  .right
    = link_to("+ #{t('.add_a_new_aspect')}", "#add_aspect_pane", :class => "new_aspect button", :title => t('.add_a_new_aspect'), :rel => 'facebox')

  %h2
    =t('.manage_aspects')

#manage_aspect_zones
  .span-4.append-1.last
    .requests
      %h3=t('.requests')

      %ul.dropzone
        - if @remote_requests.size < 1
          %li=t('.no_requests')
        - else
          - for req in @remote_requests
            %li.person.request{:data=>{:guid=> req.id, :person_id=> req.sender.id}}
              .delete
                .x
                  X
                .circle
              = link_to person_image_tag(req.sender), req.sender 

      - if @remote_requests.size > 0
        %p
          %i= "#{t('.drag_to_add')} =>"

      = render 'shared/invitations', :invites => @invites

    %div{:style=>"color:rgb(252,252,252);"}
      \.

  .span-19.last
    - for aspect in @aspects
      .aspect.span-9{:data=>{:guid => aspect.id}}
        .aspect_name
          %span.edit_name_field
            %h3{:contenteditable=>true, :ondragenter=>"return false;", :ondragleave=>"return false;", :ondragover=>"return false;", :ondrop=>"return false;"}
              = aspect.name
            %span.tip click to edit

          %ul.tools
            %li= link_to t('.add_a_new_contact'), "#manage_aspect_contacts_pane_#{aspect.id}", :class => 'manage_aspect_contacts_button', :rel => "facebox"
            %li!= remove_link(aspect)

        %ul.dropzone{:data => {:aspect_id => aspect.id}}
          -for contact in aspect.contacts
            %li.person{:data => {:guid => contact.person.id, :aspect_id => aspect.id}}
              .delete
                .x
                  X
                .circle
              = link_to person_image_tag(contact.person), contact.person
          .draggable_info
            =t('.drag_to_add')

          .facebox_content
            %div{:id => "manage_aspect_contacts_pane_#{ aspect.id}"}
              = render "requests/manage_aspect_contacts", :aspect => aspect, :manage => true, :contacts => @contacts

