-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

-# TODO: remove Blueprint classes when everything is ported to Bootstrap

.span6.span-12.last
  #facebox_header
    %h3
      = t('contacts.index.add_a_new_aspect')

  = form_for(Aspect.new, :remote => @remote) do |aspect|
    = aspect.error_messages
    - if @person_id
      = aspect.hidden_field :person_id, :value => @person_id
    %p
      = aspect.label :name , t('.name')
      = aspect.text_field :name, :maxlength => 20

    %p.checkbox_select
      = aspect.check_box :contacts_visible, :checked => false, class: 'checkbox'
      = aspect.label :contacts_visible, t('aspects.edit.make_aspect_list_visible')

    %p.checkbox_select
      = aspect.check_box :chat_enabled, :checked => false, class: 'checkbox'
      = aspect.label :chat_enabled, t('aspects.edit.grant_contacts_chat_privilege')

    %br

    .bottom_submit_section
      = submit_tag t('cancel'), :class => 'button btn', :type => :reset, :rel => "close"
      = aspect.submit t('.create'), :class => 'button btn creation'
