-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.


- content_for :page_title do
  = link_to "photos", albums_path(:aspect => @aspect)

- content_for :left_pane do
  = render "shared/aspect_friends"

- content_for :publish do
  - if @logged_in
    = render "shared/publisher", :aspect_ids => :public
  - else 
    = render "shared/publisher", :aspect_ids => :all

%ul#stream
  - for post in @posts
    = render type_partial(post), :post => post unless post.class == Album
  - if @logged_in
    - MiniFB.get(@access_token, 'me', :type => "feed").each do |item|
      - if item['type'] == 'status'
        = render "fb_status", :post => FbStatus.from_api()

#pagination
  = will_paginate @posts

