-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :left_pane do
  = render "shared/aspect_friends"

= render 'aspects/empty_messages'

= render "shared/publisher"
%ul#stream
  - for post in @posts
    = render type_partial(post), :post => post unless post.class == Album

#pagination
  = will_paginate @posts

