-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.span-24.last
  %h2{:style=>"position:relative;margin-bottom:0;"}
    = @aspect

  %span.aspect_contact_count{:style=>"color:#999;font-size:14px;"}
    = t('contacts', :count=>@aspect_contacts.count)
    = link_to t('.edit_aspect'), "#", :id => "edit_aspect_trigger"

.span-8.append-1
  = render 'shared/aspect_contacts', :contacts => @aspect_contacts, :aspect => @aspect

.span-15.last
  = render 'shared/publisher', :aspect => @aspect
  = render 'aspects/no_contacts_message', :aspect => @aspect, :contact_count => @aspect_contacts.count, :options => false
  = render 'aspects/no_posts_message', :post_count => @posts.count, :contact_count=> @aspect_contacts.count

  = render 'shared/stream', :posts => @posts

  #pagination
    = will_paginate @posts

