-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = @aspect.name.html_safe

.span-24.last
  %h2{:style=>"position:relative;margin-bottom:0;"}
    = @aspect

  %span.aspect_contact_count{:style=>"color:#999;font-size:14px;"}
    = t('contacts', :count=>@aspect_contacts_count)
    = link_to t('.edit_aspect'), "#", :id => "edit_aspect_trigger"

.span-8.append-1
  = render 'aspects/aspect_contacts', :contacts => @aspect_contacts, :aspect => @aspect
  = render 'aspects/edit_aspect_pane', :contacts => @all_contacts, :aspect => @aspect


.span-15.last
  = render 'shared/publisher', :aspect => @aspect
  = render 'aspects/no_contacts_message', :aspect => @aspect, :contact_count => @aspect_contacts_count, :options => false
  = render 'aspects/no_posts_message', :post_count => @post_count, :contact_count=> @aspect_contacts_count

  %ul{:class => 'stream', :id => 'main_stream'}
    = render 'shared/stream', :posts => @post_hashes
  =will_paginate @posts
