-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = "everything happening from #{@app}"

- content_for :head do
  = javascript_include_tag :home

- content_for :body_class do
  = "apps_show"

- content_for :break_the_mold do
  = "width:100%;"

%h1
  = "#{@app}"

#main_stream.stream.canvas
  - if @posts.length > 0
    - for post in @posts
      .image-element.stream_element
        .hold-me
          = link_to(image_tag(post.image_url), post_path(post))
          .via
            = post.author.name
          .time{:integer => post.created_at.to_i}
    #pagination
      =link_to(t('more'), next_page_path, :class => 'paginate')

