= form_for photo, :html => {:multipart => true} do |f|
  = f.error_messages

  = f.hidden_field :album_id, :value => album.id

  %p
    = f.file_field :image
    = f.submit 'post it!', :class => 'button'
