:javascript
  $(function() {
    $("#photo_image").html5_upload({
      // WE INSERT ALBUM_ID PARAM HERE
      url: "/photos?album_id=#{album.id}",   
      sendBoundary: window.FormData || $.browser.mozilla,
      onStart: function(event, total) {
        return confirm("You are trying to upload " + total + " files. Are you sure?");
      },
      setName: function(text) {
          $("#progress_report_name").text(text);
      },
      setStatus: function(text) {
        $("#progress_report_status").text(text);
      },
      setProgress: function(val) {
        $("#progress_report_bar").css('width', Math.ceil(val*100)+"%");
      },
      onFinishOne: function(event, response, name, number, total) {
        //alert(response);
      }
    });
  });




= form_for photo, :html => {:multipart => true} do |f|
  = f.error_messages

  = f.hidden_field :album_id, :value => album.id

  %p
    = f.file_field :image, :multiple => 'multiple'

    #progress_report
      #progress_report_name
      #progress_report_status{ :style => "font-style: italic;" }
      #progress_report_bar_container{ :style => "width: 90%; height: 5px;" }
        #progress_report_bar{ :style => "background-color: blue; width: 0; height: 100%;" }

    /= f.submit 'post it!', :class => 'button'
