%h1
  %span{:id=>"photo_title_status"}
    Add photos to
    %i= @album.name
= form_for @photo, :html => {:multipart => true} do |f|
  = f.error_messages
  = f.hidden_field :album_id, :value => @album.id
  = f.file_field :image, :multiple => 'multiple'

#progress_report{ :style => "display:none;text-align:center;" }
  = image_tag "ajax-loader.gif"
  #progress_report_name
  #progress_report_status
