/    Copyright 2010 Diaspora Inc.
/
/    This file is part of Diaspora.
/
/    Diaspora is free software: you can redistribute it and/or modify
/    it under the terms of the GNU Affero General Public License as published by
/    the Free Software Foundation, either version 3 of the License, or
/    (at your option) any later version.
/
/    Diaspora is distributed in the hope that it will be useful,
/    but WITHOUT ANY WARRANTY; without even the implied warranty of
/    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/    GNU Affero General Public License for more details.
/
/    You should have received a copy of the GNU Affero General Public License
/    along with Diaspora.  If not, see <http://www.gnu.org/licenses/>.
/


%h1.big_text
  .back
    = link_to "⇧ #{@album.name}", album_path(@album)
  = "Editing #{@photo.image}"

%div{:id => @photo.id}

  #show_photo
    = linked_scaled_photo @photo, @album

  = form_for @photo do |p|
    = p.text_field :caption, :value => @photo.caption
    = p.submit

  #content_bottom
    .back
      = link_to "⇧ #{@album.name}", album_path(@album)
    -if current_user.owns? @album
      .button.right
        = link_to 'Delete Photo', @photo, :confirm => 'Are you sure?', :method => :delete

