-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:javascript
  $(document).ready(function(){
    $(".image_thumb img").load( function() {
      $(this).fadeIn("slow");
    });
  });


.span-24.last{:style=>"position:relative;"}
  = render 'shared/author_info', :person => @person
  %ul#breadcrumb
    %li= link_to "#{@person.profile.first_name}'s Photos", person_photos_path(@person)

.span-24.last
  #thumbnails
    - for photo in @photos
      .image_thumb
        = link_to (image_tag photo.url(:thumb_medium)), photo_path(photo)

.span-24.last
  %h3
    Photos
  %div
    - for album in @albums
      = render "albums/album", :post => album
    = link_to "uploads", album_path("uploads")

.span-24.last
  %h3
    Albums

.span-24.last
  #add_photo_pane
    = render "photos/new_photo", :album_id => nil, :aspect_id => :all

