-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- title t('.new_photo')

= form_for( @photo, :html => {:multipart => true}) do |f|
  = f.error_messages
  %p
    = f.file_field :image
    = f.submit t('.post_it'), :class => 'button'

%p= link_to t('.back_to_list'), photos_path
