-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.


- title "New Photo"

= form_for( @photo, :html => {:multipart => true}) do |f|
  = f.error_messages
  %p
    = f.file_field :image
    = f.submit 'post it!', :class => 'button'

%p= link_to "Back to List", photos_path
