%h1.big_text
  .back
    = link_to "⇧ #{@album.name}", album_path(@album)
  = @photo.image

  .button.right
    = link_to 'edit', '#'

%div{:id => @photo.id}
  = link_to "full size", @photo.image.url

  #show_photo
    = link_to_prev @photo, @album
    = linked_scaled_photo @photo, @album
    = link_to_next @photo, @album

  -if mine?(@photo)
    %p
      = link_to "Destroy", @photo, :confirm => 'Are you sure?', :method => :delete
  %p
    = link_to "⇧ #{@album.name}", album_path(@album)

  %h4{:class => "show_post_comments"}
    = "comments (#{@photo.comments.count})"
  = render "comments/comments", :post => @photo
    
