%h3
  viewing photos from album 
  = link_to @album.name, album_path(@album)

%div{:id => @photo.id}

  = link_to "full size", @photo.image.url

  #show_photo
    = linked_scaled_photo @photo, @album

  #photo_pagination
    %center
      = link_to_prev @photo, @album
      |
      = link_to_next @photo, @album

  -if mine?(@photo)
    %p
      = link_to "Destroy", @photo, :confirm => 'Are you sure?', :method => :delete

  %p
    = link_to "<< back to album", album_path(@album)

  %h4{:class => "show_post_comments"}
    = "comments (#{@photo.comments.count})"
  = render "comments/comments", :post => @photo
    
