-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:css
  footer{display: none;}

.photos
  .photo
    = image_tag photo.url(:scaled_full)
  .stream-element.photo_mobile
    .content
      .from.media
        .media-left
          = person_image_link(photo.author, class: "media-object", size: :thumb_small)
        .media-body
          = person_link(photo.author)
          .info
            %span
              - if photo.status_message
                = link_to(post_path(photo.status_message)) do
                  = timeago(photo.created_at)
              - else
                = timeago(photo.created_at)

-if additional_photos && additional_photos.length > 1
  .photo-controls
    - if previous_photo != additional_photos.last
      = link_to(content_tag(:i, nil, id: "arrow-left", class: "entypo-chevron-left"),
                person_photo_path(previous_photo.author, previous_photo),
                rel:   "prefetch",
                class: "arrow left")
    - if next_photo == additional_photos[additional_photos.index(photo)+1]
      = link_to(content_tag(:i, nil, id: "arrow-right", class: "entypo-chevron-right"),
                person_photo_path(next_photo.author, next_photo),
                rel: "prefetch",
                class: "arrow right")
