-#   Copyright (c) 2010, Disapora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.


:javascript
  $(document).keydown(function(e){
    switch(e.keyCode) {
    case 37:
      window.location.replace( "#{url_to_prev(@photo,@album)}" );
      break;
    case 39:
      window.location.replace( "#{url_to_next(@photo,@album)}" );
      break;
    }
  });

= content_for :page_title do
  = link_to "◂ #{@photo.album.name}", @photo.album

- content_for :left_pane do
  = render "shared/aspect_friends"

- content_for :publish do
  %h1
    = @photo.image

  = link_to "<< prev", url_to_prev(@photo, @album)
  |
  = link_to "full size", @photo.url
  |
  = link_to "next >>", url_to_next(@photo, @album)

  .right
    -if current_user.owns? @album
      = link_to 'Edit Photo', edit_photo_path(@photo), :class => "button"


%div{:id => @photo.id}
  #show_photo
    = linked_scaled_photo @photo, @album
    .caption
      = @photo.caption

  #content_bottom
    .back
      = link_to "⇧ #{@album.name}", album_path(@album)

    -if current_user.owns? @album
      .right
        = link_to 'Delete Photo', @photo, :confirm => 'Are you sure?', :method => :delete, :class => 'button'

  %h4{:class => "show_post_comments"}
    = "comments (#{@photo.comments.count})"
  = render "comments/comments", :post => @photo
    
