- title "Photo"

#show_photo
  = image_tag @photo.image.url

%h4= "comments (#{@photo.comments.count})"
= render "comments/comments", :post => @photo
  
%p
  = link_to "Destroy", @photo, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", photos_path
