/    Copyright 2010 Diaspora Inc.
/
/    This file is part of Diaspora.
/
/    Diaspora is free software: you can redistribute it and/or modify
/    it under the terms of the GNU Affero General Public License as published by
/    the Free Software Foundation, either version 3 of the License, or
/    (at your option) any later version.
/
/    Diaspora is distributed in the hope that it will be useful,
/    but WITHOUT ANY WARRANTY; without even the implied warranty of
/    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/    GNU Affero General Public License for more details.
/
/    You should have received a copy of the GNU Affero General Public License
/    along with Diaspora.  If not, see <http://www.gnu.org/licenses/>.
/


:javascript
  $(document).keydown(function(e){
    switch(e.keyCode) {
    case 37:
      window.location.replace( "#{url_to_prev(@photo,@album)}" );
      break;
    case 39:
      window.location.replace( "#{url_to_next(@photo,@album)}" );
      break;
    }
  });

= content_for :page_title do
  = link_to "Photo", @photo

- content_for :left_pane do
  = render "shared/aspect_friends"


%h1.big_text
  = @photo.image

  .right
    = link_to 'Edit Photo', edit_photo_path(@photo), :class => "button"

.sub_header
  = link_to "<< prev", url_to_prev(@photo, @album)
  |
  = link_to "full size", @photo.url
  |
  = link_to "next >>", url_to_next(@photo, @album)

%div{:id => @photo.id}
  #show_photo
    = linked_scaled_photo @photo, @album
    .caption
      = @photo.caption

  #content_bottom
    .back
      = link_to "⇧ #{@album.name}", album_path(@album)

    -if current_user.owns? @album
      .right
        = link_to 'Delete Photo', @photo, :confirm => 'Are you sure?', :method => :delete, :class => 'button'

  %h4{:class => "show_post_comments"}
    = "comments (#{@photo.comments.count})"
  = render "comments/comments", :post => @photo
    
