= form_for @friend_request do |f|
  = f.error_messages

  
  = f.fields_for :recipient do |r|
    %p
      = r.label :email
      = r.text_field :email
    %p
      = r.label :url
      = r.text_field :url
  %p
    = f.submit
