.article
  %h2= page.title
  .meta
    - author = (page.respond_to?(:author) && page.author) ? 'by: ' + page.author + ' |' : ''
    #{author} posted: #{page.date.strftime("%B #{page.date.day.ordinalize}, %Y")}
    = (page.respond_to?(:updated) && page.updated) ? " | updated: #{page.updated}" : ''
  = preserve rp(content)
  #disqus_thread= include "disqus_thread.haml" if page.respond_to?(:disqus_short_name) && page.disqus_short_name
