-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = javascript_include_tag :photos

#author_info
  = person_image_link(post.author)
  .from
    %h2
      = post.author_name

#show_photo{:data=>{:guid=>post.id}}
  = image_tag post.url(:scaled_full)

  #caption
    = post.text

%br
= link_to t('photos.show.show_original_post'), post_path(post.status_message)
