-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :page_title do
  - if params[:tag]
    = "##{params[:tag]}"

  - else
    = t('.whatup', :pod => @pod_url)

- content_for :head do
  = include_javascripts :home

.span-24.last
  %h1.tag
    = "##{params[:tag]}"

.span-15
  #main_stream.stream
    - if @fakes.length > 0
      = render 'shared/stream', :posts => @fakes
      %a.paginate
        = t("more")
    - else
      = t('.nobody_talking', :tag => "##{params[:tag]}")
  = will_paginate @posts

.prepend-2.span-7.last
  %h3
    = t('people', :count => @people_count)

  .side_stream.stream
    - for person in @people
      .stream_element{:id => person.id}
        = person_image_link(person)
        .content
          %span.from
            =person_link(person)
          .info
            = person.profile.format_tags(person.profile.tag_string)

    - if @people_count > 15
      \...
