-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = include_javascripts :photos

#author_info
  = person_image_link(@person)
  .from
    %h2
      = @person.name
.span-14.append-1.last
  #show_photo{:data=>{:guid=>@post.id}}
    = image_tag @post.url(:scaled_full)

    #caption
      = @post.text

  %br

.span-9.last
  - if @post.status_message_id
    #original_post_info
      %h4{:style=>"position:relative;"}
        = t('photos.show.original_post')
        = link_to t('photos.show.view'), post_path(@post.status_message)

      %p
        = @post.status_message.text

      %p
        - for photo in @post.status_message.photos
          = link_to (image_tag photo.url(:thumb_small)), post_path(photo)
      %p
        = link_to t('photos.show.permalink'), post_path(@post)
