-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = post_page_title @post

#post-author-header
  = person_image_tag @post.author
  = @post.author.name

#post-content

= link_to image_tag('arrow-left.png'), post_path(@post.id-1), :class => 'nav-arrow left'
= link_to image_tag('arrow-right.png'), post_path(@post.id+1), :class => 'nav-arrow right'
