.user_card
  = person_image_link(person, :size => :thumb_large)
  %h4
    = person.name

  .tags
    - person.tags.each do |tag|
      = link_to "##{tag}", tag_path(:name => tag.name)

  .add_user_to_aspect
    = render :partial => 'people/relationship_action',
             :locals => { :person => person, :contact => current_user.contact_for(person),
                          :current_user => current_user }
