%p
  - if @invs.count == 1
    = t('.has_invited_you', :name => @invs.first.sender.name + " (#{@invs.first.sender.diaspora_handle})")
  - else
    = t('.have_invited_you', :names => (@invs.map{|inv| inv.sender.name + " (#{inv.sender.diaspora_handle})"}.join(",")))
  = t('.accept_at', :url => root_url)
- @invs.each do |inv|
  - unless inv.message.blank?
    = "#{inv.sender.name}:"
    = "\"#{inv.message}\""
    %p
