!!!
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = render :partial => 'notifier/notifier_css'
  %body
    %header
      = image_tag('branding/white.png')
    #container
      %p
        = t('devise.mailer.welcome', :email => @resource.email)
      %p= t('.you_can_confirm')
      %p= link_to t('.confirm'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), :class => "large_text"
