!!!
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = render :partial => 'notifier/notifier_css'
  %body
    %header
      = image_tag '/images/diaspora_white.png'
    #container
      - @invs = @resource.invitations_to_me
      %p
        = t('devise.mailer.welcome', :email => @resource.email)
      %p
        - if @invs.count == 1
          = t('.has_invited_you', :name => @invs.first.real_name + " (#{@invs.first.diaspora_handle})")
        - else
          = t('.have_invited_you', :names => (@invs.map{|inv| inv.from.real_name + " (#{inv.from.diaspora_handle})"}.join(",")))
        = t('.accept_at', :url => root_url)
      - @invs.each do |inv|
        - if inv.message
          = "#{inv.from.real_name}:"
          = "\"#{inv.message}\""
          %p
      %p= link_to t('.accept'), accept_invitation_url(@resource, :invitation_token => @resource.invitation_token), :class => "large_text"
      %p.small
        = t('.ignore')
        %br/
        = t('.no_account_till')
