!!!
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = render :partial => 'notifier/notifier_css'
  %body
    %header
      = image_tag('branding/white.png')
    #container
      %p
        = t('devise.mailer.hello', :email => @resource.email)
      %p= t('.someone_requested')
      %p= link_to t('.change'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), :class => "large_text"
      %p= t('.wont_change')
      %p.small= t('.ignore')
