%p
  = t("devise.mailer.hello", username: @resource.username)
%p
  = t(".someone_requested")
%p
  = link_to t(".change"), edit_password_url(@resource, reset_password_token: @token)
%p
  = t(".then_connect", username: @resource.username)
%p
  = t(".wont_change")
%p
  = t(".ignore")
