!!!
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = render :partial => 'notifier/notifier_css'
  %body
    %header
      = image_tag('diaspora_white.png')
    #container
      %p
        = t('devise.mailer.hello', :email => @resource.email)
      %p= t('.account_locked')
      %p= t('.click_to_unlock')
      %p= link_to t('.unlock'), unlock_url(@resource, :unlock_token => @resource.unlock_token), :class => "large_text"
