-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#section_header
  %h2
    = t('settings')
  = render 'shared/settings_nav'

.span-19.prepend-5.last
  %h2
    = t('_applications')


#applications_stream.stream
  - for app in @applications

    .stream_element{:id => app.id}
      .right
        = link_to t('delete'), authorization_path(:id => app.id), :method => :delete, :confirm => 'are you sure?'
      
      - if app.icon_url
        = image_tag app.icon_url

      .content
        %span.from
          = link_to app.name, app.homepage_url

        .info
          = app.description

