-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#section_header
  %h2
    = t('settings')
  = render 'shared/settings_nav'

.span-19.prepend-5.last
  #applications_stream.stream
    -if @applications.any?
      - @applications.each do |app|
        .stream_element{:id => app.id}

          .float-right
            = link_to t('.revoke_access'), authorization_path(:id => app.id), :method => :delete, :confirm => 'are you sure?', :class => "button"
          .media
            - if app.icon_url
              .img
                = image_tag(app.application_base_url + app.icon_url, :class => "avatar")
            .bd
              %div.from
                = link_to app.name, app.application_base_url
              = app.description
    - else
      = t('.no_applications')
