-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%h3
  = t('_applications')
#applications_stream.stream
  - if @applications.count > 0
    - for app in @applications
      .stream_element{:id => app.id}
        .right
          = link_to t('.revoke_access'), authorization_path(:id => app.id), :method => :delete, :confirm => 'are you sure?', :class => "button"

        - if app.icon_url
          = image_tag(app.application_base_url + app.icon_url, :class => "avatar")

        .content
          %div.from
            = link_to app.name, app.application_base_url
          = app.description

  - else
    = t('.no_applications')
%br
