#authorize
  #application-description
    = image_tag(@client.application_base_url + @client.icon_url, :id => 'client-application-image')
    %br
    %strong
      = @client.name
    .description
      = @client.description

  %h2
    = @client.permissions_overview

  %ul#requested-scopes
    - @requested_scopes.each do |scope|
      - if scope == "profile"
        %li
          .scope-photo
            = owner_image_tag

          .scope-description
            %strong
              Basic Info
            %br
            Cubbies will be able to see your name, profile photo, and other basic profile information.

      - elsif scope == "AS_photo:post"
        %li
          .scope-photo
            = image_tag('/images/icons/photo.png', :title => "Cubbies will be able to post photos on your behalf")

          .scope-description
            %strong
              Your Photos
            %br
            Cubbies will be able to post photos on your behalf

  = form_for :authorization,
    :url => oauth_authorize_path(params.slice(:redirect_uri, :client_id, :client_secret)) do |form|
    %br
    %p
      = form.submit "Fuck Yeah!", :value => "Authorize", :class => 'button'
      = form.submit "Hell No.", :value => "No", :class => 'button'

