{{#if resharesCount}}
  <div id='reshares'>
    <span class="count">
      <i class='entypo retweet middle gray'></i>
      <span>{{resharesCount}}</span>
    </span>
    <span>
      {{#each reshares}}
        {{#linkToPerson author}}
          {{{personImage this 'small' 'micro'}}}
        {{/linkToPerson}}
      {{/each}}
    </span>
  </div>
{{/if}}
{{#if likesCount}}
  <div id='likes'>
    <span class="count">
      <i class='entypo heart middle gray'></i>
      <span>{{likesCount}}</span>
    </span>
    <span>
      {{#each likes}}
        {{#linkToPerson author}}
          {{{personImage this 'small' 'micro'}}}
        {{/linkToPerson}}
      {{/each}}
    </span>
  </div>
{{/if}}
{{#if commentsCount}}
  <div id='comments-meta'>
    <span class='count'>
      <i class='entypo comment middle gray'></i>
      <span>{{commentsCount}}</span>
    </span>
  </div>
{{else}}
  <div class='no_comments'>
    <h4>{{t "comments.no_comments" }}</h4>
  </div>
{{/if}}
<div id='comments'>
</div>
