<div class='pull-right'>
    <a href="#" rel="auth-required" class="like" title="{{#if userLike}} {{t "viewer.unlike"}} {{else}} {{t "viewer.like"}} {{/if}}">
        {{#if userLike}}
            <i class="entypo heart red large"></i>
        {{else}}
            <i class="entypo heart gray large"></i>
        {{/if}}
    </a>

    <a href="#" rel="auth-required" class="focus-comment" title="{{t "viewer.comment"}}">
      <i class="entypo comment gray large"></i>
    </a>

    {{#if userCanReshare}}
        <a href="#" rel="auth-required" class="reshare" title="{{t "viewer.reshare"}}">
          <i class="entypo retweet gray large"></i>
        </a>
    {{else}}
        {{#if userReshare}}
            <a href="#" rel="auth-required" class="reshare-viewonly" title="{{t "viewer.reshared"}}">
              <i class="entypo retweet blue large"></i>
            </a>
        {{/if}}
    {{/if}}

    <a href="#" rel="auth-required" data-type="post" class="post_report" title="{{t "report.name"}}">
      <i class="entypo gray large">&#x21;</i>
    </a>
  </div>
</div>
