<div class='pull-right'>
  <div class="post-time">
    <time datetime="{{created_at}}" />
  </div>
  <div class='pull-right'>
    <a href="#" rel="auth-required" class="like" title="{{#if userLike}} {{t "viewer.unlike"}} {{else}} {{t "viewer.like"}} {{/if}}">
        {{#if userLike}}
            <i class="entypo heart red large"></i>
        {{else}}
            <i class="entypo heart gray large"></i>
        {{/if}}
    </a>

    {{#if userCanReshare}}
        <a href="#" rel="auth-required" class="reshare" title="{{#if userReshare}} {{t "viewer.reshared"}} {{else}} {{t "viewer.reshare"}} {{/if}}">
            {{#if userReshare}}
                <i class="entypo retweet blue large"></i>
            {{else}}
                <i class="entypo retweet gray large"></i>
            {{/if}}
        </a>
    {{/if}}

    <a href="#" rel="auth-required" class="focus-comment" title="{{t "viewer.comment"}}">
      <i class="entypo comment gray large"></i>
    </a>
  </div>
</div>
