%li.message{:id => post.id}

  = image_tag post.author.avatar_thumbnail, :class => "person_picture" if !post.author.author.avatar_thumnail.nil?

  %span.from
    = link_to post.author.username, author_path(post.author)
    = auto_link post.message
    
  %div.time
    = link_to(how_long_ago(post), object_path(post))
    from
    = link_to post.author.service, post.author.profile_url
