- if @user_apps.applications?
  %ul.list-group
    - @user_apps.user_applications.each do |app|
      %li.list-group-item
        .application-img
          = image_tag app[:image], class: "img-responsive"
        .application-authorizations
          - if app[:authorizations].count > 0
            %h4="#{app[:name]} #{t("user_applications.index.access")}"
            %ul
              - app[:authorizations].each do |authorization|
                %li
                  %b= t("user_applications.scopes.#{authorization}.name")
                  %p= t("user_applications.scopes.#{authorization}.description")
          - else
            .well
              =t("user_applications.show.no_requirement")
        = form_for "application", url: "#{api_openid_connect_authorizations_path}/#{app[:id]}",
            html: { method: :delete, class: "form-horizontal"} do |f|
          .clearfix= f.submit t("user_applications.revoke_autorization"), class: "btn btn-primary pull-right"

- else
  .well
    %h4
      = t("user_applications.no_applications")
