.span-24
  = render :partial => 'admins/admin_bar'

.span-24.last
  %h1
    = t('post_reporter.title')
  %div#post_reporter
    - @post_reporter.each do |report|
      %div.content
        %span
          = raw t('post_reporter.post_label', title: link_to(post_page_title(Post.find_by_id(report.post_id)), post_path(report.post_id)))
        %span
          = raw t('post_reporter.reported_label', person: link_to(report.user_id, user_profile_path(report.user_id)))
        %span
          = t('post_reporter.reason_label', text: report.text)
      %div.options
        %span
          = link_to t('post_reporter.review_link'), post_reporter_path(report.post_id), method: :put
        %span
          = link_to t('post_reporter.delete_link'), post_reporter_path(report.post_id), method: :delete
      %div.clear
