---
layout: nil
address: http://yoursite.com
email: author@domain.com
name: Your Name
blog_title: My Blog
---
<?xml version="1.0" encoding="utf-8"?>
%feed(xmlns="http://www.w3.org/2005/Atom")
  %title= "#{page.name} - #{page.blog_title}"
  %link(href="#{page.address}/atom.xml" rel="self")
  %link(href="#{page.address}")
  %updated= Time.now.xmlschema
  %id=page.address
  %author
    %name= page.name
    %email= page.email
  - site.posts[0..14].each do |post|
    %entry
      %title= rp(post.title)
      %link(href="#{full_url(post.url)}")
      %updated=post.date.xmlschema
      %id= full_url(post.id)
      %content(type="html")
        = h(absolute_url(rp(post.content)))