<div class="btn-group aspects_dropdown check-group">
    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="text"></span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <form class="necessaryForJS">
        <li>
            <input id="aspect_ids_public" type="checkbox" name="Public" class="aspect_ids public" value="public" {{#if public}}checked="checked"{{/if}}/>
            <label for="aspect_ids_public"><i class='icon-ok'/><span>Public</span></label></li>
        <li>
            <input id="aspect_ids_all_aspects" type="checkbox" name="All Aspects" class="aspect_ids all_aspects" value="all_aspects" {{#if all-aspects}}checked="checked"{{/if}}/>
            <label for="aspect_ids_all_aspects"><i class='icon-ok'/><span>All Aspects</span></label></li>
        </li>

        <li class="divider"></li>
        {{#each aspects}}
            <li>
                <input id="aspect_ids_{{id}}" type="checkbox" name="{{name}}" class="aspect_ids" value="{{id}}" {{#if checked}}checked="checked"{{/if}}/>
                <label for="aspect_ids_{{id}}"><i class='icon-ok'/><span>{{name}}</span></label>
            </li>
        {{/each}}
        </form>
    </ul>
</div>

<input type="hidden" class="aspect_ids"/>

