<div class="edit">
  <a href="/aspects/{{id}}/edit" rel="facebox">
    <img alt="Pencil" src="{{imageUrl "icons/pencil.png"}}" title="{{t 'edit'}} {{name}}">
  </a>
</div>
<a class="aspect_selector name" data-guid="{{id}}" href="/aspects/query"> {{name}} </a>
