<div class="img">
  {{#linkToPerson author}}
    {{{personImage this "small" "small"}}}
  {{/linkToPerson}}
</div>

<div class="bd">
  {{#if canRemove}}
    <div class="controls">
      <a href="#" class="delete comment_delete" title="{{t "delete"}}">
        <div alt="Deletelabel" class="icons-deletelabel" />
      <a/>
    </div>
  {{/if}}

  <a href="/people/{{author.guid}}" class="author author-name {{hovercardable this}}">
    {{author.name}}
  </a>

  <div class="collapsible comment-content">
    {{{text}}}
  </div>

  <div class="info">
    <time class="timeago" data-original-title="{{{localTime created_at}}}" datetime="{{created_at}}"/>
  </div>
</div>
