{{#unless all_comments_loaded}}
  <div class="show_comments comment {{#unless showExpandCommentsLink}} hidden {{/unless}}">
    <div class="media">
      <a href="/posts/{{id}}#comments" class="toggle_post_comments">
        {{t "stream.more_comments" count=moreCommentsCount}}
      </a>
    </div>
  </div>
{{/unless}}

<div class="comments"> </div>

{{#if loggedIn}}
  <div class="comment no-border media new_comment_form_wrapper {{#unless commentsCount}} hidden {{/unless}}">
    {{#with current_user}}
      <a href="/people/{{guid}}" class="img">
        {{{personImage this}}}
      </a>
    {{/with}}

    <div class="bd">
      <form accept-charset="UTF-8" action="/posts/{{id}}/comments" class="new_comment" id="new_comment_on_{{id}}" method="post">
        <textarea class="comment_box" id="comment_text_on_{{id}}" name="text" rows="2" placeholder="{{t "stream.comment"}}" />
        <div class="submit_button">
          <input class="button creation" id="comment_submit_{{id}}" name="commit" type="submit" value="{{t "stream.comment"}}" />
        </div>
      </form>
    </div>
  </div>
{{/if}}
