<h1>diaspora* FAQ</h1>
<br>
<div class='question opened'>
  <h4>{{ getting_started_q }}</h4>
  <div class='answer'>
    {{ getting_started_a1 }} <a href="{{ getting_started_url }}" target="_blank">{{ getting_started_link }}</a> {{ getting_started_a2 }}
    </div>
</div>
<div class='question opened'>
  <h4>{{ get_support_q }}</h4>
  <div class='answer'>
    <ul>
      <li>{{ get_support_a_website }} <a href="{{ get_support_a_website_url }}" target="_blank">{{ get_support_a_website_link }}</a></li>
      <li>{{ get_support_a_tutorials }} <a href="{{ get_support_a_tutorials_url }}" target="_blank">{{ get_support_a_tutorials_link }}</a></li>
      <li>{{ get_support_a_wiki }} <a href="{{ get_support_a_wiki_url }}" target="_blank">{{ get_support_a_wiki_link }}</a></li>
      <li>{{ get_support_a_irc_a }} <a href="{{ get_support_a_irc_url }}" target="_blank">{{ get_support_a_irc_link }}</a> {{ get_support_a_irc_b }} </li>
      <li>{{ get_support_a_hashtag_a }} <a href="{{ get_support_a_hashtag_url }}">{{ get_support_a_hashtag_link }}</a> {{ get_support_a_hashtag_b }}</li>
    </ul>
  </div>
</div>