<span class="post_scope gray">
  {{#if public}}
    {{t "stream.public"}}
  {{else}}
    {{t "stream.limited"}}
  {{/if}}

  {{#if provider_display_name}}
    <strong>
      {{t "stream.via" provider=provider_display_name}}
    </strong>
  {{/if}}
  –
</span>


{{#if preview}}
  <span>{{t "stream.like"}}</span>
{{else}}
  <a href="#" class="like" rel='nofollow'>
    {{~#if userLike~}}
      {{~t "stream.unlike"~}}
    {{~else~}}
      {{~t "stream.like"~}}
    {{~/if~}}
  </a>
{{/if}}
·
{{#if preview}}
  <span>{{t "stream.reshare"}}</span>
  ·
{{else if userCanReshare}}
  <a href="#" class="reshare" rel='nofollow'>{{t "stream.reshare"}}</a>
  ·
{{/if}}

{{#if preview}}
  <span>{{t "stream.comment"}}</span>
{{else}}
  <a href="#" class="focus_comment_textarea" rel="nofollow">{{t "stream.comment"}}</a>
{{/if}}
