<div class="preview offset1"> </div>

<div class='template-picker'>
    {{#each templates}}
        <input id='frame_name_{{name}}' name="frame_name" type="radio" class="mood" value={{name}} {{#if checked}}checked=checked{{/if}} />
        <label for='frame_name_{{name}}'>
            <img src="/assets/buttons/templates/{{name}}@2x.png" />
            <div class="template-name">
                {{name}}
            </div>
        </label>
        <br />
    {{/each}}
</div>
