<div class="container" style="position:relative;">

  <a href="/stream">
    <div alt="Logo_small" class="diaspora_header_logo branding-header-logo">
    </div>
  </a>

  <span class="header-nav">
    <span>
        <a href="/stream">
          {{t "my_stream"}}
        </a>
    </span>

    <span>
        <a href="/activity">
          {{t "my_activity"}}
        </a>
     </span>
  </span>

  <div id="nav_badges">
    <div class="badge badge-inverse" id="notification_badge">
      <div class="icons-notifications_grey" >
        <a href="/notifications" title="{{t "header.notifications"}}" class="badge_link" >
          <div class="badge_count {{#unless current_user.notifications_count}} hidden {{/unless}}">
            {{current_user.notifications_count}}
          </div>
        </a>
      </div>
    </div>

    <div class="badge badge-inverse" id="conversations_badge">
     <div class="icons-mail_grey" >
        <a href="/conversations" title="{{t "header.conversations"}}" class="badge_link" >
          <div class="badge_count {{#unless current_user.unread_messages_count}} hidden {{/unless}}">
            {{current_user.unread_messages_count}}
          </div>
        </a>
      </div>
    </div>


      <div id="notification_dropdown">
        <div class="header">
          <div class="pull-right">
            <a href="#" id="mark_all_read_link" class="{{#unless current_user.notifications_count}}disabled{{/unless}}">
              {{t "header.mark_all_as_read"}}
            </a>
          </div>

          <h4>
            {{t "header.recent_notifications"}}
          </h4>
        </div>

        <div class="notifications">
          <div class="ajax_loader">
            <img alt="Ajax-loader" src="{{imageUrl "ajax-loader.gif"}}">
          </div>
        </div>
        <div class="view_all">
          <a href="/notifications" id="view_all_notifications">
            {{t "header.view_all"}}
          </a>
        </div>
      </div>
  </div>

  <ul class="dropdown" id="user_menu">
    <li class="user-menu-trigger">
      <div class="user-menu-more-indicator">
        ▼
      </div>
      <img alt="{{current_user.name}}" class="user-menu-avatar" src="{{current_user.avatar.small}}" title="{{current_user.name}}" />
      <a class="user-name" href="#">{{current_user.name}}</a>
    </li>
    <li class="user-menu-item"><a href="/people/{{current_user.guid}}">{{t "header.profile"}}</a></li>
    <li class="user-menu-item"><a href="/contacts">{{t "header.contacts"}}</a></li>
    <li class="user-menu-item"><a href="/user/edit">{{t "header.settings"}}</a></li>
    <li class="user-menu-item"><a href="/help">{{t "header.help"}}</a></li>
    {{#if current_user.admin}}
      <li class="user-menu-item"><a href="/admins/user_search">{{t "header.admin"}}</a></li>
    {{/if}}
    <li class="user-menu-item"><a href="/users/sign_out" data-method="delete">{{t "header.log_out"}}</a></li>
  </ul>


  <div id="global_search">
    <form accept-charset="UTF-8" action="/search" class="search_form" method="get">
      <input name="utf8" type="hidden" value="✓">
      <input id="q" name="q" placeholder="{{t "header.search"}}" results="5" type="search" autocomplete="off" class="ac_input">
    </form>
  </div>

  <div id="lightbox">
    <div id="lightbox-content">
      <a href="#" id="lightbox-close-link">[x] {{t "header.close"}}</a>
      <img id="lightbox-image">
      <div id="lightbox-navigation">
        <div id="lightbox-scrollleft">«</div>
        <div id="lightbox-imageset"></div>
        <div id="lightbox-scrollright">»</div>
      </div>
    </div>
  </div>
  <div id="lightbox-backdrop"></div>

</div>
