{{#if likesCount}}
  <div class="comment">
    <div class="media">
      <i class="entypo heart"></i>

      <div class="bd">
        {{#unless likes_fetched}}
          <a href="#" class="expand_likes grey">
            {{t "stream.likes" count=likesCount}}
          </a>

        {{else}}

          {{#each likes}}
            {{#with author}}
              <a href="/people/{{guid}}" class="{{hovercardable this}}">
                <img src="{{avatar.small}}" class="avatar micro" title="{{name}}"/>
              </a>
            {{/with}}
          {{/each}}
        {{/unless}}
      </div>
    </div>
  </div>
{{/if}}
