<div class="media span4">
  <div class="bd">
    {{#if loggedIn}}
      <div class="control-icons">
        {{#if authorIsCurrentUser}}
          <a href="#" rel="nofollow" class="delete remove_post" title="{{t "delete"}}">
            <i class="entypo trash"></i>
          </a>
        {{else}}
          <a href="#" rel="nofollow" data-type="post" class="post_report" title="{{t "report.name"}}">
            <i class="entypo warning"></i>
          </a>
          <a href="#" rel="nofollow" class="block_user" title="{{t "ignore"}}">
            <i class="entypo block"></i>
          </a>
          <a href="#" rel="nofollow" class="delete hide_post" title="{{t "stream.hide"}}">
            <i class="entypo cross"></i>
          </a>
        {{/if}}
      </div>
    {{/if}}

    <div class="thumbnail">
      <a href="#" class="photo-link">
        <img src="{{sizes.large}}" class="photo big_photo" data-small-photo="{{sizes.small}}" data-full-photo="{{sizes.large}}" rel="lightbox">
      </a>
    </div>

</div>
