<div id="profile-header">
    <div class="profile-image-container" style="background-image : url('{{avatar.large}}')"></div>
    <h3>
        {{name}}
    </h3>
</div>

<!--<dl>-->
    <!--<dt>Location:</dt><dd>{{location}}</dd>-->
    <!--<dt>Bio:</dt><dd>{{bio}}</dd>-->
    <!--<dt>Birthday:</dt><dd>{{birthday}}</dd>-->
    <!--<dt>Gender:</dt><dd>{{gender}}</dd>-->
<!--</dl>-->