<div id="author_info">
  <div class="right">
    {{#if loggedIn}}
      {{#if is_own_profile}}
        {{!-- can't block myself, so don't check it here --}}
        <a href="{{urlTo 'edit_profile'}}" class="button creation">{{t 'people.edit_my_profile'}}</a>
      {{else}} {{#if is_blocked}}
        <a href="#" id="unblock_user_button" class="button">{{t 'people.stop_ignoring'}}</a>
      {{else}}
        <div class="placeholder aspect_membership_dropdown"></div>
      {{/if}}{{/if}}
    {{/if}}
  </div>

  <h2>{{name}}</h2>
  <span class="diaspora_handle">{{diaspora_id}}</span>

  <div class="description">
    {{#if loggedIn}}
      TODO
    {{/if}}
  </div>
</div>

<hr />
