<div id="edit-controls">
    editing...
</div>

<section id="profile_info">
    <h1>{{full_name}}</h1>
    <dl>
        <dt>Location:</dt><dd>{{location}}</dd>
        <dt>Bio:</dt><dd>{{bio}}</dd>
        <dt>Birthday:</dt><dd>{{birthday}}</dd>
        <dt>Gender:</dt><dd>{{gender}}</dd>
    </dl>
</section>

<a href="/posts/new">COMPOSE</a> |
<a href="#" id="edit-mode-toggle">EDIT</a>

<section id="canvas">

</section>

<div id=paginate><span class="loader hidden"/></div>
