<div class="content">

    <a href="#" class="fav">
        {{#if favorite}}
            NOT WORTHY
        {{else}}
            FAVE IT
        {{/ if}}
    </a>

    {{#if photos}}
        <div class="image-container">
            {{#each photos}}
                <img src="{{sizes.large}}" />
            {{/each}}
        </div>
    {{/if}}

    {{#if o_embed_cache.data}}
        <div class="embed-frame">
            {{{o_embed_cache.data.html}}}
        </div>
    {{/if}}


    <div class="text-content">
        {{{text}}}
    </div>
</div>

<div class="info">
    <i class="icon-heart"></i> {{likes_count}}
    <i class="icon-retweet"></i> {{reshares_count}}
    <i class="icon-comment"></i> {{comments_count}}
</div>
