<div class="nsfw-shield">
  <strong>
    #NSFW
  </strong>
  |
  <a href="#" class="show_nsfw_post">
    {{t "stream.show_nsfw_post"}}
  </a>
  |
  <a href="#" class="toggle_nsfw_state">
    {{t "stream.show_nsfw_posts"}}
  </a>
</div>

<div class="nsfw-off">
  <strong>
    #NSFW
  </strong>
  |
  <a href="#" class="toggle_nsfw_state">
      {{t "stream.hide_nsfw_posts"}}
  </a>
</div>

{{#if largePhoto}}
  <div class="photo_attachments nsfw-hidden">
    <a href="#" class="stream-photo-link">
      {{#with largePhoto}}
        <img src="{{sizes.large}}" class="stream-photo big_stream_photo" data-small-photo="{{sizes.small}}" data-full-photo="{{sizes.large}}" rel="lightbox">
      {{/with}}
    </a>

    {{#each smallPhotos}}
      <a href="#" class="stream-photo-link">
        <img src="{{sizes.small}}" class="stream-photo thumb_small" data-small-photo="{{sizes.small}}" data-full-photo="{{sizes.large}}" rel="lightbox">
      </a>
    {{/each}}
  </div>
{{/if}}

<div class="collapsible nsfw-hidden">
  <div class="markdown-content">
    {{#if text}}
      {{{text}}}
    {{else}}
      {{#unless largePhoto}}
        {{#if isReshare}}
          <div class="reshare">
            <p>
              {{t "stream.original_post_deleted"}}
            </p>
          </div>
        {{/if}}
      {{/unless}}
    {{/if}}
  </div>
  <div class="oembed"></div>
  <div class="opengraph"></div>
  <div class="poll"></div>
</div>
