{{#if largePhoto}}
  <div class="photo_attachments">
    <a href="#" class="stream-photo-link">
      {{#with largePhoto}}
        <img src="{{sizes.large}}" class="stream-photo big_stream_photo" data-small-photo="{{sizes.small}}" data-full-photo="{{sizes.large}}" rel="lightbox">
      {{/with}}
    </a>

    {{#each smallPhotos}}
      <a href="#" class="stream-photo-link">
        <img src="{{sizes.small}}" class="stream-photo thumb_small" data-small-photo="{{sizes.small}}" data-full-photo="{{sizes.large}}" rel="lightbox">
      </a>
    {{/each}}
  </div>
{{/if}}

<div class="collapsible">
  {{{text}}}
  <div class="oembed"></div>
  <div class="opengraph"></div>
  <div class="poll"></div>
</div>
