<div id="header">
    <div class="container" style="position:relative;">

        <div id="top-right-nav">
            {{#if current_user.guid}}
                <a href="/notifications" title="Notifications" id="notifications-button">
                    <span class="label label-inverse">
                        {{current_user.notifications_count}}
                    </span>
                </a>

                <a href="/people/{{current_user.guid}}?ex=true" id="profile-button">
                    <span class="label label-inverse">
                        <i class="icon-user icon-white"></i>
                        <span>
                            PROFILE
                        </span>
                    </span>
                </a>

                <a href="/" id="home-button">
                    <span class="label label-inverse">
                        <i class="icon-home icon-white"></i>
                        <span>
                            HOME
                        </span>
                    </span>
                </a>

                <a href="/users/sign_out" data-method="delete" title="Log out" id="logout-button">
                    <span class="label label-inverse">
                        <i class="icon-off icon-white"></i>
                    </span>
                </a>
            {{else}}
                <a href="/" id="home-button">
                    <span class="label label-inverse">
                        <span>
                            {{t "pod_name"}}
                        </span>
                    </span>
                </a>
            {{/if}}
        </div>

        <h1>
           <a href='/stream?ex=true' class='logo'>
            {{t "pod_name"}}
          </a>
        </h1>
    </div>
</div>

<div id="stream">
    <div class="container">
        <div class="row">
            <div class="background offset5"></div>
        </div>

        <div class="row">
            <div class='span4 offset1'>
                <section id="stream-content" />
                <div id="paginate">
                    <div class="loader"/>
                </div>
            </div>


            <!--Since stream-interactions is fixed, we need a double span5 declaration here :(-->
            <div class="span6">
                <section id="stream-interactions" class="span6"/>
            </div>
        </div>
    </div>
</div>
