<div class="media">

  {{#with author}}
    <a href="/people/{{guid}}" class="img {{{hovercardable this}}}">
      {{{personImage this}}}
    </a>
  {{/with}}

  <div class="bd">
    {{#if loggedIn}}
      <div class="control-icons">
        {{#if authorIsCurrentUser}}
          <a href="#" rel="nofollow" class="delete remove_post" title="{{t "delete"}}">
            <i class="entypo trash"></i>
          </a>
        {{else}}
          <a href="#" rel="nofollow" data-type="post" class="post_report" title="{{t "report.name"}}">
            <i class="entypo warning"></i>
          </a>
          <a href="#" rel="nofollow" class="block_user" title="{{t "ignore"}}">
            <i class="entypo block"></i>
          </a>
          {{#if participation}}
            <a href="#" rel="nofollow" class="destroy_participation" title="{{t "stream.disable_post_notifications"}}">
              <i class="entypo bell"></i>
            </a>
          {{else}}
            <a href="#" rel="nofollow" class="create_participation" title="{{t "stream.enable_post_notifications"}}">
              <i class="entypo bell"></i>
            </a>
          {{/if}}
          <a href="#" rel="nofollow" class="delete hide_post" title="{{t "stream.hide"}}">
            <i class="entypo cross"></i>
          </a>
        {{/if}}
      </div>
    {{/if}}

    <div>
      {{#linkToAuthor author}}
        {{name}}
      {{/linkToAuthor}}

      <span class="details grey">
        -
        <a href="/posts/{{id}}">
          <time class="timeago" data-original-title="{{{localTime created_at}}}" datetime="{{created_at}}" />
        </a>

        {{#if interactions.reshares_count}}
          -
          {{t "stream.reshares" count=interactions.reshares_count}}
        {{/if}}
      </span>
    </div>

    {{#if showPost}}
        {{#if nsfw}}
          <div class="nsfw_off">
            <strong>
              #NSFW
            </strong>
            |
            <a href="#" class="toggle_nsfw_state">
                {{t "stream.hide_nsfw_posts"}}
            </a>
          </div>
        {{/if}}
      <div class="post-content"> </div>
      <div class="status-message-location"> </div>

      <div class="feedback"> </div>
      <div class="likes"> </div>
      <div class="comments"> </div>
    {{else}}
      <div class="nsfw-shield">
        <strong>
          #NSFW
        </strong>
        |
        <a href="#" class="show_nsfw_post">
          {{t "stream.show_nsfw_post"}}
        </a>
        |
        <a href="#" class="toggle_nsfw_state">
          {{t "stream.show_nsfw_posts"}}
        </a>
      </div>
    {{/if}}

  </div>
