<div class="media">

  {{#with author}}
    <a href="/people/{{guid}}" class="img {{{hovercardable this}}}">
      {{{personImage this}}}
    </a>
  {{/with}}

  <div class="bd">
    {{#if loggedIn}}
      <div class="controls">
        {{#unless authorIsCurrentUser}}
          <a href="#" rel="nofollow" class="block_user">
            <div class="icons-ignoreuser control_icon" title="{{t "ignore"}}"></div>
          </a>
          <a href="#" rel="nofollow" class="delete hide_post">
            <div class="icons-deletelabel delete control_icon" title="{{t "stream.hide"}}"/>
          </a>
        {{else}}
          <a href="#" rel="nofollow" class="delete remove_post">
            <div class="icons-deletelabel delete control_icon" title="{{t "delete"}}" />
          </a>
        {{/unless}}
      </div>
    {{/if}}
    
    <div>
      {{#with author}}
        <a href="/people/{{guid}}" class="author {{{hovercardable this}}}">{{name}}</a>
      {{/with}}

      <span class="details grey">
        -
        <a href="/posts/{{id}}">
          <time class="timeago" data-original-title="{{{localTime created_at}}}" datetime="{{created_at}}" />
        </a>

        {{#if interactions.reshares_count}}
          -
          {{t "stream.reshares" count=interactions.reshares_count}}
        {{/if}}
      </span>
    </div>

    {{#if showPost}}
        {{#if nsfw}}
          <div class="nsfw_off">
            <strong>
              #NSFW
            </strong>
            |
            <a href="#" class="toggle_nsfw_state">
                {{t "stream.hide_nsfw_posts"}}
            </a>
          </div>
        {{/if}}
      <div class="post-content"> </div>
      <div class="status-message-location"> </div>

      <div class="feedback"> </div>
      <div class="likes"> </div>
      <div class="comments"> </div>
    {{else}}
      <div class="nsfw-shield">
        <strong>
          #NSFW
        </strong>
        |
        <a href="#" class="show_nsfw_post">
          {{t "stream.show_nsfw_post"}}
        </a>
        |
        <a href="#" class="toggle_nsfw_state">
          {{t "stream.show_nsfw_posts"}}
        </a>
      </div>
    {{/if}}

  </div>
