<div id="{{guid}}" data-id="{{id}}" data-target="#{{guid}}" class="stream-frame-wrapper">

    <div class="permalink-wrapper info">
        <a href="/posts/{{id}}" class="permalink">
            <i class="icon-zoom-in icon-white"></i>
        </a>
    </div>

    <div class="permalink-wrapper info">
        <a href="/p/{{guid}}">
            <i class="icon-zoom-in icon-white"></i>
        </a>
    </div>
    <div class='stream-frame-feedback'></div>

    <div class="media author">
        {{#linkToPerson author}}
            <div class="img">
                <div class="profile-image-container smaller" style="background-image : url('{{avatar.large}}')"></div>
            </div>
        {{/linkToPerson}}

        <div class="bd">
            {{#linkToPerson author}}
                {{name}}
            {{/linkToPerson}}
        </div>
    </div>

    <div class="small-frame"></div>
</div>
