-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.container{:style => "position:relative;"}
  - if current_user
    = link_to image_tag('logo_small.png', :height => "16px", :width => "161px", :class => "diaspora_header_logo"), root_path
  - else
    = link_to image_tag('logo_large.png', :height => "32px", :width => "321px", :class => "diaspora_header_logo"), root_path

  - if !current_user
    .right
      %ul#landing_nav
        %li= link_to '@joindiaspora', "http://twitter.com/joindiaspora"
        %li= link_to 'github', "https://github.com/diaspora/diaspora"
        %li= link_to t('.blog'), 'http://blog.joindiaspora.com/'
        %li= link_to t('.login'), new_user_session_path, :class => 'login'

  - elsif (current_user || !@landing_page)
    #global_search
      = form_tag(people_path, :method => 'get', :id => "global_search_form") do
        = text_field_tag 'q', nil, :placeholder => t('find_people'), :type => 'search', :results => 5

    - if @notification_count
      #nav_badges
        #home_badge.badge
          = link_to aspects_path, :title => t('_home') do
            = image_tag 'icons/home_grey.svg', :height => 16

        #contacts_badge.badge
          = link_to contacts_path, :title => t('_contacts') do
            = image_tag 'icons/contacts_grey.svg', :height => 16

        #notification_badge.badge
          = link_to notifications_path, :title => new_notification_text(@notification_count) do
            = image_tag 'icons/notifications_grey.svg', :height => 16, :id => "notification-flag"
            .badge_count{:class => ("hidden" if @notification_count == 0)}
              = @notification_count

        #message_inbox_badge.badge
          = link_to conversations_path , :title => new_message_text(@unread_message_count) do
            = image_tag 'icons/mail_grey.svg', :width => 18
            .badge_count{:class => ("hidden" if @unread_message_count == 0)}
              = @unread_message_count

      #notification_dropdown
        .header
          = link_to t('.view_all'), notifications_path, :id => "view_all_notifications"
          %h4
            Recent notifications
        .notifications
          .ajax_loader
            = image_tag("ajax-loader.gif")

      #hovercard
        %img.avatar
        %a.person

    %ul#user_menu.dropdown
      %li
        .right
          &#9660;
        .avatar
          = owner_image_tag(:thumb_small)
        = link_to current_user.name, '#'
      %li= link_to t('.profile'), current_user.person
      %li= link_to t('.settings'), edit_user_path
      -if current_user.admin?
        %li= link_to t('.admin'), user_search_path
      %li= link_to t('.logout'), destroy_user_session_path

    -unless @landing_page
      .facebox_content
        #add_aspect_pane
          = render "aspects/new"
