-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.container{:style => "position:relative;"}
  #diaspora_text
    = link_to "DIASPORA*", (current_user ? root_path : new_user_session_path)
    %span.sub_text
      ALPHA

  - unless current_user
    .right
      %ul#landing_nav
        %li= link_to t('.blog'), "http://blog.joindiaspora.com"
        %li= link_to t('.developers'), "https://github.com/diaspora/diaspora"
        %li= link_to t('.login'), new_user_session_path
  - else
    #global_search
      = form_tag(people_path, :method => 'get') do
        = text_field_tag 'q', nil, :placeholder => t('search'), :type => 'search', :results => 5

    %ul#user_menu
      .right
        ▼
      .avatar
        = owner_image_tag
      = link_to current_user.real_name, '#'
      %li= link_to t('.view_profile'), current_user.person
      %li= link_to t('.edit_profile'), edit_person_path(current_user.person)
      %li= link_to t('.account_settings'), edit_user_path(current_user)
      %li= link_to t('.logout'), destroy_user_session_path

    = render "shared/aspect_nav"
