-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%header
    - unless current_user
        .container{:style => "position:relative;"}
            = link_to content_tag(:div, nil, :class => 'diaspora_header_logo branding-header-logo'), root_path

            %ul#landing_nav
                %li= link_to '@joindiaspora', "http://twitter.com/joindiaspora"
                %li= link_to 'github', "https://github.com/diaspora/diaspora"
                %li= link_to t('.blog'), 'http://blog.diasporafoundation.org/'
                %li= link_to t('.login'), new_user_session_path, :class => 'login'
