!!!
%html
  %head
    %title
      = yield(:title) || "diaspora"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{"http-equiv"=> "X-UA-Compatible", :content =>"chrome=1" }
    
    = stylesheet_link_tag "blueprint/screen", :media => 'screen'
    = stylesheet_link_tag "application"
    /= javascript_include_tag"http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    = javascript_include_tag 'jquery142', 'rails', 'view'
    = javascript_include_tag 'tiny_mce/tiny_mce.js'

    
    - unless request.user_agent.include? "Safari" ||"Chrome"
      = javascript_include_tag 'FABridge', 'swfobject', 'web_socket'
      :javascript
          WebSocket.__swfLocation = "/javascripts/WebSocketMain.swf";
    
    
    = csrf_meta_tag
    = yield(:head)

    -  if user_signed_in?
      :javascript
          $(document).ready(function(){
          
          
          
          function debug(str){ $("#debug").append("<p>" +  str); };

          ws = new WebSocket("ws://#{request.host}:8080/");
          ws.onmessage = function(evt) { 
            var obj = jQuery.parseJSON(evt.data);
             if((location.href.indexOf(obj['class']) != -1 ) || (location.pathname == '/')) {
                $("#stream").prepend($(obj['html']).fadeIn("fast")); 
             };
          }
          ws.onclose = function() { debug("socket closed"); };
          ws.onopen = function() {
          debug("connected...");
          };
          });
  %body
  
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    
    %header
      %a#diaspora_text{:href => root_path}
        %img{:src => '/images/diaspora_white.png'}

      #session_action
        - if user_signed_in?
          =User.first.email
          |
          = link_to "logout", destroy_user_session_path
        - else
          = link_to "login", new_user_session_path
          
    #header_below
      
      - if user_signed_in?
        %h1#user_name
          = link_to User.first.real_name, root_url
          %span.description
            = my_latest_message

        %nav
          %ul.nav
            %a{ :href => root_path, :title => "Your network stream."}
              %li home
            %a{ :href => users_path, :title => "Registered users on your seed."}
              %li users
            %a{ :href => status_messages_path, :title => "Recent status messages."}
              %li status messages
            %a{ :href => bookmarks_path, :title => "Recently shared links."}
              %li bookmarks
            %a{ :href => blogs_path, :title => "Recent blog posts."}
              %li blogs
            %a{ :href => friends_path, :title => "Your list of connections with other seeds."}
              %li friends


    #content
      = yield
      = render "posts/debug"
