-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

!!!
%html{:lang => I18n.locale.to_s}
  %head
    %title
      DIASPORA*

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

    = include_javascripts :mobile
    -if current_user
      :javascript
        Diaspora.widgets.i18n.loadLocale(#{get_javascript_strings_for(current_user.language).to_json}, "#{current_user.language}");

    = stylesheet_link_tag 'vendor/jquery.mobile-1.0a3.min', 'mobile'
    = csrf_meta_tag

    :javascript
      $(document).ready(Mobile.initialize);
      $(document).ready( function() {
        $("#menu_button").bind('tap', function(e){
          e.preventDefault();
          $("#content").hide();
          $("#menu").show();
        });
      });

    = yield(:head)

    -if AppConfig[:google_a_site]
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{AppConfig[:google_a_site]}']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    -if AppConfig[:piwik_id]
      :javascript
        var pkBaseURL = (("https:" == document.location.protocol) ? "https://#{AppConfig[:piwik_url]}/" : "http://#{AppConfig[:piwik_url]}/");
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", #{AppConfig[:piwik_id]});
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
        } catch( err ) {}


  %body
    #content{:data => {:role => 'page'}}
      #header
        - if current_user
          .left
            = link_to(image_tag('icons/list_white.png'), '#menu', :id => "menu_button")

          .right
            = link_to(image_tag('icons/search_white.png'), people_path)
        = link_to(image_tag('white.png'), aspects_path)

      = yield

      #footer
        - if current_user
          logged in as
          = link_to current_user.name, current_user.person

          %br
          %br
          %b= t('.your_aspects')
          %br
          - for aspect in @all_aspects
            = link_to aspect, aspects_path('a_ids[]' => aspect.id)
            |
          %br

          %br
          = link_to t('layouts.header.logout'), destroy_user_session_path

          %br
          %br
          = link_to t('layouts.application.toggle'), toggle_mobile_path

    -if current_user
      #menu{:data => {:role => 'page'}}
        #header
          .right
            = link_to(image_tag('icons/search_white.png'), people_path)
          = link_to(image_tag('white.png'), aspects_path)

        %div{:data => {:role => 'content'}}
          %h2
            = current_user.name

          %ul{:data => {:role => 'listview', :inset => 'true'}}
            %li
              = link_to t('profiles.edit.your_profile'), edit_profile_path
            %li
              = link_to t('notifications.index.notifications'), notifications_path
              .ui-li-count
                = @notification_count

          %h4
            = t('.your_aspects')

          %ul{:data => {:role => 'listview', :inset => 'true'}}
            %li
              = link_to t('application.helper.aspect_badge.all_aspects'), aspects_path
            - for aspect in @all_aspects
              %li
                = link_to aspect, aspects_path('a_ids[]' => aspect.id)


        #footer
          = link_to t('.logged_in_as', :name => current_user.name), current_user.person

          %br
          %br
          %b= t('.your_aspects')
          %br
          - for aspect in @all_aspects
            = link_to aspect, aspects_path('a_ids[]' => aspect.id)
            |
          %br
          %br
          = link_to t('layouts.header.logout'), destroy_user_session_path
          %br
          %br
          = link_to t('layouts.application.toggle'), toggle_mobile_path
