!!!
%html
  %head
    %title
      = "#{current_user.real_name} | diaspora" if current_user

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    
    = stylesheet_link_tag "blueprint/screen", :media => 'screen'
    = stylesheet_link_tag "application", "ui", 'bubble'

    = stylesheet_link_tag "/../javascripts/fancybox/jquery.fancybox-1.3.1" 

    /= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag 'jquery142', 'rails', 'google'
    = javascript_include_tag 'tiny_mce/tiny_mce'
    = javascript_include_tag 'jquery.infieldlabel', 'jquery.cycle/jquery.cycle.min.js'
    
    = javascript_include_tag 'fancybox/jquery.fancybox-1.3.1.pack'

    = javascript_include_tag 'view', 'publisher', 'image_picker', 'group_nav'
    = render 'js/websocket_js'
    
    = csrf_meta_tag
    = yield(:head)

    = javascript_include_tag 'jquery.html5_upload'

  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"

    %header
      .container
        #session_action
          - if user_signed_in?
            %ul#user_menu
              %li#global_search
                = form_tag(users_path, :method => 'get') do
                  %label{:for => 'q'} Search
                  = text_field_tag 'q'

              %li
                %ul#other_user_menu
                  %li
                    = owner_image_tag 
                    = link_to current_user.real_name, current_user.person
                  %li.requests= link_to "requests (#{@request_count})", requests_path, :class => new_request(@request_count)
                  %li.settings= link_to "settings", edit_user_path(current_user)
                  %li.logout= link_to "logout", destroy_user_session_path

          - else
            = link_to "login", new_user_session_path

        #diaspora_text{:href => root_path}
          = link_to "DIASPORA*", root_path
          %span.sub_text
            PREVIEW

        = link_to "photos", albums_path

    .container
      .span-4.append-1.last
        = render "shared/group_nav"

      .span-19.last
        = yield

        = render "posts/debug"
