-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

!!!
%html{:lang => I18n.locale.to_s}
  %head
    %title
      = "#{current_user.real_name} | diaspora" if current_user

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

    = stylesheet_link_tag "blueprint/screen", :media => 'screen'
    = stylesheet_link_tag "blueprint/print", :media => 'print'

    = stylesheet_link_tag "application", "ui"
    = stylesheet_link_tag "/../javascripts/fancybox/jquery.fancybox-1.3.1"
    = stylesheet_link_tag "fileuploader"
    = stylesheet_link_tag "tipsy"

    - if current_user
      %link{:rel => "alternate", :href => "#{current_user.public_url}", :type => "application/atom+xml", :title => "Public Diaspora Feed for #{current_user.real_name}"}
    
    /= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag 'jquery-1.4.2.min', 'rails'
    = javascript_include_tag 'jquery.infieldlabel', 'jquery.cycle/jquery.cycle.min.js'
    = javascript_include_tag 'jquery.tipsy'

    = javascript_include_tag 'fancybox/jquery.fancybox-1.3.1.pack'
    = javascript_include_tag 'fileuploader'

    = javascript_include_tag 'view', 'image_picker', 'stream'

    - if current_user
      = render 'js/websocket_js'

    = csrf_meta_tag
    = yield(:head)

  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"

    %header
      .container{:style => "position:relative;"}
        #diaspora_text{:href => root_path}
          = link_to "DIASPORA", (current_user ? root_path : new_user_session_path)
          %span.sub_text
            PREVIEW

        - if current_user
          #global_search
            = form_tag(people_path, :method => 'get') do
              = text_field_tag 'q', nil, :placeholder => t('.search'), :type => 'search', :results => 5

          %ul#user_menu
            .avatar
              = owner_image_tag
            = link_to current_user.real_name, '#'
            %li= link_to t('.view_profile'), current_user.person
            %li= link_to t('.edit_profile'), edit_person_path(current_user.person)
            %li= link_to t('.account_settings'), edit_user_path(current_user)
            %li= link_to t('.logout.'), destroy_user_session_path

          = render "shared/aspect_nav"

    .container
      .span-24.last
        = yield

      .span-24.last
        = render "posts/debug"

