!!!
%html
  %head
    %title
      = "#{current_user.real_name} | diaspora" if current_user

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    
    = stylesheet_link_tag "blueprint/screen", :media => 'screen'
    = stylesheet_link_tag "application"
    /= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag 'jquery142', 'rails', 'view', 'publisher', 'google'
    = javascript_include_tag 'tiny_mce/tiny_mce', 'jquery.infieldlabel'
    = render 'js/websocket_js'
    
    = csrf_meta_tag
    = yield(:head)

    = javascript_include_tag 'satisfaction' , 'satisfaction-display'

  %body
    %header
      .container
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        #diaspora_text{:href => root_path}
          = link_to "DIASPORA*", root_path
          %span.sub_text
            PREVIEW

        #session_action
          - if user_signed_in?
            = current_user.real_name
            |
            = link_to "requests (#{@request_count})", requests_path, :class => new_request(@request_count)
            |
            = link_to "logout", destroy_user_session_path
          - else
            = link_to "login", new_user_session_path


    = render "shared/publisher"
    .container
      .span-24.last
        .span-3.append-1.last
          = link_to owner_picture, root_path
          = link_to "Edit your profile", edit_user_path(current_user)
          %br
          %br
          = render 'people/sidebar' if user_signed_in?

        .span-20.last
          - if user_signed_in?
            %h1#user_name
              = link_to current_user.real_name, root_path
              %span.description
                = my_latest_message
          = yield

        .span-20.last
          = render "posts/debug"
