-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

!!!
%html{:lang => I18n.locale.to_s}
  %head
    %title
      = "#{current_user.name} | diaspora" if current_user

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

    = include_javascripts :mobile
    = stylesheet_link_tag 'vendor/jquery_mobile.min', 'mobile'
    = csrf_meta_tag

    :javascript
      $(document).ready(Mobile.initialize);

    = yield(:head)

  %body
    #content{:data => {:role => 'page'}}
      %div{:data => {:role => 'header', :nobackbtn => 'true'}}
        %h4
          DIASPORA*
        /= link_to image_tag('logo_large.png', :height => "32px", :width => "321px", :class => "diaspora_header_logo"), root_path
      = yield
