-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

!!!
%html{:lang => I18n.locale.to_s, :dir => (rtl?) ? 'rtl' : 'ltr'}
  %head
    %title
      DIASPORA*

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{:name =>'viewport', :content => "width=device-width, minimum-scale=1, maximum-scale=1"}
    %meta{:name => "HandheldFriendly", :content => "True"}
    %meta{:name => "MobileOptimized", :content => "320"}
    %meta{'http-equiv' => "cleartype", :content => 'on'}

    = include_javascripts :mobile
    -if current_user
      :javascript
        Diaspora.I18n.loadLocale(#{get_javascript_strings_for(current_user.language).to_json}, "#{current_user.language}");

    =include_stylesheets :mobile
    = csrf_meta_tag

    - if rtl?
      = include_stylesheets :rtl, :media => 'all'

    = yield(:head)

    -if AppConfig[:google_a_site]
      :javascript
        var _gaq=[["_setAccount","#{AppConfig[:google_a_site]}"],["_trackPageview"]];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
        s.parentNode.insertBefore(g,s)}(document,"script"));

    -if AppConfig[:piwik_id]
      :javascript
        var pkBaseURL = (("https:" == document.location.protocol) ? "https://#{AppConfig[:piwik_url]}/" : "http://#{AppConfig[:piwik_url]}/");
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", #{AppConfig[:piwik_id]});
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
        } catch( err ) {}


  %body
    %header
      /- if current_user
      /  /= link_to(image_tag('icons/list_white.png'), '#menu', :id => "menu_button")
      /  /= link_to(image_tag('icons/search_white.png'), people_path, :class => "right")
      = link_to(image_tag('white@2x.png', :height => 22, :width => 136, :id => 'header_title'), aspects_path)

    - if flash.present?
      %p
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

    = yield

    /= render :partial =>'shared/footer' if user_signed_in?

