-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

!!!
%html{:lang => I18n.locale.to_s, :dir => (rtl?) ? 'rtl' : 'ltr'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}

    %meta{:name => "description", :content => "Diaspora*"}
    %meta{:name => "author", :content => "Diaspora, Inc."}
    = og_site_name

    %link{:rel => 'shortcut icon', :href => "#{image_path('favicon.png')}" }
    %link{:rel => 'apple-touch-icon', :href => "#{image_path('apple-touch-icon.png')}"}

    %title
      = page_title yield(:page_title)

    = og_site_name
    = chartbeat_head_block
    = include_mixpanel

    = include_base_css_framework(@css_framework)
    - if @css_framework == :bootstrap && !@include_application_css
      = stylesheet_link_tag :default, 'new-templates', :media => 'all'
    - else
      = stylesheet_link_tag 'login', 'application', 'default'

    - if rtl?
      = stylesheet_link_tag :rtl, :media => 'all'

    = old_browser_js_support
    <!--[if IE]>
    = javascript_include_tag :ie
    <![endif]-->

    = jquery_include_tag

    - unless @landing_page
      = javascript_include_tag :main, :templates
      = load_javascript_locales

    = set_asset_host
    = set_current_user_in_javascript
    = translation_missing_warnings
    = current_user_atom_tag

    = yield(:head)
    = csrf_meta_tag

    - if @post.present?
      %link{:rel => 'alternate', :type => "application/json+oembed", :href => "#{oembed_url(:url => post_url(@post))}"}
      = og_page_specific_tags(@post)

    = include_gon(:camel_case => true, :namespace => :preloads)

  %body
    = flash_messages

    = yield :before_content

    - if content_for?(:container_content)
      .container
        =  yield(:container_content)
    - else
      = content_for?(:content) ? yield(:content) : yield

    = yield :after_content

    = include_chartbeat
    = include_mixpanel_guid
