!!!
%html
  
  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

    = stylesheet_link_tag "blueprint/screen", :media => 'screen'
    = stylesheet_link_tag "application"
    = javascript_include_tag 'jquery142'
    /= javascript_include_tag"http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    = javascript_include_tag 'rails'
    = csrf_meta_tag
    = yield(:head)
  
  %body
    #header
      .container
        #huge_star *
        %a#diaspora_text{:href => root_path}
          /%img{:src => '/images/diaspora_white.png'}
        %ul.nav
          %li= link_to "home", root_path
          %li= link_to "users", users_path
          %li= link_to "status messages", status_messages_path
          %li= link_to "friends", friends_path
          %li= link_to "bookmarks", bookmarks_path
          %li= link_to "blogs", blogs_path 

        #session_action
          - if user_signed_in?
            = link_to "log out", destroy_user_session_path
          - else
            = link_to "login", new_user_session_path
            
    #header_below

    .container
      - if show_title?
        %h2= yield(:title)
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      = yield
