!!!
%html
  
  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

    = stylesheet_link_tag "blueprint/screen", :media => 'screen'
    = stylesheet_link_tag "application"
    = javascript_include_tag 'jquery142'
    /= javascript_include_tag"http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    = javascript_include_tag 'rails'
    = csrf_meta_tag
    = yield(:head)

    :javascript
      $(document).ready(function(){
        $('a').hover(function(){
          $(this).fadeTo(60, 0.5);
        }, function(){
          $(this).fadeTo(80, 1);
        });
        $('ul.nav li').hover(function(){
          $(this).fadeTo(60, 0.5);
        }, function(){
          $(this).fadeTo(80, 1);
        });
      });
      

  %body
    %header
      %a#diaspora_text{:href => root_path}
        %img{:src => '/images/diaspora_white.png'}

      #session_action
        - if user_signed_in?
          =User.first.email
          |
          = link_to "logout", destroy_user_session_path
        - else
          = link_to "login", new_user_session_path
          
    #header_below
      - if user_signed_in?
        %h1#user_name
          = link_to User.first.email, root_url
          %span.description
            - if StatusMessage.my_newest
              = StatusMessage.my_newest.message

        %nav
          %ul.nav
            %a{ :href => root_path, :title => "Your network stream."}
              %li home
            %a{ :href => users_path, :title => "Registered users on your seed."}
              %li users
            %a{ :href => status_messages_path, :title => "Recent status messages."}
              %li status messages
            %a{ :href => bookmarks_path, :title => "Recently shared links."}
              %li bookmarks
            %a{ :href => blogs_path, :title => "Recent blog posts."}
              %li blogs
            %a{ :href => friends_path, :title => "Your list of connections with other seeds."}
              %li friends

    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"

    #content
      = yield

