!!!
%html
  
  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

    = stylesheet_link_tag "blueprint/screen", :media => 'screen'
    = stylesheet_link_tag "application"
    = javascript_include_tag 'jquery142'
    /= javascript_include_tag"http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    = javascript_include_tag 'rails'
    = csrf_meta_tag
    = yield(:head)


    :javascript
      $(document).ready(function(){
        $('a').hover(function(){
          $(this).fadeTo(60, 0.5);
        }, function(){
          $(this).fadeTo(80, 1);
        });
      });
      

  %body
    %header
      %a#diaspora_text{:href => root_path}
        %img{:src => '/images/diaspora_white.png'}

      #session_action
        - if user_signed_in?
          = link_to User.first.email, destroy_user_session_path
        - else
          = link_to "login", new_user_session_path
          
    #header_below
      - if user_signed_in?
        %h1#user_name
          = link_to User.first.email, root_url
          %span.description= StatusMessage.my_newest.message

         
        %img{:src => '/images/mocks/bp.jpeg'}

        %nav
          %ul.nav
            %li= link_to "home", root_path
            %li= link_to "users", users_path
            %li= link_to "status messages", status_messages_path 
            %li= link_to "bookmarks", bookmarks_path 
            %li= link_to "blogs", blogs_path 
            %li= link_to "friends", friends_path

    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    %br
    %br
    %br
    %br
    #content
      = yield
