/    Copyright 2010 Diaspora Inc.
/
/    This file is part of Diaspora.
/
/    Diaspora is free software: you can redistribute it and/or modify
/    it under the terms of the GNU Affero General Public License as published by
/    the Free Software Foundation, either version 3 of the License, or
/    (at your option) any later version.
/
/    Diaspora is distributed in the hope that it will be useful,
/    but WITHOUT ANY WARRANTY; without even the implied warranty of
/    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/    GNU Affero General Public License for more details.
/
/    You should have received a copy of the GNU Affero General Public License
/    along with Diaspora.  If not, see <http://www.gnu.org/licenses/>.
/


!!!
%html
  %head
    %title
      = "#{current_user.real_name} | diaspora" if current_user

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    
    = stylesheet_link_tag "blueprint/screen", :media => 'screen'
    = stylesheet_link_tag "application", "ui"

    = stylesheet_link_tag "/../javascripts/fancybox/jquery.fancybox-1.3.1" 
    = stylesheet_link_tag "fileuploader" 

    /= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag 'jquery-1.4.2.min', 'rails'
    = javascript_include_tag 'jquery.infieldlabel', 'jquery.cycle/jquery.cycle.min.js'
    
    = javascript_include_tag 'fancybox/jquery.fancybox-1.3.1.pack'
    = javascript_include_tag 'fileuploader'

    = javascript_include_tag 'view', 'image_picker', 'stream'

    = render 'js/websocket_js'
    
    = csrf_meta_tag
    = yield(:head)

  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"

    %header
      .container{:style => "position:relative;"}
        #diaspora_text{:href => root_path}
          = link_to "DIASPORA*", root_path
          %span.sub_text
            PREVIEW

        #session_action
          %ul
            %li#global_search
              = form_tag(people_path, :method => 'get') do
                %label{:for => 'q'} Search
                = text_field_tag 'q'

            %li= link_to current_user.real_name, current_user.person
            %li= link_to "edit profile", edit_user_path(current_user)
            %li= link_to "logout", destroy_user_session_path

        = render "shared/aspect_nav"

      #aspect_header
        .container
          .span-5.last
            - if @person
              %h1
                = @person.real_name
            - else
              - if @aspect == :all
                %h1
                  = link_to "All Aspects", root_path
              - else
                %h1
                  = link_to @aspect.name, @aspect

            .page_title
              = yield :page_title

          .span-19.last
            = yield :publish

    .container
      .span-5.last
        = yield :left_pane

      .span-19.last
        = yield

      .span-19.prepend-5.last
        = render "posts/debug"
