!!!
%html
  %head
    %title
      = "diaspora "
      = "- #{User.first.real_name}" if User.first
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    
    = stylesheet_link_tag "blueprint/screen", :media => 'screen'
    = stylesheet_link_tag "application"
    /= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag 'jquery142', 'rails', 'view', 'publisher', 'google'
    = javascript_include_tag 'tiny_mce/tiny_mce', 'jquery.infieldlabel'
    = render 'js/websocket_js'
    
    = csrf_meta_tag
    = yield(:head)

  
  /= javascript_include_tag 'satisfaction' , 'satisfaction-display'
  %body
    %header
      .container
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        #diaspora_text{:href => root_path}
          = link_to "DIASPORA*", root_path
          %span.sub_text
            PREVIEW

        #session_action
          - if user_signed_in?
            =User.first.real_name
            |
            = link_to "logout", destroy_user_session_path
          - else
            = link_to "login", new_user_session_path


    = render "shared/publisher"
    .container

      #content.span-24.last
        .span-3.append-1.last
          = link_to owner_picture, root_path
          /= render 'friends/sidebar' if user_signed_in?

        .span-20
          - if user_signed_in?
            %h1#user_name
              = link_to User.first.real_name, root_url
              %span.description
                = my_latest_message
          = yield
          = render "posts/debug"
