!!!
%html
  %head
    %title
      = "diaspora "
      = "- #{User.first.real_name}" if User.first
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    
    = stylesheet_link_tag "blueprint/screen", :media => 'screen'
    = stylesheet_link_tag "application"
    /= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag 'jquery142', 'rails', 'view', 'publisher', 'google_a'
    = javascript_include_tag 'tiny_mce/tiny_mce', 'jquery.infieldlabel'
    = render 'js/websocket_js'
    
    = csrf_meta_tag
    = yield(:head)

  
  = javascript_include_tag 'satisfaction' , 'satisfaction-display'
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    
    %header
      .container
        %a#diaspora_text{:href => root_path}
          %img{:src => '/images/diaspora_white.png'}
          preview

        #session_action
          - if user_signed_in?
            =User.first.email
            |
            = link_to "logout", destroy_user_session_path
          - else
            = link_to "login", new_user_session_path


    .container
      - if user_signed_in?
        %h1#user_name
          = link_to User.first.real_name, root_url
          %span.description
            = my_latest_message

      #content.span-24.last
        .span-5.append-1.last
          = link_to owner_picture, root_path
          %ul#stream_filters.nav
            %li= link_to "status messages", status_messages_path
            %li= link_to "bookmarks", bookmarks_path
            %li= link_to "blogs", blogs_path
          = render 'friends/sidebar' if user_signed_in?

        .span-18
          = yield
          = render "posts/debug"
