-#   Copyright (c) 2010-2012, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

!!!
%html{:lang => I18n.locale.to_s, :dir => (rtl?) ? 'rtl' : 'ltr'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}

    = csrf_meta_tag

    %link{:rel => 'shortcut icon', :href => "#{image_path('favicon.png')}" }
    %link{:rel => 'apple-touch-icon', :href => "#{image_path('apple-touch-icon.png')}"}

    %title
      = page_title yield(:page_title)

    = include_base_css_framework
    = stylesheet_link_tag 'application', 'default'
    = translation_missing_warnings
    :css
      body { padding: 0; margin: 0; }

    = jquery_include_tag
    = javascript_include_tag :main, :templates, :home
    = load_javascript_locales
    = set_asset_host
    = set_current_user_in_javascript

    = yield(:head)

  %body

    = yield