%table{cellspacing: 0, cellpadding: 0, border: 0,
       style: "font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px"}
  %tr
    - if @notification.try(:sender)
      %td{width: "60px", style: "vertical-align: top"}>
        %div{style: "background-color: #eee; height: 50px; width: 50px"}
          = image_tag @notification.sender.profile.image_url(size: :thumb_small), alt: @notification.sender.name,
                      style: "border: 0, display: block; top: 0; left: 0", height: "50px", width: "50px"
    %td{style: "vertical-align: top"}
      != yield

%div{style: "font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; color: #999; padding-top: 10px; margin-top: 10px; border-top: 1px solid #ddd"}
  != t("notifier.email_sent_by_diaspora", pod_name: link_to(pod_name, AppConfig.pod_uri.site))
  != link_to t("notifier.click_here"), edit_user_url
  != t("notifier.to_change_your_notification_settings") + "."
