!!!
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = render :partial => 'notifier_css'
  %body
    %header
      = image_tag attachments['logo_caps.png'].url, :alt => "DIASPORA"
    #container
      = yield
    %a{:href => "#{AppConfig[:pod_uri].scheme}://#{AppConfig[:pod_uri].host}#{edit_user_path}"}
      = t('notifier.manage_your_email_settings')
