-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

!!!
%html{:lang => I18n.locale.to_s, :dir => (rtl?) ? 'rtl' : 'ltr'}
  %head
    %meta{:charset => 'utf-8'}

    %title
      = page_title yield(:page_title)

    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

    %link{:rel => 'shortcut icon', :href => '/favicon.png'}
    %link{:rel => 'apple-touch-icon', :href => '/apple-touch-icon.png'}

    / Social Media Icons are by Paul Robert Lloyd @ http://paulrobertlloyd.com/2009/06/social_media_icons
    = stylesheet_link_tag "login", :media => 'screen'

    = stylesheet_link_tag "blueprint/screen", :media => 'screen'
    = stylesheet_link_tag "blueprint/print", :media => 'print'
    = include_stylesheets :popup, :media => 'all'

    - if rtl?
      = include_stylesheets :rtl, :media => 'all'

    <!--[if IE]>
    = javascript_include_tag "/javascripts/ie.js"
    <![endif]-->

    = include_javascripts :jquery
    :javascript
      !window.jQuery && document.write(unescape('%3Cscript src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"%3E%3C/script%3E'))

    = csrf_meta_tag

    -if AppConfig[:google_a_site]
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{AppConfig[:google_a_site]}']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    -if AppConfig[:piwik_id]
      :javascript
        var pkBaseURL = (("https:" == document.location.protocol) ? "https://#{AppConfig[:piwik_url]}/" : "http://#{AppConfig[:piwik_url]}/");
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", #{AppConfig[:piwik_id]});
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
        } catch( err ) {}


  %body{:class => "#{yield(:body_class)}"}
    %header
      = image_tag('asterisk_white.png', :height => 20, :width => 20, :id => 'asterisk')
      Grant Account Access

    = yield

    %footer
      = "logged in as #{current_user.name}"

