!!!
%html
  %head
    %title
      = "diaspora" 
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{"http-equiv"=> "X-UA-Compatible", :content =>"chrome=1" }
    
    = stylesheet_link_tag "blueprint/screen", :media => 'screen'
    = stylesheet_link_tag "sessions"
    /= javascript_include_tag"http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag 'jquery142'

    = csrf_meta_tag
    = yield(:head)

  %body
    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      - if User.first  
        %div#huge_text
          welcome back, 
          %span
            = User.first.real_name.downcase
        = yield
      -else
        %div#huge_text
          %span
            you need to add a user first!

